- @headerBorder = true
- @pageClass = 'aboutPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link О компании

    .page-jumbotron__container
      %h2.page-jumbotron__header.about-page__jumbotron-header О компании


  .about-page__tabs
    .container.about-page__tabs-container
      = react_component "Tabs/Tabs", props={links: [{title: "Клиентам", href: about_clients_path},
      {title: "Партнерам", href: about_partners_path, active: true},
      {title: "Инвесторам", href: about_investors_path},
      {title: "Соискателям", href: about_jobs_path},
      {title: "Юридическая информация", href: about_legal_path},
      ]}, html_options={class: 'tabs__wrapper'}

.container.about-page__container
  %h3.about-page__header.animation-waypoint История МРТ-Эксперт
  %p.about-page__partners-prehistory.animation-waypoint За 10 лет мы прошли несколько этапов:

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header Первый этап (2007 – 2009 гг.)
    .dashed-list
      .dashed-list__item
        %p.about-page__partners-paragraph
          Мы открыли 7 центров МРТ-диагностики в разных регионах, чтобы отработать модель центра с удаленным
          управлением, а также понять, какие ключевые компетенции необходимы для будущего масштабирования и роста сети.
        %p.about-page__partners-paragraph
          В первые 3 года мы столкнулись с региональными проблемами кадрового дефицита готовых специалистов – врачей-рентгенологов,
          способных описывать исследования&nbsp;МРТ. И пришли к выводу, что единственный выход – самим подготовить
          специалистов.
      .dashed-list__item
        %p.about-page__partners-paragraph
          Кроме того, мы на практике убедились, что ключевая задача управления риском медицинского центра с моноуслугой,
          зависящей от высокотехнологичного оборудования – обеспечение бесперебойной работы и быстрое восстановление после
          остановки по техническим причинам. К сожалению, сервисные контракты производителя не обеспечивают необходимой скорости реагирования. А значит, мы не можем управлять показателями простоя оборудования.

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header Второй этап (2010 – 2013 гг.)
    %p.about-page__partners-paragraph Мы формировали Управляющую компанию и создавали центры, критически важные для роста компетенций, снижающих риски от дефицита внешних ресурсов:
    .dashed-list
      .dashed-list__item Корпоративный университет по подготовке и обучению врачей МРТ-диагностики
      .dashed-list__item Собственная инженерная служба

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header Третий этап – с 2014 года.
    %p.about-page__partners-paragraph
      Мы начали создавать и отрабатывать модель управления многопрофильной клиникой. На этом этапе компания перешла на
      другой уровень организационной и управленческой зрелости. Большая часть задач по стандартизации, унификации
      бизнес-процессов управления уже была реализована. А главное, сформировалась команда опытных, успешных управленцев.
      Именно тогда мы поняли, что компания готова к реализации более сложного проекта по созданию сети многопрофильных
      медицинских центров.

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header Сегодня медицинская сеть ГК Эксперт представлена:
    .dashed-list
      .dashed-list__item
        39 диагностическими центрами «МРТ Эксперт», расположенными в 36 регионах России (от Калининграда до
        Южно-Сахалинска и от Сочи до Мурманска)
      .dashed-list__item
        10 многопрофильными медицинскими центрами «Клиника Эксперт», расположенными в 10 регионах (Хабаровск, Воронеж,
        Смоленск, Курск, Тверь, Тула, Ставрополь, Ростов, Борисоглебск, Владикавказ)

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header.about-page__content-header_small И имеет следующие преимущества:
    .dashed-list
      .dashed-list__item Сеть с самым большим территориальным покрытием
      .dashed-list__item Все центры сети находятся под прямым операционным управлением
      .dashed-list__item Врачами-рентгенологами нашей сети создана первая саморегулируемая организация&nbsp;по&nbsp;профессиональному признаку «Ассоциация Врачей <nobr>МР-Диагностики</nobr>»
      .dashed-list__item
        Собственная служба инжиниринга осуществляет весь спектр работ по подготовке, запуску&nbsp;и&nbsp;сервисному обслуживанию.
        Она имеет собственный технологический парк площадью 2500 м2. Инженеры с большим практическим опытом прошли
        обучение по инсталляции и техническому обслуживанию у производителей сертифицированного оборудования. Простой на
        единицу МРТ- и КТ-оборудования в среднем по сети составляет не более 19 часов в год
      .dashed-list__item
        Корпоративный университет, реорганизованный в Институт повышения квалификации медицинских кадров, обеспечивает
        профессиональную подготовку и обучение специалистов МРТ- и КТ-диагностики. Входящий в его состав
        Научно-исследовательский отдел, объединенный общей телемедицинской сетью, позволяет всем центрам сети получать
        консультации лучших медицинских специалистов и пользоваться базой данных по различным диагностическим случаям.
        Институт Эксперт – это высокая квалификация преподавателей с большим практическим опытом, авторские методики и
        программы в области МРТ-диагностики, направленные на практикоориентированное образование, и современные
        дистанционные технологии. С 2015 года программы нашего Института включены в систему НМО по приказу Минздрава РФ
      .dashed-list__item Более 300 выпускников – врачей МРТ-диагностики
      .dashed-list__item Более 10 000 врачей-клиницистов стали слушателями квалификационных курсов Института Эксперт

  %section.about-page__partners-step.animation-waypoint
    %p.about-page__partners-paragraph
      Соблюдение поэтапной стратегии развития и своевременное формирование специализированных центров компетенций, обеспечивающих конкурентные преимущества, позволили компании достичь лидирующих позиций на рынке медицинских услуг в России.
    %p.about-page__partners-paragraph
      Уже сегодня Группа компаний «Эксперт» – ведущий игрок рынка частной медицины России.
    %p.about-page__partners-paragraph
      На ТОП-15 частных медицинских компаний приходится около 20% рынка частной медицины. Группа компаний «Эксперт» занимает девятую позицию по выручке среди более чем 5000 частных медицинских компаний России.
    %p.about-page__partners-paragraph
      Группа компаний «Эксперт» занимает второе место по количеству городов присутствия. Федеральная сеть охватывает более половины городов России с численностью свыше 100 000 человек.
    %p.about-page__partners-paragraph
      Группа компаний «Эксперт» находится на второй позиции по количеству центров среди частных медицинских компаний России.
    %p.about-page__partners-paragraph
      Группа компаний «Эксперт» занимает пятое место по темпу роста выручки, превышая среднерыночный показатель на 9%
    %p.about-page__partners-paragraph
      И сегодня компания ставит перед собой высокую цель на ближайшие 10 лет – стать одной из самых крупных частных медицинских сетей на территории России и выйти в ТОП-5 частных компаний.
    %p.about-page__partners-paragraph
      Для достижения стратегической цели ГК «Эксперт» мы определили пять стратегических направлений развития:

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header.about-page__content-header_small Расширение сети и размера бизнеса
    .dashed-list
      .dashed-list__item Открытие ежегодно от 5 до 10 диагностических центров «МРТ Эксперт» и 1-2 клинико-диагностических центров «Клиника Эксперт»
      .dashed-list__item Увеличение числа регионов присутствия сети
      .dashed-list__item Выход группы компаний «Эксперт» на рынки ближнего зарубежья: запуск пилотного проекта медицинского центра МРТ диагностики в г. Гюмри (Армения)

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header.about-page__content-header_small  Расширение спектра услуг
    .dashed-list
      .dashed-list__item
        Расширение номенклатуры предоставляемых медицинских и диагностических услуг: запуск поликлинических, детских,
        гинекологических и хирургических отделений (нейрохирургия, кардиохирургия), хирургической косметологии
      .dashed-list__item Открытие отделений стационарной помощи
      .dashed-list__item
        Развитие высокотехнологичных направлений медицинских услуг: создание операционного блока рентгенэндоваскулярных
        методов диагностики и лечения

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header.about-page__content-header_small  Повышение эффективности
    .dashed-list
      .dashed-list__item Повышение эффективности работы медицинского и операционного персонала
      .dashed-list__item
        Оптимизация и автоматизация бизнес-процессов посредством внедрения современных IT-систем на всех уровнях
        деятельности компании, присоединение к «Единой государственной информационной системе здравоохранения»
      .dashed-list__item Внедрение лучших мировых практик в области операционной деятельности
      .dashed-list__item Совершенствование системы корпоративного управления группой компаний

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header.about-page__content-header_small  Улучшение сервиса
    .dashed-list
      .dashed-list__item Повышение уровня удовлетворённости клиентов
      .dashed-list__item Увеличение лояльности клиентов
      .dashed-list__item Внедрение дистанционных методов администрирования обращений с использованием возможностей телемедицины
      .dashed-list__item Оптимизация «пути пациента» в клинике и предоставление полного спектра услуг («сквозное» обслуживание)

  %section.about-page__partners-step.animation-waypoint
    %h4.about-page__content-header.about-page__content-header_small  Улучшение сервиса
    .dashed-list
      .dashed-list__item Повышение уровня удовлетворённости клиентов
      .dashed-list__item Увеличение лояльности клиентов
      .dashed-list__item Внедрение дистанционных методов администрирования обращений с использованием возможностей телемедицины
      .dashed-list__item Оптимизация «пути пациента» в клинике и предоставление полного спектра услуг («сквозное» обслуживание)

.about-page-collaboration
  .container
    %h3.about-page__header.animation-waypoint Сотрудничество

    .about-page-collaboration__persons
      .about-page-collaboration-person.animation-waypoint
        %img.about-page-collaboration-person__image{src: image_url("about/collab-01.png"), srcset: "#{image_url("about/collab-01@2x.png")} 2x, #{image_url("about/collab-01@3x.png")} 3x"}
        .about-page-collaboration-person__wrapper
          .about-page-collaboration-person__name
            %span Туленцов
            %span Дмитрий Васильевич
          .about-page-collaboration-person__description Для поставщиков товаров и услуг
          .about-page-collaboration-person__spacer
          %a.about-page-collaboration-person__contact{href: 'tel:+70000000000'} +7 (903) 631 90 90
          %a.about-page-collaboration-person__contact{href: 'mailto:t.zanna@mrtexpert.ru'} t.zanna@mrtexpert.ru

      .about-page-collaboration-person.animation-waypoint
        %img.about-page-collaboration-person__image{src: image_url("about/collab-03.png"), srcset: "#{image_url("about/collab-03@2x.png")} 2x, #{image_url("about/collab-03@3x.png")} 3x"}
        .about-page-collaboration-person__wrapper
          .about-page-collaboration-person__name
            %span Пермяков
            %span Сергей Владимирович
          .about-page-collaboration-person__description Для поставщиков товаров и услуг
          .about-page-collaboration-person__spacer
          %a.about-page-collaboration-person__contact{href: 'tel:+70000000000'} +7 (903) 631 90 90
          %a.about-page-collaboration-person__contact{href: 'mailto:t.zanna@mrtexpert.ru'} t.zanna@mrtexpert.ru

      .about-page-collaboration-person.animation-waypoint
        %img.about-page-collaboration-person__image{src: image_url("about/collab-02.png"), srcset: "#{image_url("about/collab-02@2x.png")} 2x, #{image_url("about/collab-02@3x.png")} 3x"}
        .about-page-collaboration-person__wrapper
          .about-page-collaboration-person__name
            %span Наседкина
            %span Галина Григорьевна
          .about-page-collaboration-person__description Для поставщиков товаров и услуг
          .about-page-collaboration-person__spacer
          %a.about-page-collaboration-person__contact{href: 'tel:+70000000000'} +7 (903) 631 90 90
          %a.about-page-collaboration-person__contact{href: 'mailto:t.zanna@mrtexpert.ru'} t.zanna@mrtexpert.ru

      .about-page-collaboration-person.animation-waypoint
        %img.about-page-collaboration-person__image{src: image_url("about/collab-04.png"), srcset: "#{image_url("about/collab-04@2x.png")} 2x, #{image_url("about/collab-04@3x.png")} 3x"}
        .about-page-collaboration-person__wrapper
          .about-page-collaboration-person__name
            %span Ахлакова
            %span Патимат Магомедовна
          .about-page-collaboration-person__description Для поставщиков товаров и услуг
          .about-page-collaboration-person__spacer
          %a.about-page-collaboration-person__contact{href: 'tel:+70000000000'} +7 (903) 631 90 90
          %a.about-page-collaboration-person__contact{href: 'mailto:t.zanna@mrtexpert.ru'} t.zanna@mrtexpert.ru

.ask-question.ask-question_narrow.ask-question_gray
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом



