- @headerBorder = true
- @pageClass = 'aboutPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link О компании

    .page-jumbotron__container
      %h2.page-jumbotron__header.about-page__jumbotron-header О компании

  .about-page__tabs
    .container.about-page__tabs-container
      = react_component "Tabs/Tabs", props={links: [{title: "Клиентам", href: about_clients_path},
      {title: "Партнерам", href: about_partners_path},
      {title: "Инвесторам", href: about_investors_path},
      {title: "Соискателям", href: about_jobs_path},
      {title: "Юридическая информация", href: about_legal_path, active: true},
      ]}, html_options={class: 'tabs__wrapper'}

.container.about-page__container.about-page__container_legal
  %h3.about-page__header.animation-waypoint Адреса и реквизиты
  %section.about-page-table__section.animation-waypoint
    %h4.about-page-table__header На Арсения Степанова
    .about-page-table__container
      .about-page-table__row
        .about-page-table__row-header Операционная компания
        .about-page-table__row-content ООО «Клиника Эксперт Тверь»
      .about-page-table__row
        .about-page-table__row-header Исполнительный орган
        .about-page-table__row-content ООО «УК МРТ Эксперт» по договору № 56 от 23.07.2016г.
      .about-page-table__row
        .about-page-table__row-header Учредитель (участник)
        .about-page-table__row-content ООО «Барель», Ликандрова И. Г.
      .about-page-table__row
        .about-page-table__row-header ОГРН, дата государственной регистрации
        .about-page-table__row-content 1026901601220 от 29.10.2002г
      .about-page-table__row
        .about-page-table__row-header Место нахождения / почтовый адрес
        .about-page-table__row-content 170001, г.Тверь, ул. Арсения Степанова, дом №2А, обособленное подразделение: г. Тверь, проезд Швейников, 1
      .about-page-table__row
        .about-page-table__row-header Время приема граждан
        .about-page-table__row-content пн-вт: выходной, ср: с 14:00 до 15:00, чт-вс: выходной
      .about-page-table__row
        .about-page-table__row-header Лицензия
        .about-page-table__row-content ЛО-69-01-002198

  %section.about-page-table__section.animation-waypoint
    %h4.about-page-table__header На проезде Швейников
    .about-page-table__container
      .about-page-table__row
        .about-page-table__row-header Операционная компания
        .about-page-table__row-content ООО «Клиника Эксперт Тверь»
      .about-page-table__row
        .about-page-table__row-header Исполнительный орган
        .about-page-table__row-content ООО «УК МРТ Эксперт» по договору № 56 от 23.07.2016г.
      .about-page-table__row
        .about-page-table__row-header Учредитель (участник)
        .about-page-table__row-content ООО «Барель», Ликандрова И. Г.
      .about-page-table__row
        .about-page-table__row-header ОГРН, дата государственной регистрации
        .about-page-table__row-content 1026901601220 от 29.10.2002г
      .about-page-table__row
        .about-page-table__row-header Место нахождения / почтовый адрес
        .about-page-table__row-content 170001, г.Тверь, ул. Арсения Степанова, дом №2А, обособленное подразделение: г. Тверь, проезд Швейников, 1
      .about-page-table__row
        .about-page-table__row-header Время приема граждан
        .about-page-table__row-content пн-вт: выходной, ср: с 14:00 до 15:00, чт-вс: выходной
      .about-page-table__row
        .about-page-table__row-header Лицензия
        .about-page-table__row-content ЛО-69-01-002198

.about-page__container_legal-large
  .container
    %h3.about-page__header.about-page__header_full-width.animation-waypoint Лицензии и сертификаты

    .about-page-licenses
      %img.about-page-licenses__license.animation-waypoint{src: image_url("about/license-01.png"), srcset: "#{image_url("about/license-01@2x.png")} 2x, #{image_url("about/license-01@3x.png")} 3x"}
      %img.about-page-licenses__license.animation-waypoint{src: image_url("about/license-02.png"), srcset: "#{image_url("about/license-02@2x.png")} 2x, #{image_url("about/license-02@3x.png")} 3x"}
      %img.about-page-licenses__license.animation-waypoint{src: image_url("about/license-03.png"), srcset: "#{image_url("about/license-03@2x.png")} 2x, #{image_url("about/license-03@3x.png")} 3x"}
      %img.about-page-licenses__license.animation-waypoint{src: image_url("about/license-04.png"), srcset: "#{image_url("about/license-04@2x.png")} 2x, #{image_url("about/license-04@3x.png")} 3x"}
      %img.about-page-licenses__license.animation-waypoint{src: image_url("about/license-05.png"), srcset: "#{image_url("about/license-05@2x.png")} 2x, #{image_url("about/license-05@3x.png")} 3x"}
      %img.about-page-licenses__license.animation-waypoint{src: image_url("about/license-06.png"), srcset: "#{image_url("about/license-06@2x.png")} 2x, #{image_url("about/license-06@3x.png")} 3x"}
      %img.about-page-licenses__license.animation-waypoint{src: image_url("about/license-07.png"), srcset: "#{image_url("about/license-07@2x.png")} 2x, #{image_url("about/license-07@3x.png")} 3x"}
      %img.about-page-licenses__license.animation-waypoint{src: image_url("about/license-08.png"), srcset: "#{image_url("about/license-08@2x.png")} 2x, #{image_url("about/license-08@3x.png")} 3x"}

.about-page__container_legal-large.about-page__container_legal-large_documents
  .container
    %h3.about-page__header.animation-waypoint Документы

    .files-list.about-page__files-list.animation-waypoint
      .files-list__row
        Соглашение на обработку персональных данных
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Первичный прием: осмотр и консультация
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Прайс-лист
        %a.files-list__download-button{:href => '#'}
          %span Скачать


.ask-question.ask-question_narrow.ask-question_gray
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом



