- @headerBorder = true
- @pageClass = 'aboutPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link О компании

    .page-jumbotron__container
      %h2.page-jumbotron__header.about-page__jumbotron-header О компании


  .about-page__tabs
    .container.about-page__tabs-container
      = react_component "Tabs/Tabs", props={links: [{title: "Клиентам", href: about_clients_path},
      {title: "Партнерам", href: about_partners_path },
      {title: "Инвесторам", href: about_investors_path},
      {title: "Соискателям", href: about_jobs_path, active: true},
      {title: "Юридическая информация", href: about_legal_path},
      ]}, html_options={class: 'tabs__wrapper'}

.container.about-page__container.about-page-jobs__container
  %h3.about-page__header.animation-waypoint Твоя карьера в ГК «Эксперт» -&nbsp;движение к успеху!
  %p.about-page-jobs__header-paragraph.animation-waypoint
    ГК «Эксперт» отличает поступательное и динамичное развитие, расширение географического присутствия,
    сети медицинских центров, высокая динамика ключевых показателей.

  %section.about-page-jobs__advantages-section.animation-waypoint
    %h4.about-page__content-header Преимущества работы в компании:
    .dashed-list
      .dashed-list__item
        ГК «Эксперт» — это федеральная сеть диагностических и медицинских центров, осуществляющая профессиональную
        деятельность более чем в 50 городах России.
      .dashed-list__item
        Компания эффективно осуществляет свою деятельность на рынке частной  медицины России с 2007 года.
      .dashed-list__item
        Ведется обучение врачей и рентгенолаборантов за счет компании.
      .dashed-list__item
        Имеется собственный институт повышения квалификации медицинских кадров «Институт Эксперт».
      .dashed-list__item
        Есть собственный сервисный центр «ТехномедЭксперт».
      .dashed-list__item
        Компания предлагает конкурентный уровень дохода и белую зарплату.
      .dashed-list__item
        Оформление по ТК РФ, полный социальный пакет.
      .dashed-list__item
        Карьерный и профессиональный рост.
      .dashed-list__item
        Корпоративные мероприятия.

%section.container.about-page-jobs__team-container
  %img.about-page-jobs__team.animation-waypoint{src: image_path('about/jobs.png'), srcset: "#{image_path('about/jobs@2x.png')} 2x, #{image_path('about/jobs@3x.png')} 3x"}

  .service-page-section-layout_two-columns.about-page-jobs__more-section.animation-waypoint
    %h3.service-page-section__header Подробнее о вакансиях в&nbsp;ГК «Эксперт»
    %div
      .about-page-jobs__more-group
        .about-page__content-header.about-page-jobs__more-header Для студентов и стажеров
        .about-page-jobs__more-paragraph
          Мы даем не только работу, но и знания. ГК «Эксперт» открывает для своих сотрудников новые горизонты и возможности
      .about-page-jobs__more-group
        .about-page__content-header.about-page-jobs__more-header Для соискателей с опытом
        .about-page-jobs__more-paragraph
          Мы ищем людей, способных творить и создавать новое, смелых и решительных, готовить ставить самые амбициозные цели и достигать их

.page-underlay.about-page-jobs__vacancies-section
  .container
    %h3.about-page__header.animation-waypoint Вакансии

    .about-page-jobs__vacancies
      .job-card__wrapper.animation-waypoint
        .job-card
          .job-card__content
            .job-card__title Врач ультразвуковой диагностики
            .job-card__tag Опыт от 2 лет

          .job-card__footer
            .job-card__content
              %a.arrowed-link.job-card__link
                %span.arrowed-link__text Откликнуться
                %span.arrowed-link__arrow
                  = render :partial => '/shared/inline-icons/arrow-right.svg'

      .job-card__wrapper.animation-waypoint
        .job-card
          .job-card__content
            .job-card__title Фельдшер-лаборант
            .job-card__tag Без опыта

          .job-card__footer
            .job-card__content
              %a.arrowed-link.job-card__link
                %span.arrowed-link__text Откликнуться
                %span.arrowed-link__arrow
                  = render :partial => '/shared/inline-icons/arrow-right.svg'

      .job-card__wrapper.animation-waypoint
        .job-card
          .job-card__content
            .job-card__title Врач-кардиолог
            .job-card__tag Опыт от 6 лет

          .job-card__footer
            .job-card__content
              %a.arrowed-link.job-card__link
                %span.arrowed-link__text Откликнуться
                %span.arrowed-link__arrow
                  = render :partial => '/shared/inline-icons/arrow-right.svg'

.container.about-page-jobs__articles-container
  %h3.about-page__header.about-page-jobs__articles-header.animation-waypoint Карьерный рост в ГК «Эксперт»

  .about-page-jobs__article-wrapper.animation-waypoint
    %a.homepage-blog-article.homepage-blog-article_reversed.about-page-jobs__article
      .homepage-blog-article__content
        .homepage-blog-article__tag.homepage-blog-article__tag_indent-b_normal Региональный директор
        %h3.homepage-blog-article__header Оксана Волкова
        %p.homepage-blog-article__description
          Оксана Волкова приступила к обязанностям регионального директора. Теперь она курирует работу ДЦ в Липецке,
          Ельце, Оренбурге и Уфе. Оксана Волкова пришла работать в центр
        .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link{'data-popup': 'job-story-popup'}
          %span.arrowed-link__text Читать
          %span.arrowed-link__arrow
            = render :partial => '/shared/inline-icons/arrow-right.svg'

      %img.homepage-blog-article__image{src: image_path('about/jobs-v-1.png'), srcset: "#{image_path('about/jobs-v-1@2x.png')} 2x, #{image_path('about/jobs-v-1@3x.png')} 3x"}

  .about-page-jobs__article-wrapper.animation-waypoint
    %a.homepage-blog-article.about-page-jobs__article
      .homepage-blog-article__content
        .homepage-blog-article__tag.homepage-blog-article__tag_indent-b_normal Лечимся вместе
        %h3.homepage-blog-article__header Лилия Захарова
        %p.homepage-blog-article__description
          Исполнительным директором «МРТ-Эксперт Новосибирск» стала Лилия Захарова. Она проработала в ГК «Эксперт»
          7,5 лет. Начала свой профессиональный путь в компании одновременно
        .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link{'data-popup': 'job-story-popup'}
          %span.arrowed-link__text Читать
          %span.arrowed-link__arrow
            = render :partial => '/shared/inline-icons/arrow-right.svg'

      %img.homepage-blog-article__image{src: image_path('about/jobs-v-2.png'), srcset: "#{image_path('about/jobs-v-2@2x.png')} 2x, #{image_path('about/jobs-v-2@3x.png')} 3x"}

  .about-page-jobs__article-wrapper.animation-waypoint
    %a.homepage-blog-article.homepage-blog-article_reversed.about-page-jobs__article
      .homepage-blog-article__content
        .homepage-blog-article__tag.homepage-blog-article__tag_indent-b_normal Здоровье
        %h3.homepage-blog-article__header Жаргал Дугаров
        %p.homepage-blog-article__description
          Жаргал Дугаров возглавил медцентр в Томске. В «МРТ-Эксперт Томск» на должность врача-рентгенолога он пришел в
          2011 году. Через 3 года был назначен главным врачом центра.
        .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link{'data-popup': 'job-story-popup'}
          %span.arrowed-link__text Читать
          %span.arrowed-link__arrow
            = render :partial => '/shared/inline-icons/arrow-right.svg'

      %img.homepage-blog-article__image{src: image_path('about/jobs-v-3.png'), srcset: "#{image_path('about/jobs-v-3@2x.png')} 2x, #{image_path('about/jobs-v-3@3x.png')} 3x"}

.ask-question.ask-question_narrow.ask-question_gray
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом

= react_component "Popups/JobStoryPopup", {name: "job-story-popup",
  tag: "Региональный директор", personName: "Лилия Захарова",
  photo: image_path('about/jobs-v-1.png'), photoSrcSet: "#{image_path('about/jobs-v-1@2x.png')} 2x, #{image_path('about/jobs-v-1@3x.png')} 3x",
  text: "Оксана Волкова приступила к обязанностям регионального директора. Теперь она курирует работу ДЦ в Липецке, Ельце, Оренбурге и Уфе. Оксана Волкова пришла работать в центр ООО «МРТ Эксперт Липецк» в марте 2012 года врачом-рентгенологом. В мае 2014 года была назначена главным врачом, а в сентябре 2014 года - исполнительным директором. За 4,5 года управления сначала одним, а потом и двумя диагностическими центрами в Липецке ей удалось создать сплоченную команду, которая регулярно добивалась отличных результатов. С апреля 2019 года Оксана Волкова перешла на должность руководителя региона. Она рассказала, что не планирует останавливаться на достигнутом и продолжит добиваться высоких результатов через командную работу, объединяя людей вокруг себя. Она рассказала, что не планирует останавливаться на достигнутом и продолжит добиваться высоких результатов через командную работу, объединяя людей вокруг себя.",
  }