- @headerBorder = true
- @pageClass = 'aboutPage'

.page-jumbotron.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link О компании

    .page-jumbotron__container
      %h2.page-jumbotron__header.about-page__jumbotron-header О компании


  .about-page__tabs
    .container.about-page__tabs-container
      = react_component "Tabs/Tabs", props={links: [{title: "Клиентам", href: about_clients_path, active: true},
      {title: "Партнерам", href: about_partners_path},
      {title: "Инвесторам", href: about_investors_path},
      {title: "Соискателям", href: about_jobs_path},
      {title: "Юридическая информация", href: about_legal_path},
      ]}, html_options={class: 'tabs__wrapper'}

  .container
    .about-jumbotron.about-jumbotron_clients-page
      .about-jumbotron__header.about-jumbotron__header_indent-b_default Несем здоровье
      %p.about-jumbotron__paragraph.about-jumbotron__paragraph_indent-b_default
        МРТ-Эксперт — это команда врачей, менеджеров и других специалистов, которым не всё
        равно. В идеальном мире мы хотели бы стать вам совершенно ненужными. Но мы понимаем, что иногда даже самому
        здоровому человеку бывает нужна помощь.

      %p.about-jumbotron__paragraph
        Все диагностические центры холдинга «МРТ-Эксперт» – от столичных до региональных – оснащены самым современным
        оборудованием экспертного класса мировых лидеров отрасли Philips и Siemens – томографами с напряженностью поля
        от 1,0 до 3,0 Тесла.

      .about-jumbotron__decor
        %img{:src => image_url("about/clients.png"), :srcset => "#{image_url("about/clients@2x.png")} 2x, #{image_url("about/clients@3x.png")} 3x" }

.page-underlay
  .container.about-page__clients-container
    %h3.about-page__header.about-page__clients-header.animation-waypoint Вопросы, которые нам часто задают

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Сколько по времени длится исследование?

      .services-box-content
        .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
          .services-box-column.services-box-column_width_full
            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall Результаты МРТ включают в себя:
              %ul.dashed-list
                %li.dashed-list__item
                  Снимки, распечатанные на специальной пленке, с областью исследования в нужной проекции
                %li.dashed-list__item
                  Расшифровка исследования – текстовое заключение врача с описанием исследования.
                  Эти данные входят в стоимость процедуры.

            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall
                По желанию врача или пациента исследование может быть записано на:
              %ul.dashed-list
                %li.dashed-list__item Флэш-карту
                %li.dashed-list__item CD носитель или
                %li.dashed-list__item Дополнительную рентген-пленку

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Их стоимость складывается из себестоимости носителя и лицензионной программы, с помощью которой
                исследование можно посмотреть. Цену на данные носители, с записанными на них исследованиями, необходимо
                уточнять у администратора.

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Также по желанию результаты исследования на бумажном носителе /в виде <nobr>скан-копии</nobr>/ могут быть
                направлены на электронную почту пациента.

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Что выдается на руки пациенту после исследования, что входит в стоимость?

      .services-box-content
        .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
          .services-box-column.services-box-column_width_full
            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall Результаты МРТ включают в себя:
              %ul.dashed-list
                %li.dashed-list__item
                  Снимки, распечатанные на специальной пленке, с областью исследования в нужной проекции
                %li.dashed-list__item
                  Расшифровка исследования – текстовое заключение врача с описанием исследования.
                  Эти данные входят в стоимость процедуры.

            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall
                По желанию врача или пациента исследование может быть записано на:
              %ul.dashed-list
                %li.dashed-list__item Флэш-карту
                %li.dashed-list__item CD носитель или
                %li.dashed-list__item Дополнительную рентген-пленку

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Их стоимость складывается из себестоимости носителя и лицензионной программы, с помощью которой
                исследование можно посмотреть. Цену на данные носители, с записанными на них исследованиями, необходимо
                уточнять у администратора.

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Также по желанию результаты исследования на бумажном носителе /в виде <nobr>скан-копии</nobr>/ могут быть
                направлены на электронную почту пациента.

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Есть ли консультация врачей (платная или бесплатная)?

      .services-box-content
        .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
          .services-box-column.services-box-column_width_full
            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall Результаты МРТ включают в себя:
              %ul.dashed-list
                %li.dashed-list__item
                  Снимки, распечатанные на специальной пленке, с областью исследования в нужной проекции
                %li.dashed-list__item
                  Расшифровка исследования – текстовое заключение врача с описанием исследования.
                  Эти данные входят в стоимость процедуры.

            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall
                По желанию врача или пациента исследование может быть записано на:
              %ul.dashed-list
                %li.dashed-list__item Флэш-карту
                %li.dashed-list__item CD носитель или
                %li.dashed-list__item Дополнительную рентген-пленку

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Их стоимость складывается из себестоимости носителя и лицензионной программы, с помощью которой
                исследование можно посмотреть. Цену на данные носители, с записанными на них исследованиями, необходимо
                уточнять у администратора.

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Также по желанию результаты исследования на бумажном носителе /в виде <nobr>скан-копии</nobr>/ могут быть
                направлены на электронную почту пациента.

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Можно ли делать МРТ беременным?

      .services-box-content
        .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
          .services-box-column.services-box-column_width_full
            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall Результаты МРТ включают в себя:
              %ul.dashed-list
                %li.dashed-list__item
                  Снимки, распечатанные на специальной пленке, с областью исследования в нужной проекции
                %li.dashed-list__item
                  Расшифровка исследования – текстовое заключение врача с описанием исследования.
                  Эти данные входят в стоимость процедуры.

            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall
                По желанию врача или пациента исследование может быть записано на:
              %ul.dashed-list
                %li.dashed-list__item Флэш-карту
                %li.dashed-list__item CD носитель или
                %li.dashed-list__item Дополнительную рентген-пленку

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Их стоимость складывается из себестоимости носителя и лицензионной программы, с помощью которой
                исследование можно посмотреть. Цену на данные носители, с записанными на них исследованиями, необходимо
                уточнять у администратора.

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Также по желанию результаты исследования на бумажном носителе /в виде <nobr>скан-копии</nobr>/ могут быть
                направлены на электронную почту пациента.

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Нужно ли заранее записываться? Или можно просто приехать и пройти сразу исследование?

      .services-box-content
        .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
          .services-box-column.services-box-column_width_full
            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall Результаты МРТ включают в себя:
              %ul.dashed-list
                %li.dashed-list__item
                  Снимки, распечатанные на специальной пленке, с областью исследования в нужной проекции
                %li.dashed-list__item
                  Расшифровка исследования – текстовое заключение врача с описанием исследования.
                  Эти данные входят в стоимость процедуры.

            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall
                По желанию врача или пациента исследование может быть записано на:
              %ul.dashed-list
                %li.dashed-list__item Флэш-карту
                %li.dashed-list__item CD носитель или
                %li.dashed-list__item Дополнительную рентген-пленку

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Их стоимость складывается из себестоимости носителя и лицензионной программы, с помощью которой
                исследование можно посмотреть. Цену на данные носители, с записанными на них исследованиями, необходимо
                уточнять у администратора.

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Также по желанию результаты исследования на бумажном носителе /в виде <nobr>скан-копии</nobr>/ могут быть
                направлены на электронную почту пациента.

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Можно ли пройти бесплатное исследование?

      .services-box-content
        .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
          .services-box-column.services-box-column_width_full
            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall Результаты МРТ включают в себя:
              %ul.dashed-list
                %li.dashed-list__item
                  Снимки, распечатанные на специальной пленке, с областью исследования в нужной проекции
                %li.dashed-list__item
                  Расшифровка исследования – текстовое заключение врача с описанием исследования.
                  Эти данные входят в стоимость процедуры.

            .services-box-column__content-group
              %h3.services-box-column__header.services-box-column__header_size_xsmall
                По желанию врача или пациента исследование может быть записано на:
              %ul.dashed-list
                %li.dashed-list__item Флэш-карту
                %li.dashed-list__item CD носитель или
                %li.dashed-list__item Дополнительную рентген-пленку

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Их стоимость складывается из себестоимости носителя и лицензионной программы, с помощью которой
                исследование можно посмотреть. Цену на данные носители, с записанными на них исследованиями, необходимо
                уточнять у администратора.

              %p.services-box__paragraph.services-box__paragraph_indent-t_default
                Также по желанию результаты исследования на бумажном носителе /в виде <nobr>скан-копии</nobr>/ могут быть
                направлены на электронную почту пациента.

.ask-question.ask-question_narrow.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом



