- @headerBorder = true
- @pageClass = 'aboutPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link О компании

    .page-jumbotron__container
      %h2.page-jumbotron__header.about-page__jumbotron-header О компании

  .about-page__tabs
    .container.about-page__tabs-container
      = react_component "Tabs/Tabs", props={links: [{title: "Клиентам", href: about_clients_path},
      {title: "Партнерам", href: about_partners_path},
      {title: "Инвесторам", href: about_investors_path, active: true},
      {title: "Соискателям", href: about_jobs_path},
      {title: "Юридическая информация", href: about_legal_path},
      ]}, html_options={class: 'tabs__wrapper'}


.container.about-page__container
  %h3.about-page__header.animation-waypoint Постоянный рост
  %section.about-page__investors-header.animation-waypoint
    Холдинг «МРТ-Эксперт» – одна из крупнейших в России сетей, объединяющая диагностические центры, специализирующиеся
    на магнитно-резонансной томографии и многофункциональные центры, где наряду с МРТ-диагностикой применяются и другие
    авангардные методы распознавания или исключения из диагноза практически любых скрытых патологий.
  .about-page__investors-spacer.animation-waypoint
  %section.about-page__investors-report.animation-waypoint
    %p.about-page__investors-report-text
      Диагностические центры «МРТ-Эксперт» работают в десятках городов России — от Калининграда до Владивостока,
      от Сочи до Мурманска, ведут прием пациентов в Москве и Санкт-Петербурге, Новосибирске, Твери, других городах
      страны.<br/>
      В этом году число центров «МРТ-Эксперт» в России приблизится к пятидесяти.

    .about-page__investors-download
      .about-page__investors-download-icon
      .about-page__investors-download-text
        .about-page__investors-download-label Отчет о финансовых показателях за 2018 год

        %a.about-page__investors-download-button{href: '#'}
          %span Скачать


.ask-question.ask-question_narrow.ask-question_gray
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом



