- @headerBorder = true
- @pageClass = 'makeAppointmentPage'

.page-jumbotron.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Диагностические и лабороторные исследования

    .page-jumbotron__container
      %h2.page-jumbotron__header.page-jumbotron__header_full-width.appointment-form__page-header
        Заявка на исследование

.page-underlay
  .container.appointment-form__container.animation-waypoint
    .appointment-form-layout
      .appointment-form-layout__content
        .appointment-form__section.appointment-form__section_border_bottom
          .appointment-form__header.appointment-form__header_indent-b_small Услуга
          .radiobutton__container.appointment-form__diagnostics-label-group
            %label.radiobutton.radiobutton_width_full.radiobutton_active
              %input.radiobutton__input{type: 'radio', checked: true, name: 'service', value: 0}
              .radiobutton__check
              .radiobutton__label.appointment-form__radiobutton-diagnostics-label.radiobutton__label_large
                МРТ головного мозга

                %span.appointment-form__radiobutton-price
                  2 500 ₽

          .appointment-form__note.appointment-form__note_max-width_narrow.appointment-form__note_indent-t_normal
            Информацию о дополнительных услугах можно уточнить при подтверждении записи.

        .appointment-form__section.appointment-form__section_border_bottom
          .appointment-form__header.appointment-form__header_indent-b_small Выберите место и время
          .appointment-form__subheader.appointment-form__subheader_indent-b_normal Клиника
          .radiobutton__container.appointment-form__radiobutton-container.appointment-form__radiobutton-container_indent-b_small
            %label.radiobutton.radiobutton_indent-r_normal
              %input.radiobutton__input{type: 'radio', name: 'address', value: 0}
              .radiobutton__check
              .radiobutton__label ул. Арсения Степанова, д.2а

            %label.radiobutton
              %input.radiobutton__input{type: 'radio', name: 'address', value: 1}
              .radiobutton__check
              .radiobutton__label ул. Мусоргского, д.8

          .appointment-form__subheader Желаемая дата посещения
          = react_component "DateTimeSelect/DateTimeSelect", {className: 'appointment-form__date-selector'}

          .appointment-form__note.appointment-form__note_max-width_narrow.appointment-form__note_indent-t_normal
            Напишите нам, если не смогли записаться на нужное время. Мы постараемся найти возможность вас принять

        .appointment-form__section.appointment-form__section_border_bottom
          .appointment-form__header.appointment-form__header_indent-b_large Данные пациента

          .input-group.appointment-form__input-group.input-group_indent-b_default
            %label.input-group__label ФИО пациента
            %input.input-group__input

          .input-group.appointment-form__input-group
            %label.input-group__label Номер телефона
            = react_component "PhoneInput/PhoneInput"

        .appointment-form__section.appointment-form__section_border_bottom
          .appointment-form__header.appointment-form__header_indent-b_small Способ оплаты

          .radiobutton__container.appointment-form__radiobuttons-payment
            %label.radiobutton.radiobutton_indent-r_normal
              %input.radiobutton__input{type: 'radio', name: 'payment', value: 0}
              .radiobutton__check
              .radiobutton__label
                Онлайн банковской картой
                .radiobutton__label-hint.radiobutton__label-hint_color_red
                  При оплате онлайн скидка 5%

            %label.radiobutton
              %input.radiobutton__input{type: 'radio', name: 'payment', value: 1}
              .radiobutton__check
              .radiobutton__label
                Оплата в клинике
                .radiobutton__label-hint
                  Наличными или картой

        .appointment-form__section
          .appointment-form__header.appointment-form__header_indent-b_large Дополнительно

          .input-group
            %label.input-group__label Ваш комментарий
            %textarea.input-group__textarea.appointment-form__comment-textarea

          .appointment-form__comment-note Например, ограничения или пожелания
          .appointment-form__sticky-boundary

      .appointment-form-layout__sidebar.appointment-form-layout__sidebar_diagnostics
        = react_component "AppointmentSidebar/AppointmentDiagnosticsSidebar", {successUrl: appointment_diagnostics_success_url}

.ask-question.ask-question_narrow.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header.ask-question__header_max-width_none
      Не нашли нужное направление?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом