- @headerBorder = true
- @footerBorder = true
- @pageClass = 'makeAppointmentPage'


.container.appointment-success__container.animation-waypoint
  .appointment-success__page-header.appointment-success__page-header_indent-b_normal
    Ваша заявка успешно отправлена

  .appointment-success__page-hint
    Скоро мы перезвоним чтобы рассказать про подготовку к процедурам и уточнить дату и вермя приема.

  .appointment-success-card.appointment-success-page__card.appointment-success-card_width_narrow.appointment-success-card_space-h_small
    .appointment-success-card__content
      .appointment-success-table
        .appointment-success-table__row.appointment-success-table__row_border_bottom.appointment-success-table__row_space-v_large
          .appointment-success-table__title Услуга
          .appointment-success-table__content МРТ головного мозга
        .appointment-success-table__row.appointment-success-table__row_border_bottom.appointment-success-table__row_space-v_large
          .appointment-success-table__title Желаемая дата посещения
          .appointment-success-table__content Пятница, 24.10.2018, 13:30
        .appointment-success-table__row.appointment-success-table__row_border_bottom.appointment-success-table__row_space-v_large
          .appointment-success-table__title Клиника
          .appointment-success-table__content
            ул. Арсения Степанова, д.2а
            %div.appointment-success-table__map-link
              %a.map-link{href: '#'}
                = render "shared/inline-icons/pin.svg"
                Показать на карте
        .appointment-success-table__row.appointment-success-table__row_space-v_large
          .appointment-success-table__title Скидка при оплате банковской картой
          .appointment-success-table__content 5%
        .appointment-success-table__row.appointment-success-table__row_border_top.appointment-success-table__row_total.appointment-success-table__row_space-v_large
          .appointment-success-table__title Итоговая стоимость
          .appointment-success-table__content
            .price-block
              .price-block__primary
                2 375
                %span ₽
              .price-block__secondary
                2 500
                %span ₽

            .appointment-success-table__payment-method.appointment-success-table__payment-method_size_normal Оплачено онлайн



  .appointment-success__actions
    .button.button_blue-border.button_large{'data-popup': 'cancel-appointment-popup'} Отменить заявку
    %a.button.button_large{href: root_url} Вернуться на главную

= react_component "Popups/CancelAppointmentPopup", {name: 'cancel-appointment-popup'}