- @headerBorder = true
- @footerBorder = true
- @pageClass = 'makeAppointmentPage'

.container.appointment-success__container.animation-waypoint
  .appointment-success__page-header.appointment-success__page-header_indent-b_normal
    Ваша заявка успешно отправлена

  .appointment-success__page-hint
    Скоро мы перезвоним чтобы рассказать про подготовку к процедурам и уточнить дату и вермя приема.

  .appointment-success-card.appointment-success-page__card.appointment-success-card_width_wide.appointment-success-card_space_photo
    .appointment-success-card__photo.appointment-success-card__photo_desktop
      %img{src: image_url("doctors/doctor-01-large.png"), srcset: "#{image_url("doctors/doctor-01-large@2x.png")} 2x, #{image_url("doctors/doctor-01-large@3x.png")} 3x"}
    .appointment-success-card__content
      .appointment-success-card__title-wrapper
        .appointment-success-card__photo.appointment-success-card__photo_mobile
          %img{src: image_url("doctors/doctor-01-large.png"), srcset: "#{image_url("doctors/doctor-01-large@2x.png")} 2x, #{image_url("doctors/doctor-01-large@3x.png")} 3x"}
        .appointment-success-card__title.appointment-success-card__title_indent-b_normal
          Шелест
          %span Петр Викторович

      .appointment-success-table
        .appointment-success-table__row.appointment-success-table__row_border_top.appointment-success-table__row_space-v_normal.appointment-success-table__row_doctor
          .appointment-success-table__title.appointment-success-table__title_width_small Желаемая дата
          .appointment-success-table__content Пятница, 24.10.2018, 13:30
        .appointment-success-table__row.appointment-success-table__row_border_top.appointment-success-table__row_space-v_normal
          .appointment-success-table__title.appointment-success-table__title_width_small Клиника
          .appointment-success-table__content
            ул. Арсения Степанова, д.2а
            %div.appointment-success-table__map-link
              %a.map-link{href: '#'}
                = render "shared/inline-icons/pin.svg"
                Показать на карте
        .appointment-success-table__row.appointment-success-table__row_total.appointment-success-table__row_border_top.appointment-success-table__row_space-v_normal
          .appointment-success-table__title.appointment-success-table__title_width_small Первичный прием
          .appointment-success-table__content
            .price-block
              .price-block__primary
                1 140
                %span ₽
            .appointment-success-table__payment-method.appointment-success-table__payment-method_size_small Оплачено онлайн


  .appointment-success__actions
    .button.button_blue-border.button_large{'data-popup': 'cancel-appointment-popup'} Отменить заявку
    %a.button.button_large{href: root_url} Вернуться на главную

= react_component "Popups/CancelAppointmentPopup", {name: 'cancel-appointment-popup'}