- @pageClass = 'blogAuthorPage'

.page-underlay
  .container.blog-author__container
    %div
      %ul.breadcrumbs.animation-waypoint
        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href => '/'} Главная

        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href=> blog_url} Блог

        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href=> '#'} Ирина Мальцева

    .blog-author-info.blog-author-info_indent-v_normal.animation-waypoint
      %div.blog-author-info__mobile-header
        .blog-author-info__photo
          %img{src: image_url("doctors/doctor-01-flipped.png")}

        .blog-author-info__name.blog-author-info__name_mobile
          %span Ирина
          %span Мальцева

      .blog-author-info__profile
        .blog-author-info__name.blog-author-info__name_desktop
          %span Ирина
          %span Мальцева

        .blog-author-info__bio
          Врач-хирург, кандидат медицинских наук,
          пластический хирург, организатор здравоохранения.
          Опыт работы 18 лет

    .blog-author__articles
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-01.png"),
        tag: "Полезная информация",
        title: "МРТ-диагностика: кому показана, а для кого смертельно опасна?",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-02.png"),
        tag: "История",
        title: "Как выбрать хорошего дерматовенеролога?",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-03.png"),
        tag: "Лечимся вместе",
        title: "Тошнота и рвотные позывы при беременности: что делать?",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-04.png"),
        tag: "История",
        title: "Диагностика сосудов за 20 минут: все об ангиографии",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})

      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-05.png"),
        tag: "Лечимся вместе",
        title: "Остеопороз после 50 лет: причины, диагностика, лечение",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-06.png"),
        tag: "История",
        title: "Что нужно знать о митральном стенозе",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})

      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-07.png"),
        tag: "История",
        title: "Что нужно знать о правильной питьевой воде",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})

      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-08.png"),
        tag: "Полезная информация",
        title: "Как определить дефицит витамина А",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-09.png"),
        tag: "Наука",
        title: "Приступы эпилепсии: что это и как с ними бороться",
        link: "#",
      }, {class: 'blog-author__article-card animation-waypoint'})


    .button.button_large.blog-author__button.animation-waypoint Загрузить еще