- @pageClass = 'blogArticlePage'
- @headerBorder = true
.container
  %div
    %ul.breadcrumbs.animation-waypoint
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => '/'} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href=> blog_url} Блог

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href=> '#'} Чем мощнее – тем лучше?


.container.blog-article__container.blog-article__container_space-l_default
  .page-header.animation-waypoint МРТ-диагностика: кому показана, а для кого смертельно опасна?

  .blog-article__info.animation-waypoint
    .pt-icon-plus.blog-article__pt-icon-plus.blog-article__pt-icon-plus_author
      .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
      .pt-icon-plus__block Ирина Мальцева

    .pt-icon-plus.blog-article__pt-icon-plus.blog-article__pt-icon-plus_date
      .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
      .pt-icon-plus__block 13 февраля 2019

    .pt-icon-plus.blog-article__pt-icon-plus.blog-article__pt-icon-plus_tag
      .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
      .pt-icon-plus__block Полезная информация

.container.blog-article__container.animation-waypoint
  %img.blog-article__image.blog-article__image_indent-b_small{src: image_url("blog/art-01@3x.png")}

.container.blog-article__container.blog-article__container_space-l_default
  .blog-article__section.blog-article__section_indent-b_normal.animation-waypoint
    %p.blog-article__paragraph.blog-article__paragraph_width_m
      Современные методы обследования позволяют выявить
      патологии на самых начальных стадиях. Это дает возможность справиться даже с серьезными
      болезнями при своевременном лечении. МРТ — диагностика хоть и не является новым методом, но многие люди
      имеют достаточно смутное представление о нем. Medical Note поговорил с врачом — рентгенологом ЛДЦ МИБС Павлом
      Кадомцевым и узнал все подробности процедуры МРТ, а также некоторые особенности, о которых мало, кто знает.

  .blog-article__section.blog-article__section_indent-b_normal.animation-waypoint
    %h3.blog-article__header.blog-article__header_indent-b_normal Какие сегодня диагнозы можно поставить, используя диагностику МРТ?
    %p.blog-article__paragraph.blog-article__paragraph_width_s.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_normal
      МРТ можно использовать практически во всех областях медицины, но прежде всего для исследования головного и
      спинного мозга, опорно-двигательного аппарата, органов брюшной полости, малого таза, мягких тканей.
    %p.blog-article__paragraph.blog-article__paragraph_width_s.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown
      Врач-рентгенолог пишет заключение, на основании которого лечащий врач может поставить корректный диагноз. МРТ
      поможет поставить такие диагнозы, как ишемический и геморрагический инсульты, опухоли, аномалии развития,
      аневризмы и&nbsp;артериовенозные мальформации сосудов, остеохондроз, артрозы и многое другое.

  .blog-article__section.animation-waypoint.blog-article__section_indent-b_normal.blog-article__section_layout_two-columns
    %div
      %h3.blog-article__header.blog-article__header_indent-b_normal Расскажите, кого чаще всего отправляют на МРТ и с какими симптомами?
      %p.blog-article__paragraph.blog-article__paragraph_width_s.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_normal
        Спектр применения достаточно широк. МРТ используется при диагностике болезней центральной нервной системы, остеохондрозе позвоночника, для визуализации связок, хрящей, определение наличия жидкости в полости суставов, в гинекологический практике, при обследовании простаты у мужчин.
      %p.blog-article__paragraph.blog-article__paragraph_width_s.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown
        При различных заболеваниях брюшной полости, печени, поджелудочной железы, селезенки, желчевыводящих потоков. Также для выявления онкологических заболеваний (доброкачественных и злокачественных опухолей, метастазов).

    %div
      = react_component("HomepageSlider/Slide", {image: image_url("blog/mini-01.png"),
        title: "МРТ: мифы и главные вопросы",
        className: "news-card_size_xs",
        link: "#",
      })

  .blog-article__section.animation-waypoint
    %h3.blog-article__header.blog-article__header_indent-b_normal Существуют ли противопоказания к МРТ диагностике?
    %p.blog-article__paragraph.blog-article__paragraph_width_xl.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_normal
      Конечно, есть. Они делятся на абсолютные и относительные. Абсолютное противопоказание, если у пациента стоит кардиостимулятор, электронные импланты среднего уха, которые нельзя снять, или металлические протезы, штыри, осколки, пули в теле из ферромагнитных сплавов.
    %p.blog-article__paragraph.blog-article__paragraph_width_xl.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_normal
      Все, что магнитится, любая электроника — противопоказания для выполнения МРТ. Так как это может быть опасным для человека. К относительным противопоказаниям относится клаустрофобия. Аппарат МРТ представляет собой своеобразный тоннель, куда помещается пациент, то есть почти замкнутое пространство.
    %p.blog-article__paragraph.blog-article__paragraph_width_xl.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_normal
      Не проводится процедура и в первый триместр беременности, поскольку пока не установлено влияние магнитного поля высокой напряженности на плод на этом сроке, когда формируются органы и системы.
    %p.blog-article__paragraph.blog-article__paragraph_width_xl.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown
      Судороги, двигательная активность тоже будут противопоказанием, потому что во время всего исследования в томографе пациенту нужно быть неподвижным, иначе изображение получится смазанным.

.container.blog-article__container.animation-waypoint
  %img.blog-article__image.blog-article__image_indent-t_normal.blog-article__image_indent-b_normal{src: image_url("blog/article-01.jpg")}

.container.blog-article__container.blog-article__container_space-l_default
  .blog-article__section.blog-article__section_indent-b_normal.animation-waypoint
    %h3.blog-article__header.blog-article__header_indent-b_normal Существуют ли противопоказания к МРТ диагностике?
    %p.blog-article__paragraph.blog-article__paragraph_width_l.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_normal
      Электроника в магнитном поле высокой напряженности может сломаться или начать некорректно работать. Если говорить о кардиостимуляторе, то его поломка грозит для пациента сбившимся ритмом сердца, а иногда даже летальным исходом. Металлические пластины, штыри могут не только смещаться в теле, но и способны нагреваться.
    %p.blog-article__paragraph.blog-article__paragraph_width_l.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown
      Сейчас, как правило, используются немагнитные сплавы, например, титана. С ними прохождение данной процедуры безопасно. Но для проведения диагностики нужно иметь справку от лечащего врача, что с данными протезами и имплантами МРТ не противопоказано.

  .blog-article__section.blog-article__section_indent-b_normal.animation-waypoint
    %h3.blog-article__header.blog-article__header_indent-b_normal То есть зубные импланты — тоже противопоказание?
    %p.blog-article__paragraph.blog-article__paragraph_width_l.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_normal
      Стоматологические импланты, различные металлоконструкции, брекеты не являются противопоказанием. Бывают случаи, когда брекеты при исследовании головного мозга могут давать артефакты (искажения — Прим. Ред.), затрудняющие оценку изображений.
    %p.blog-article__paragraph.blog-article__paragraph_width_l.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown
      Таким пациентам мы рекомендуем пройти обследование после их снятия. Зубные протезы, импланты при исследовании других областей не мешают диагностике.

  .blog-article__section.animation-waypoint.blog-article__section_indent-b_normal.blog-article__section_layout_two-columns
    %div
      %h3.blog-article__header.blog-article__header_indent-b_normal Расскажите, как подготовиться к процедуре?
      %p.blog-article__paragraph.blog-article__paragraph_width_s.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_large
        При большинстве случаев специфический подготовки не нужно. Но перед исследованием органов брюшной полости и малого таза необходимо пару дней соблюдать диету, чтобы кишечник был максимально опустошен. Исключить тяжелую пищу, которая долго переваривается и выводится.
      %h3.blog-article__header.blog-article__header_indent-b_normal Есть ли побочные эффекты у МРТ?
      %p.blog-article__paragraph.blog-article__paragraph_width_s.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown
        Магнитное поле безопасно для человека, томограф не использует вредное ионизирующее излучение, поэтому побочных эффектов нет.

    %div
      = react_component("HomepageSlider/Slide", {image: image_url("blog/mini-02.png"),
        title: "Как сделать МРТ и КТ со скидкой?",
        className: "news-card_size_xs",
        link: "#",
      })

  .blog-article__section.blog-article__section_indent-b_normal.animation-waypoint
    %h3.blog-article__header.blog-article__header_indent-b_normal У вас были любопытные случаи из практики?
    %p.blog-article__paragraph.blog-article__paragraph_width_l.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown.blog-article__paragraph_indent-b_normal
      Интересных случаев достаточно много. К счастью, большинство из них — это безобидные случайные находки. Например, редкие варианты нормального развития артерий головного мозга или наличие добавочных, сверхкомплектных костей, которые практически не снижают качество жизни.
    %p.blog-article__paragraph.blog-article__paragraph_width_l.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown
      Бывают и другие. У пациента, пришедшего на МРТ грудного отдела позвоночника, долгое время болела спина, и он лечился от остеохондроза. При обследовании был обнаружен метастаз в позвоночнике. До этого он даже не знал, что у него опухоль.

  .blog-article__section.animation-waypoint
    %h3.blog-article__header.blog-article__header_indent-b_normal Как часто можно проходить МРТ диагностику?
    %p.blog-article__paragraph.blog-article__paragraph_width_l.blog-article__paragraph_text-size_small.blog-article__paragraph_color_greyish-brown
      − Раз в год-полтора рекомендую проходить эту процедуру в качестве профилактики возможных патологии, если есть частые жалобы. МРТ — доступный и информативный метод исследования. Не стоит его бояться. Патологию можно распознать на ранних стадиях, когда еще целесообразно лечить, случай не «запущен». Нужно относиться внимательней к своему здоровью, особенно если что-то беспокоит.

  .blog-article__footer.animation-waypoint
    .pt-icon-plus.blog-article__footer-pt-icon
      .pt-icon-plus__icon.blog-article__author
        %img{src: image_url("doctors/doctor-01-flipped.png")}

      .pt-icon-plus__block Ирина Мальцева

    .blog-article-share
      .blog-article-share__item.blog-article-share__item_fb
        = render partial: '/shared/inline-icons/socials-facebook.svg'
      .blog-article-share__item.blog-article-share__item_vk
        = render partial: '/shared/inline-icons/socials-vk.svg'
      .blog-article-share__item.blog-article-share__item_ok
        = render partial: '/shared/inline-icons/socials-ok.svg'
      .blog-article-share__item.blog-article-share__item_twitter
        = render partial: '/shared/inline-icons/socials-twitter.svg'

.blog-article__appointment
  .container
    .section-header.section-header_color_light-navy.blog-article__appointment-header.animation-waypoint Оставить заявку на прием

    = react_component("Doctor/DoctorCard", {size:"small", lastName: "Шелест",
      "firstName": "Петр Викторович", description: "Врач-хирург, кандидат медицинских наук,  пластический хирург. Опыт работы 18 лет",
       photo: image_path("doctors/doctor-01.png"), appointmentLink: "#",
             photoSrcSet: image_path("doctors/doctor-01@2x.png") + " 2x, " + image_path("doctors/doctor-01@3x.png") + " 3x",
      }, {class: "doctor-component animation-waypoint"})

.page-underlay
  .container.blog-article__similar-section
    .section-header.section-header_color_light-navy.animation-waypoint Другие статьи по теме

    .blog-article__similar-wrapper
      = react_component("HomepageSlider/Slide", {image: image_url("homepage/blog-epilepsy.png"),
        tag: "Лечимся вместе",
        title: "Приступы эпилепсии: что это и как с ними бороться",
        link: "#",
      }, {class: 'blog-article__similar-card animation-waypoint'})

      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-08.png"),
        tag: "Лечимся вместе",
        title: "Как определить дефицит витамина А",
        link: "#",
      }, {class: 'blog-article__similar-card animation-waypoint'})

      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-07.png"),
        tag: "История",
        title: "Что нужно знать о правильной питьевой воде",
        link: "#",
      }, {class: 'blog-article__similar-card animation-waypoint'})

