- @pageClass = 'blogPage'
.page-underlay
  .container
    %div
      %ul.breadcrumbs.animation-waypoint
        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href => '/'} Главная

        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href=> '#'} Блог

      %h2.page-header.animation-waypoint Полезный блог о медицине

      = react_component "Tabs/PromosTabs", props={links: [{title: "Все", active: true},
      {title: "Полезная информация"},
      {title: "История"},
      {title: "Лечимся вместе"},
      {title: "Наука"},
      ]}, html_options={class: 'promos-page__tabs animation-waypoint'}

      .blog-articles-container
        .homepage-blog-article-animation-container.animation-waypoint
          %a.homepage-blog-article{:href => '#'}
            .homepage-blog-article__content
              %h3.homepage-blog-article__header Приступы эпилепсии: что&nbsp;это и как с ними бороться
              %p.homepage-blog-article__description
                Почему и у кого чаще всего случаются приступы эпилепсии? Рассказывает московский врач-невролог,
                эпилептолог Сергей Трепилец.
              .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link
                %span.arrowed-link__text Читать
                %span.arrowed-link__arrow
                  = render :partial => '/shared/inline-icons/arrow-right.svg'

            = image_tag "homepage/blog-epilepsy.png", :class => 'homepage-blog-article__image', :alt => 'Приступы эпилепсии: что это и как с ними бороться'

        .homepage-blog-article-animation-container.animation-waypoint
          %a.homepage-blog-article.homepage-blog-article_reversed{:href => '#'}
            .homepage-blog-article__content
              %h3.homepage-blog-article__header Признаки дефицита витаминов группы B
              %p.homepage-blog-article__description
                Слабость, потеря памяти и выпадение волос: к чему еще может привести дефицит витаминов группы В,
                и как с ним бороться, рассказывает Medical Note.
              .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link
                %span.arrowed-link__text Читать
                %span.arrowed-link__arrow
                  = render :partial => '/shared/inline-icons/arrow-right.svg'

            = image_tag "homepage/blog-vitamins.png", :class => 'homepage-blog-article__image', :alt => 'Приступы эпилепсии: что это и как с ними бороться'

        .homepage-blog-article-animation-container.animation-waypoint
          %a.homepage-blog-article{:href => '#'}
            .homepage-blog-article__content
              %h3.homepage-blog-article__header Как выбрать хорошего инфекциониста
              %p.homepage-blog-article__description
                Какие заболевания лечат врачи-инфекционисты и где ведут прием? Читайте в нашей новой статье.
              .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link
                %span.arrowed-link__text Читать
                %span.arrowed-link__arrow
                  = render :partial => '/shared/inline-icons/arrow-right.svg'

            = image_tag "homepage/blog-infectiologist.png", :class => 'homepage-blog-article__image', :alt => 'Приступы эпилепсии: что это и как с ними бороться'

        .homepage-blog-article-animation-container.animation-waypoint
          %a.homepage-blog-article.homepage-blog-article_reversed{:href => '#'}
            .homepage-blog-article__content
              %h3.homepage-blog-article__header Признаки дефицита витаминов группы B
              %p.homepage-blog-article__description
                Слабость, потеря памяти и выпадение волос: к чему еще может привести дефицит витаминов группы В,
                и как с ним бороться, рассказывает Medical Note.
              .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link
                %span.arrowed-link__text Читать
                %span.arrowed-link__arrow
                  = render :partial => '/shared/inline-icons/arrow-right.svg'

            = image_tag "homepage/blog-vitamins.png", :class => 'homepage-blog-article__image', :alt => 'Приступы эпилепсии: что это и как с ними бороться'

        .homepage-blog-article-animation-container.animation-waypoint
          %a.homepage-blog-article{:href => '#'}
            .homepage-blog-article__content
              %h3.homepage-blog-article__header Как выбрать хорошего инфекциониста
              %p.homepage-blog-article__description
                Какие заболевания лечат врачи-инфекционисты и где ведут прием? Читайте в нашей новой статье.
              .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link
                %span.arrowed-link__text Читать
                %span.arrowed-link__arrow
                  = render :partial => '/shared/inline-icons/arrow-right.svg'

            = image_tag "homepage/blog-infectiologist.png", :class => 'homepage-blog-article__image', :alt => 'Приступы эпилепсии: что это и как с ними бороться'

        .promos-container__more.animation-waypoint
          %a.button.button_large{:href => '#'} Загрузить еще