- @headerBorder = true

.service-page-section
  .container{style: 'display: flex; justify-content: center'}
    .button.button_large{'data-popup': 'city-confirmation-popup'} Подтвердить город

.service-page-section
  .container{style: 'display: flex; justify-content: center'}
    .button.button_large{'data-popup': 'city-select-popup'} Выбрать город

= render :partial => '/shared/city_confirmation_popup'