- @pageClass = 'doctorPage'
- @headerBorder = true
%header.doctor-jumbotron.page-jumbotron.animation-waypoint
  .container.doctor-jumbotron__container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href=> doctors_path} Врачи

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Шелест Петр Виктрович
    .doctor-jumbotron__info
      %h3.page-jumbotron__header
        %span Шелест
        %span Петр Викторович
      %p.doctor-jumbotron__description
        Врач-хирург, кандидат медицинских наук,  пластический хирург, организатор здравоохранения.  Опыт работы 18 лет

    .page-jumbotron-actions.doctor-jumbotron-actions
      %a.button.button_large.button__book{:href => '#'} Записаться на прием
      %a.button.button_large.button_white.button__question{:href => '#', 'data-popup' =>'doctor-question-popup'}
        .button__icon
          = render :partial => '/shared/inline-icons/messages.svg'
        Задать вопрос доктору

    = image_tag "doctor-page/doctor-photo.png", :class => 'doctor-jumbotron__photo', :alt => 'Шелест Петр Викторович'

.page-underlay
  .doctor-info-sections
    %section.doctor-info-section.animation-waypoint
      %h3.doctor-info-section__header Специализация:
      %ul.doctor-info-section-items
        %li.doctor-info-section-items__item плановая и экстренная хирургическая помощь при заболеваниях органов брюшной полости
        %li.doctor-info-section-items__item пластическая эстетическая хирургия лица, молочных желез, передней стенки живота
        %li.doctor-info-section-items__item организация здравоохранения

    %section.doctor-info-section.animation-waypoint
      %h3.doctor-info-section__header Образование
      %ul.doctor-info-section-items
        %li.doctor-info-section-items__item
          1994 - 2000 Иркутский государственный медицинский университет, лечебный факультет
        %li.doctor-info-section-items__item
          2000 - 2002 ординатура по хирургии ИГМУ
        %li.doctor-info-section-items__item
          09.2011 - 01.2012 Повышение квалификации по пластической хирургии АНО "Международная медицинская корпорация",
          г. Москва
        %li.doctor-info-section-items__item
          2018 - профессиональная переподготовка по организации здравоохранения, ООО "Межрегиональный центр непрерывного
          медицинского и фармацевтического образования", г. Москва

    %section.doctor-info-section.animation-waypoint
      %h3.doctor-info-section__header Опыт работы
      %ul.doctor-info-section-items
        %li.doctor-info-section-items__item
          2001 - настоящее время: врач-хирург хирургического отделения Клинической больницы №1 г. Иркутска
        %li.doctor-info-section-items__item
          2002 - 2008 ассистент кафедры общей хирургии Иркутского государственного медицинского университета
        %li.doctor-info-section-items__item
          2008 - 2011 врач-хирург отделения эстетической, лазерной хирургии и косметологии ООО РЦ "Микрохирургия"
        %li.doctor-info-section-items__item
          2011 - 2016 заведующий отделением пластической хирургии, врач-пластический хирург ООО РЦ "Микрохирургия"
        %li.doctor-info-section-items__item
          2016 - настоящее время врач-пластический хирург хирургического отделения ООО МЦ "Элит"
        %li.doctor-info-section-items__item
          декабрь 2018 - настоящее время заместитель главного врача по хирургии "Клиника Эксперт Иркутск"

    %section.doctor-info-section-services.animation-waypoint
      %h3.doctor-info-section-services__header Услуги и стоимость

      .doctor-info-section-services__container
        .doctor-info-section-services__row
          .doctor-info-section-services__label Прием врача-хирурга, операции на мягких тканях и органах брюшной полости
          .doctor-info-section-services__price 1 800 руб.

        .doctor-info-section-services__row
          .doctor-info-section-services__label Прием врача-пластического хирурга, пластические эстетические операции на лице и теле
          .doctor-info-section-services__price 1 200 руб.

= render :partial => '/shared/reviews'

.ask-question.ask-question_gray.ask-question_narrow.animation-waypoint
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом

= render :partial => '/shared/doctor_question'