- @pageClass = 'doctorsPage'
.page-underlay.doctors-page
  .container
    .doctors-page-header-container.animation-waypoint
      %ul.breadcrumbs
        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href => '/'} Главная

        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href=> '#'} Врачи

      %h2.page-header.doctors-page__page-header Врачи

      = react_component("FiltersRow/FiltersRow", {bottom: '.doctors-list'})

    .doctors-list
      = react_component("Doctor/DoctorCard", {size:"small", lastName: "Шелест",
      "firstName": "Петр Викторович", description: "Врач-хирург, кандидат медицинских наук,  пластический хирург. Опыт работы 18 лет",
       photo: image_path("doctors/doctor-01.png"), appointmentLink: "#",
             photoSrcSet: image_path("doctors/doctor-01@2x.png") + " 2x, " + image_path("doctors/doctor-01@3x.png") + " 3x",
      }, {class: "doctor-component animation-waypoint animation-waypoint"})

      = react_component("Doctor/DoctorCard", {size:"small", lastName: "Наседкина",
      "firstName": "Галина Григорьевна", description: "Врач-сердечно-сосудистый хирург, врач-хирург, врач узд, к.м.н. Опыт работы 9 лет.",
       photo: image_path("doctors/doctor-02.png"), redirect: "Вторник, 23 марта",
             photoSrcSet: image_path("doctors/doctor-02@2x.png") + " 2x, " + image_path("doctors/doctor-02@3x.png") + " 3x",
      }, {class: "doctor-component animation-waypoint"})

      = react_component("Doctor/DoctorCard", {size:"small", lastName: "Пермяков",
      "firstName": "Сергей Владимирович", description: "Врач-эндоскопист. Опыт работы 25 лет.",
       photo: image_path("doctors/doctor-03.png"),
             photoSrcSet: image_path("doctors/doctor-03@2x.png") + " 2x, " + image_path("doctors/doctor-03@3x.png") + " 3x",
             redirect: "Вторник, 23 марта",
      }, {class: "doctor-component animation-waypoint"})

      = react_component("Doctor/DoctorCard", {size:"small", lastName: "Ахлакова",
      "firstName": "Патимат Магомедовна", description: "Врач-невролог, эпилептолог, врач мануальн. и рефлектотерапии. Опыт работы 20 лет.",
       photo: image_path("doctors/doctor-04.png"), appointmentLink: "#",
             photoSrcSet: image_path("doctors/doctor-04@2x.png") + " 2x, " + image_path("doctors/doctor-04@3x.png") + " 3x",
      }, {class: "doctor-component animation-waypoint"})

      = react_component("Doctor/DoctorCard", {size:"small", lastName: "Анненков",
      "firstName": "Андрей Викторович", description: "Врач-кардиолог. Опыт работы 24 года.",
       photo: image_path("doctors/doctor-05.png"), appointmentLink: "#",
             photoSrcSet: image_path("doctors/doctor-05@2x.png") + " 2x, " + image_path("doctors/doctor-05@3x.png") + " 3x",
          }, {class: "doctor-component animation-waypoint"})

      = react_component("Doctor/DoctorCard", {size:"small", lastName: "Аминтаева",
      "firstName": "Земфира Хабибуллаевна", description: "Врач-онколог. Опыт работы 8 лет.",
       photo: image_path("doctors/doctor-06.png"), appointmentLink: "#",
             photoSrcSet: image_path("doctors/doctor-06@2x.png") + " 2x, " + image_path("doctors/doctor-06@3x.png") + " 3x",
          }, {class: "doctor-component animation-waypoint"})

    .doctors-page-button-container.animation-waypoint
      %a.button.button_large.doctors-page__button{:href => '#'} Показать еще