- @pageClass = 'homepage'
= react_component("HomepageJumbotron/HomepageJumbotron", {tick: 7000, slides: [{title: "Экспертная забота о&nbsp;вашем здоровье",
description: "Новый стандарт проведения диагностических и лабораторных исследований",
},{title: "Lorem ipsum dolor sit amet",
description: "Sed ut porta metus, ac semper justo. Sed ullamcorper in urna vel elementum.",
},{title: "Sed non lacus vitae",
description: "Aenean velit metus, bibendum tincidunt tellus id, maximus consectetur mi.",
},
]}, {class: 'animated-jumbotron'})

.homepage-services
  .container.homepage-services__container
    .homepage-service.homepage-service_lab.animation-waypoint
      %h2.homepage-service__heading Диагностические и лабораторные исследования
      %ul.homepage-service-list
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} МРТ
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Рентген
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} УЗИ
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} КТ
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Анализы
      %a.arrowed-link.arrowed-link_blue.homepage-service__arrowed-link{:href => '#'}
        %span.arrowed-link__text Еще 8 направлений
        %span.arrowed-link__arrow
          = render :partial => '/shared/inline-icons/arrow-right.svg'

    .homepage-service.homepage-service_surgery.animation-waypoint
      %h2.homepage-service__heading.homepage-service__heading_narrow Хирургический стационар
      %ul.homepage-service-list
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Амбулаторная хирургия
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Операционная кардиология
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Абдоминальная хирургия
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Лечение грыж и передней брюшной стенки
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Флебология
      %a.arrowed-link.arrowed-link_blue.homepage-service__arrowed-link{:href => '#'}
        %span.arrowed-link__text Еще 8 направлений
        %span.arrowed-link__arrow
          = render :partial => '/shared/inline-icons/arrow-right.svg'


    .homepage-service.homepage-service_adults.animation-waypoint
      %h2.homepage-service__heading.homepage-service__heading_narrow Поликлиника для&nbsp;взрослых
      %ul.homepage-service-list
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Аллергология
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Гематология
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Неврология
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Кардиология
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Нейрохирургия
      %a.arrowed-link.arrowed-link_blue.homepage-service__arrowed-link{:href => '#'}
        %span.arrowed-link__text Еще 19 направлений
        %span.arrowed-link__arrow
          = render :partial => '/shared/inline-icons/arrow-right.svg'


    .homepage-service.homepage-service_kids.animation-waypoint
      %h2.homepage-service__heading.homepage-service__heading_narrow Поликлиника для&nbsp;детей
      %ul.homepage-service-list
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Педиатрия
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Гематология
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Неврология
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Кардиология
        %li.homepage-service-list__item
          .homepage-service-list__item-bullet
            = render :partial => '/shared/inline-icons/homepage-bullet.svg'
          %a.homepage-service-list__link{:href => '#'} Нейрохирургия
      %a.arrowed-link.arrowed-link_blue.homepage-service__arrowed-link{:href => '#'}
        %span.arrowed-link__text Еще 8 направлений
        %span.arrowed-link__arrow
          = render :partial => '/shared/inline-icons/arrow-right.svg'


.ask-question.animation-waypoint
  .container.ask-question__container
    %p.ask-question__header
      Возникли вопросы?<br/>
      Хотите записаться онлайн?<br/>
      Нужно подобрать врача?
    %p.ask-question__paragraph
      Наш специалист уже готов ответить на все ваши вопросы
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом

.homepage-doctors.animation-waypoint
  .container.homepage-doctors__container
    .section-header Все дело в людях
    %p.homepage-doctors__description
      Профессионализм, постоянное развитие и лояльный подход к пациентам — вот то, что мы ценим в наших специалиста
    .homepage-doctors-button-container
      %a.button.homepage-doctors__button.button_large{:href => doctors_path} Наши врачи

.animation-waypoint
  = react_component("HomepageSlider/HomepageSlider", {slides: [{image: image_url("homepage/news-neck.png"),
    duration: "1 сентября - 30 ноября",
    title: "Программа «Здоровая спина»",
    oldPrice: "11 600",
    newPrice: "8 750",
    link: "#",
    }, { image: image_url("homepage/news-neck.png"),
      duration: "1 сентября - 30 ноября",
      title: "Программа «Здоровая спина»",
      oldPrice: "11 600",
      newPrice: "8 750",
      link: "#",
    }, { image: image_url("homepage/news-neck.png"),
      duration: "1 сентября - 30 ноября",
      title: "Программа «Здоровая спина»",
      oldPrice: "11 600",
      newPrice: "8 750",
      link: "#",
    }, {image: image_url("homepage/news-kids.png"),
      title: "Открытие детской поликлиники",
      tag: "Лечимся вместе",
      link: "#",
    }, { image: image_url("homepage/news-mri.png"),
      duration: "до 30 декабря",
      title: "Пусть голова будет светлой!",
      oldPrice: "7 990 ",
      newPrice: "12 990 ",
      link: "#",
    }, { image: image_url("homepage/news-mri.png"),
      duration: "до 30 декабря",
      title: "Пусть голова будет светлой!",
      oldPrice: "7 990 ",
      newPrice: "12 990 ",
      link: "#",
    }, {image: image_url("homepage/news-mri.png"),
      duration: "до 30 декабря",
      title: "Пусть голова будет светлой!",
      oldPrice: "7 990 ",
      newPrice: "12 990 ",
      link: "#",
    },
]})

%section.homepage-blog
  .container
    %h2.section-header.homepage-blog__section-header.animation-waypoint Полезный блог о&nbsp;медицине

    .homepage-blog-article-animation-container.animation-waypoint
      %a.homepage-blog-article{:href => '#'}
        .homepage-blog-article__content
          %h3.homepage-blog-article__header Приступы эпилепсии: что&nbsp;это и как с ними бороться
          %p.homepage-blog-article__description
            Почему и у кого чаще всего случаются приступы эпилепсии? Рассказывает московский врач-невролог,
            эпилептолог Сергей Трепилец.
          .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link
            %span.arrowed-link__text Читать
            %span.arrowed-link__arrow
              = render :partial => '/shared/inline-icons/arrow-right.svg'

        = image_tag "homepage/blog-epilepsy.png", :class => 'homepage-blog-article__image', :alt => 'Приступы эпилепсии: что это и как с ними бороться'

    .homepage-blog-article-animation-container.animation-waypoint
      %a.homepage-blog-article.homepage-blog-article_reversed{:href => '#'}
        .homepage-blog-article__content
          %h3.homepage-blog-article__header Признаки дефицита витаминов группы B
          %p.homepage-blog-article__description
            Слабость, потеря памяти и выпадение волос: к чему еще может привести дефицит витаминов группы В,
            и как с ним бороться, рассказывает Medical Note.
          .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link
            %span.arrowed-link__text Читать
            %span.arrowed-link__arrow
              = render :partial => '/shared/inline-icons/arrow-right.svg'

        = image_tag "homepage/blog-vitamins.png", :class => 'homepage-blog-article__image', :alt => 'Приступы эпилепсии: что это и как с ними бороться'

    .homepage-blog-article-animation-container.animation-waypoint
      %a.homepage-blog-article{:href => '#'}
        .homepage-blog-article__content
          %h3.homepage-blog-article__header Как выбрать хорошего инфекциониста
          %p.homepage-blog-article__description
            Какие заболевания лечат врачи-инфекционисты и где ведут прием? Читайте в нашей новой статье.
          .arrowed-link.arrowed-link_blue.homepage-blog-article__arrowed-link
            %span.arrowed-link__text Читать
            %span.arrowed-link__arrow
              = render :partial => '/shared/inline-icons/arrow-right.svg'

        = image_tag "homepage/blog-infectiologist.png", :class => 'homepage-blog-article__image', :alt => 'Приступы эпилепсии: что это и как с ними бороться'

    .homepage-blog-button-container.animation-waypoint
      %a.button.button_large.homepage-blog-article__button{:href => '#'} Смотреть все статьи

.homepage-map-animation-container.animation-waypoint
  = react_component("Map/Map")