- @headerBorder = true
- @pageClass = 'patientsPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.page-jumbotron_gray-mobile.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Информация для пациентов

    .page-jumbotron__container
      %h2.page-jumbotron__header.patients-page__jumbotron-header Информация для&nbsp;пациентов

  .patients-page__tabs
    .container.patients-page__tabs-container
      = react_component "Tabs/Tabs", props={links: [{title: "Памятки", href: patients_notes_path},
      {title: "Вопросы и ответы", href: patients_faq_path},
      {title: "Законодательство", href: patients_legal_path, active: true},
      ]}, html_options={class: 'tabs__wrapper'}

.page-underlay.patients-page__legal-page-underlay
  .container
    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Общие документы

      .services-box-content
        .files-list.patients-page__legal-files-list
          .files-list__row
            Федеральный закон об основах охраны здоровья граждан в Российской Федерации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Федеральный закон об обязательном медицинском страховании в Российской Федерации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Постановление об утверждении правил предоставления медицинскими организациями
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Закон о защите прав потребителей
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Положение о конфиденциальной информации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Адреса и телефоны уполномоченных органов
            %a.files-list__download-button{:href => '#'}
              %span Скачать

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Федеральный уровень

      .services-box-content
        .files-list.patients-page__legal-files-list
          .files-list__row
            Федеральный закон об основах охраны здоровья граждан в Российской Федерации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Федеральный закон об обязательном медицинском страховании в Российской Федерации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Постановление об утверждении правил предоставления медицинскими организациями
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Закон о защите прав потребителей
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Положение о конфиденциальной информации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Адреса и телефоны уполномоченных органов
            %a.files-list__download-button{:href => '#'}
              %span Скачать

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Список аффилированных лиц

      .services-box-content
        .files-list.patients-page__legal-files-list
          .files-list__row
            Федеральный закон об основах охраны здоровья граждан в Российской Федерации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Федеральный закон об обязательном медицинском страховании в Российской Федерации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Постановление об утверждении правил предоставления медицинскими организациями
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Закон о защите прав потребителей
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Положение о конфиденциальной информации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Адреса и телефоны уполномоченных органов
            %a.files-list__download-button{:href => '#'}
              %span Скачать

    %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
      %h2.services-box__header.services-box__header_size_xsmall Годовые отчеты

      .services-box-content
        .files-list.patients-page__legal-files-list
          .files-list__row
            Федеральный закон об основах охраны здоровья граждан в Российской Федерации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Федеральный закон об обязательном медицинском страховании в Российской Федерации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Постановление об утверждении правил предоставления медицинскими организациями
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Закон о защите прав потребителей
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Положение о конфиденциальной информации
            %a.files-list__download-button{:href => '#'}
              %span Скачать
          .files-list__row
            Адреса и телефоны уполномоченных органов
            %a.files-list__download-button{:href => '#'}
              %span Скачать


.ask-question.ask-question_narrow.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом



