- @headerBorder = true
- @pageClass = 'patientsPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.page-jumbotron_gray-mobile.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Информация для пациентов

    .page-jumbotron__container
      %h2.page-jumbotron__header.patients-page__jumbotron-header Информация для&nbsp;пациентов

  .patients-page__tabs
    .container.patients-page__tabs-container
      = react_component "Tabs/Tabs", props={links: [{title: "Памятки", href: patients_notes_path, active: true},
      {title: "Вопросы и ответы", href: patients_faq_path},
      {title: "Законодательство", href: patients_legal_path},
      ]}, html_options={class: 'tabs__wrapper'}

.page-underlay.patients-page__page-underlay
  .container
    %h3.patients-page__header.animation-waypoint Памятки к&nbsp;исследованиям
    %p.patients-page__note.animation-waypoint
      Здесь вы можете найти памятки с требованиями к подготовкте исследованиям, рекомендации по их прохождению

    .filters.patients-page__filters-container.animation-waypoint
      = react_component("FiltersRow/SpecializationFilter", props={},html_options={class: 'patients-page__filters'})

    .files-list.patients-page__notes-files-list.animation-waypoint
      .files-list__row
        Подготовка к МРТ позвоночника
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Подготовка к МРТ позвоночника
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Подготовка к МРТ позвоночника
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Подготовка к МРТ головы
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Подготовка к МРТ позвоночника
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Подготовка к МРТ желудка
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Подготовка к МРТ позвоночника
        %a.files-list__download-button{:href => '#'}
          %span Скачать
      .files-list__row
        Подготовка к МРТ желез
        %a.files-list__download-button{:href => '#'}
          %span Скачать


.ask-question.ask-question_narrow.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом



