- @pageClass = 'promosPage'
.page-underlay
  .container
    %div
      %ul.breadcrumbs
        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href => '/'} Главная

        %li.breadcrumbs-item
          %a.breadcrumbs-item__link{:href=> '#'} Акции и новости

      %h2.page-header Акции и новости

      = react_component "Tabs/PromosTabs", props={links: [{title: "Все", active: true},
      {title: "Диагностика"},
      {title: "Для взрослых"},
      {title: "Для детей", href: '#'},
      ]}, html_options={class: 'promos-page__tabs'}

      .promos-container
        = react_component("HomepageSlider/Slide", {title: "Программа «Здоровая&nbsp;спина»", duration: "1 сентября - 30 ноября", link: promos_view_path,
       oldPrice: "11 600", newPrice: "8 750", image: image_url("homepage/news-neck.png"), className: "news-card_full-width promos-page__news-card-large",
       description: "Сидячий образ жизни, малоподвижность, неправильное питание — все это пагубно влияет на наш организм"},
       {class: 'promos-page__large-card-container animation-waypoint'})

        .promos-container__cards
          = react_component("HomepageSlider/Slide", {title: "Варикоцеле и его влияние на мужское здоровье", duration: "21 января 2019", link: "#",
       oldPrice: "11 600", newPrice: "8 750", image: image_url("homepage/news-neck.png")}, {class: 'promos-page__news-card-small animation-waypoint'})

          = react_component("HomepageSlider/Slide", {title: "Счастливые часы в МРТ-Эксперт", tag: "Для детей", link: "#",
       image: image_url("homepage/news-kids.png")}, {class: 'promos-page__news-card-small animation-waypoint'})

          = react_component("HomepageSlider/Slide", {title: "Пусть голова будет светлой", duration: "до 30 декабря", link: "#",
       image: image_url("homepage/news-mri.png")}, {class: 'promos-page__news-card-small animation-waypoint'})

          = react_component("HomepageSlider/Slide", {title: "Варикоцеле и его влияние на мужское здоровье", duration: "21 января 2019", link: "#",
       oldPrice: "11 600", newPrice: "8 750", image: image_url("homepage/news-neck.png")}, {class: 'promos-page__news-card-small animation-waypoint'})

          = react_component("HomepageSlider/Slide", {title: "Счастливые часы в МРТ-Эксперт", tag: "Для детей", link: "#",
       image: image_url("homepage/news-kids.png")}, {class: 'promos-page__news-card-small animation-waypoint'})

          = react_component("HomepageSlider/Slide", {title: "Пусть голова будет светлой", duration: "до 30 декабря", link: "#",
       image: image_url("homepage/news-mri.png")}, {class: 'promos-page__news-card-small animation-waypoint'})

        .promos-container__more.animation-waypoint
          %a.button.button_large{:href => '#'} Загрузить еще