- @headerBorder = true
- @pageClass = 'promoPage'

.page-jumbotron.animation-waypoint
  .container.service-page__header-container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href=> promos_path} Акции

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Чем мощнее – тем лучше?

    .page-jumbotron__container.promo-page__jumbotron-container
      %h2.page-jumbotron__header.service-page__page-jumbotron__header
        Программа «Здоровая спина»

      %p.page-jumbotron__paragraph.page-jumbotron__paragraph_indent-b_normal
        Сидячий образ жизни, малоподвижность, неправильное питание — все это пагубно влияет на наш организм

      = image_tag("homepage/news-neck.png", {class: 'page-jumbotron__image promo-page__image'})

      .page-jumbotron-actions.service-page__page-jumbotron-actions
        %a.button.button_large.promo-page__book-button{:href => '#'}
          Оставить заявку
        .page-jumbotron-price.service-page__page-jumbotron-price
          %span.page-jumbotron-price__comment.page-jumbotron-price__comment_indent-b_normal исследование
          %div.page-jumbotron-price__discount
            8 750 ₽
            %span.page-jumbotron-price__old-price 11 300 ₽

.page-underlay.service-page-content.promo-page__content
  .container
    %section.service-page-section.service-page-section_statistics.animation-waypoint
      %h3.service-page-section__header.service-page-section__header_small Опереди болезнь!

      .service-page-statistics
        .service-page-statistics-block
          .service-page-statistics-block__value
            1
            %span раз в год

          .service-page-statistics-block__label ВОЗ рекомендует проходить МРТ мозга 1 раз в год

        .service-page-statistics-block
          .service-page-statistics-block__value
            %span на
            60%

          .service-page-statistics-block__label Своевременное МРТ головного мозга снижает риск инсульта на 60%

        .service-page-statistics-block
          .service-page-statistics-block__value
            95%

          .service-page-statistics-block__label МРТ головного мозга обнаруживает 95% раковых заболеваний

    %section.service-page-section.service-page-section_space-b_80.animation-waypoint
      .service-page-section-layout_two-columns
        %div.service-page-section-layout_indent-r_small.service-page-section-layout_indent-b_small
          %h3.service-page-section__header.service-page-section__header_small.promo-page__shadow-text-header Симптомы, при которых рекоменедовано проведение исследования
          %p.service-page-section__text.promo-page__desktop-text
            Исследование позволяет выявить или&nbsp;исключить самые разные патологические изменения в головном мозге,
            определить наличие очагов заболеваний и&nbsp;максимально точно изучить состояние головного мозга.
        %div
          %ul.dashed-list.service-page__dashed-list
            %li.dashed-list__item Головные боли, шум в голове
            %li.dashed-list__item Головокружение
            %li.dashed-list__item Эпизоды потери сознания
            %li.dashed-list__item Эпилептические приступы (судорожные припадки)
            %li.dashed-list__item Повышение артериального давления и его перепады
            %li.dashed-list__item Слабость и онемение в руках и ногах
            %li.dashed-list__item Асимметрия и онемение лица
            %li.dashed-list__item Нарушение речи
          %p.service-page-section__text.promo-page__mobile-text.promo-page__mobile-text_indent-t_normal
            Исследование позволяет выявить или&nbsp;исключить самые разные патологические изменения в головном мозге,
            определить наличие очагов заболеваний и&nbsp;максимально точно изучить состояние головного мозга.

    %section.service-page-section.service-page-section_border-top_danger.service-page-section_with-border.service-page-section_space-b_80.service-page-section_space-t_80.animation-waypoint
      .service-page-section-layout_two-columns
        %h3.service-page-section__header.service-page-section-layout_indent-r_small.service-page-section__header_small.service-page-section-layout_indent-b_small
          МРТ проводить нельзя, если у вас установлены:

        %ul.dashed-list.service-page__dashed-list
          %li.dashed-list__item Кардиостимуляторы, водители ритма
          %li.dashed-list__item Нейростимуляторы
          %li.dashed-list__item Электронные импланты, металлические импланты и стенты
          %li.dashed-list__item Нефиксированные ферромагнитные материалы в теле (дробь, шрапнель, осколок)
          %li.dashed-list__item Катетеры в легочной артерии
          %li.dashed-list__item Аппараты для внутриаортальной балонной контрпульсации
          %li.dashed-list__item Кровоостанавливающие клипсы на сосудах

    %section.service-page-section.service-page-section_with-border.service-page-section_space-b_80.service-page-section_space-t_80.animation-waypoint
      .service-page-section-layout_two-columns
        %h3.service-page-section__header.service-page-section-layout_indent-r_small.service-page-section__header_small
          В комплекс входят исследования

        %ul.tick-list.promo-page__tick-list
          %li.tick-list__item МР артериография головы
          %li.tick-list__item МРТ головного мозга
          %li.tick-list__item МРТ шейного отдела позвоночника

    %section.service-page-section.promo-page__note.service-page-section_space-t_80.animation-waypoint
      Детские специалисты принимают по акции только в будние дни. Записаться на прием и получить более
      подробную информацию об акции вы можете по телефону: 8 800 000 00-00. Предоставляемая скидка не
      суммируется с другими скидками и акциями, проходящими в Клинике Эксперт в аналогичный период.

= render :partial => '/shared/reviews'

.ask-question.ask-question_gray.ask-question_narrow
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом