- @pageClass = 'servicePage'
- @headerBorder = true

.page-jumbotron.service-page__page-jumbotron.animation-waypoint
  .container.service-page__header-container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href=> services_diagnostics_path} Диагностика

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href=> services_diagnostics_path} МРТ

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link МРТ головного мозга

    .page-jumbotron__container
      = image_tag("homepage/news-mri.png", {class: 'page-jumbotron__image'})

      %h2.page-jumbotron__header.service-page__page-jumbotron__header МРТ головного мозга

      %ul.tick-list.service-page__tick-list.service-page__tick-list-header
        %li.tick-list__item
          Профессиональное оборудование с напряженностью поля
          от&nbsp;1,0&nbsp;до&nbsp;3,0&nbsp;Тесла.
        %li.tick-list__item
          Бесплатная консультанция по результатам&nbsp;исследования
        %li.tick-list__item
          Постоянно обучаем врачей в собственном университете

    .page-jumbotron-actions.service-page__page-jumbotron-actions
      %a.button.button_large.button__book{:href => '#'}
        Записаться
      .page-jumbotron-price.service-page__page-jumbotron-price
        2 500 ₽
        %span.page-jumbotron-price__comment доступно по ОМС

.page-underlay.service-page-content
  .container
    %section.service-page-section.animation-waypoint
      .service-page-section-layout_two-columns
        %div
          %h3.service-page-section__header Опереди болезнь!

          %p.service-page-section__text
            Своевременное проведение МРТ головного&nbsp;мозга позволит исключить или&nbsp;вовремя
            приступить к лечению таких&nbsp;заболеваний как:

        .service-page-icons
          .service-page-icons__item
            .service-page-icons__icon.service-page-icons__icon_tumor
            .service-page-icons__label Опухоли и другие изменения в структуре головного мозга

          .service-page-icons__item
            .service-page-icons__icon.service-page-icons__icon_insult
            .service-page-icons__label Инсульты

          .service-page-icons__item
            .service-page-icons__icon.service-page-icons__icon_infections
            .service-page-icons__label Инфекции и воспаления

    %section.service-page-section.service-page-section_padding-small.animation-waypoint
      .service-page-section-layout_two-columns
        %div
          %h3.service-page-section__header Когда проводить МРТ головного мозга?

          %p.service-page-section__text
            Исследование позволяет выявить или&nbsp;исключить самые разные патологические изменения в головном мозге,
            определить наличие очагов заболеваний и&nbsp;максимально точно изучить состояние головного мозга.

        %ul.dashed-list
          %li.dashed-list__item Головные боли, шум в голове
          %li.dashed-list__item Головокружение
          %li.dashed-list__item Эпизоды потери сознания
          %li.dashed-list__item Эпилептические приступы (судорожные припадки)
          %li.dashed-list__item Повышение артериального давления и его перепады
          %li.dashed-list__item Слабость и онемение в руках и ногах
          %li.dashed-list__item Асимметрия и онемение лица
          %li.dashed-list__item Нарушение речи

    %section.service-page-section.service-page-section_padding-xlarge.service-page__large-news-card.animation-waypoint
      = react_component("HomepageSlider/Slide", {title: "Пусть голова будет светлой!", duration: "до 30 декабря", link: "#",
       oldPrice: "12 990", newPrice: "7 990", image: image_url("service/mri.png"), className: "news-card_full-width",
       description: "Сидячий образ жизни, малоподвижность, неправильное питание — все это пагубно влияет на наш организм"})


    %section.service-page-section.service-page-section_differences.service-page-section_no-top-padding.animation-waypoint
      %h3.service-page-section__header Чем МРТ отличается от КТ

      .service-page-section-layout_two-columns
        %ul.tick-list.service-page__tick-list_advantages
          %li.tick-list__item В КТ используется рентгеновское излучение. В основе метода МРТ магнитное поле.
          %li.tick-list__item
            МРТ сканирует мягкие ткани организма такие, как мышцы, сосуды, мозг, нервы, межпозвонковые диски и&nbsp;т.д.

        %ul.tick-list.service-page__tick-list_advantages
          %li.tick-list__item
            МРТ не несет лучевой нагрузки на организм человека, поэтому у МРТ нет ограничения на повторные проведения
            процедур.
          %li.tick-list__item
            МРТ более информативная процедура для выявления опухолей и опухолевых образований, патологий и поражений
            головного и спинного мозга, инсультов и т.д.

    %section.service-page-section.service-page-section_border-top_danger.service-page-section_danger.service-page-section_no-bottom-padding.animation-waypoint
      .service-page-section-layout_two-columns
        %h3.service-page-section__header
          МРТ проводить нельзя, если у вас установлены:

        %ul.dashed-list.service-page__dashed-list
          %li.dashed-list__item Кардиостимуляторы, водители ритма
          %li.dashed-list__item Нейростимуляторы
          %li.dashed-list__item Электронные импланты, металлические импланты и стенты
          %li.dashed-list__item Нефиксированные ферромагнитные материалы в теле (дробь, шрапнель, осколок)
          %li.dashed-list__item Катетеры в легочной артерии
          %li.dashed-list__item Аппараты для внутриаортальной балонной контрпульсации
          %li.dashed-list__item Кровоостанавливающие клипсы на сосудах

= render :partial => '/shared/reviews'

.ask-question.ask-question_gray.ask-question_narrow
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом