- @headerBorder = true
.page-jumbotron.services-header
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Диагностические и лабораторные исследования

    .page-jumbotron__header Услуги

.services-page
  .services-tabs
    .container
      %ul.services-tabs-list
        %li.services-tabs-list__item.services-tabs-list__item_active
          %a.services-tabs-list__link{:href => '/services/diagnostics'}
            %span.services-tabs-list__icon.services-tabs-list__icon_lab
              = render :partial => '/shared/inline-icons/service-lab.svg'
            Диагностические и лабораторные исследования

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '/services/surgery'}
            %span.services-tabs-list__icon.services-tabs-list__icon_surgery
              = render :partial => '/shared/inline-icons/service-surgery.svg'
            Хирургический стационар

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '/services/adults'}
            %span.services-tabs-list__icon.services-tabs-list__icon_adults
              = render :partial => '/shared/inline-icons/service-adults.svg'
            Поликлиника для&nbsp;взрослых

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '#'}
            %span.services-tabs-list__icon.services-tabs-list__icon_kids
              = render :partial => '/shared/inline-icons/service-kids.svg'
            Поликлиника для&nbsp;детей

.page-underlay.services-boxes
  .container
    .service-search-input
      %input.service-search-input__input{:placeholder => 'Например, “МРТ головы” или “Узи почек”'}

  .container.services-boxes__container
    .services-tabs-content
      .services-tab
        %section.services-box.services-box_expanded
          %h2.services-box__header МРТ

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => services_mri_path} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row.services-box-row_no-wrap
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box
          %h2.services-box__header Компьютерная томография

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row.services-box-row_no-wrap
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box
          %h2.services-box__header Рентген

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row.services-box-row_no-wrap
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box
          %h2.services-box__header Функциональная диагностика

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row.services-box-row_no-wrap
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box
          %h2.services-box__header Эндоскопия

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row.services-box-row_no-wrap
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box
          %h2.services-box__header Анализы

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row.services-box-row_no-wrap
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи.services-tab_visible.services-tab_visible

      .services-tab.services-tab_small-padding.services-tab_visible
        .services-box-row.services-box-row_standalone
          %a.services-box-list__link{:href => '#'} Гастроэнтерология
          %a.services-box-list__link{:href => '#'} Гинекология и акушерство
          %a.services-box-list__link{:href => '#'} Диагностика
          %a.services-box-list__link{:href => '#'} Кардиология
          %a.services-box-list__link{:href => '#'} Косметология
          %a.services-box-list__link{:href => '#'} Маммология
          %a.services-box-list__link{:href => '#'} Манипуляции массажиста

          %a.services-box-list__link{:href => '#'} Мануальная терапия
          %a.services-box-list__link{:href => '#'} Медикаментозные блокады
          %a.services-box-list__link{:href => '#'} Неврология
          %a.services-box-list__link{:href => '#'} Нейрохирургия
          %a.services-box-list__link{:href => '#'} Онкология
          %a.services-box-list__link{:href => '#'} Пульмонология
          %a.services-box-list__link{:href => '#'} Ревматология

          %a.services-box-list__link{:href => '#'} Сердечно-сосудистая хирургия
          %a.services-box-list__link{:href => '#'} Терапия
          %a.services-box-list__link{:href => '#'} Травматология и ортопедия
          %a.services-box-list__link{:href => '#'} Урология
          %a.services-box-list__link{:href => '#'} Физиотерапия
          %a.services-box-list__link{:href => '#'} Хирургия
          %a.services-box-list__link{:href => '#'} Эндокринология

.ask-question.ask-question_narrow.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Не нашли нужное направление?
    %p.ask-question__paragraph
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом