- @pageClass = 'servicesPage'
- @headerBorder = true
.page-jumbotron.services-header
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Диагностические и лабораторные исследования

    .page-jumbotron__header Услуги

.services-page
  .services-tabs
    .container
      %ul.services-tabs-list
        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '/services/diagnostics'}
            %span.services-tabs-list__icon.services-tabs-list__icon_lab
              = render :partial => '/shared/inline-icons/service-lab.svg'
            Диагностические и лабораторные исследования

        %li.services-tabs-list__item.services-tabs-list__item_active
          %a.services-tabs-list__link{:href => '/services/surgery'}
            %span.services-tabs-list__icon.services-tabs-list__icon_surgery
              = render :partial => '/shared/inline-icons/service-surgery.svg'
            Хирургический стационар

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '/services/adults'}
            %span.services-tabs-list__icon.services-tabs-list__icon_adults
              = render :partial => '/shared/inline-icons/service-adults.svg'
            Поликлиника для&nbsp;взрослых

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '#'}
            %span.services-tabs-list__icon.services-tabs-list__icon_kids
              = render :partial => '/shared/inline-icons/service-kids.svg'
            Поликлиника для&nbsp;детей

.page-underlay.services-boxes
  .container.services-boxes__container
    .services-tabs-content
      .services-tab.services-tab_visible
        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Пластическая хирургия

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Операции на веках (блефаропластика)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Операции на ушных раковинах
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пластика лба и бровей
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пластика лица и шеи

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пластика молочных желез
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пластика передней стенки живота
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пластика верхних и нижних конечностей
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Интимная пластика

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липосакция, липомоделирование, контурная пластика
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коррекция рубцов
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Удаление доброкачественных новообразований

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Операции на ушных раковинах

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пластика торчащих ушных раковин (отопластика)

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коррекция мочки и других элементов ушной раковины

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Пластика лба и бровей

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} «Открытый» лифтинг лба

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} «Закрытый» лифтинг лба и бровей (фронтотемпоральный лифтинг)

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Подтяжка бровей нитями

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Пластика лица и шеи

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Подтяжка лица и шеи (фэйслифтинг)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липосакция шеи

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Подтяжка шеи (платизмопластика)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липофилинг лица

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Подтяжка лица и шеи нитями
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Контурная пластика лица

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Пластика молочных желез

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Эндопротезирование молочных желез (аугментационная маммопластика)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коррекция ареолы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Удаление эндопротеза молочной железы

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мастопексия (подтяжка молочных желез)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коррекция соска
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Замена эндопротеза молочной железы

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Подтяжка лица и шеи нитями
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Контурная пластика лица

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Пластика передней стенки живота

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Абдоминопластика

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Миниабдоминопластика

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липосакция передней стенки живота

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Пластика верхних и нижних конечностей

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брахиопластика
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пластика бедер
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Эндопротезирование ягодиц

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липосакция плеч
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липосакция бедер
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липолифтинг ягодиц

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липофилинг кистей
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Эндопротезирование голеней

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Интимная пластика

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пластика малых половых губ

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липофилинг больших половых губ

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Липосакция, липомоделирование, контурная пластика

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липосакция

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Липофилинг

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Контурная пластика

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Коррекция рубцов

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коррекция рубцов до 5 см

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коррекция рубцов до 5-10 см

              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коррекция рубцов свыше 10 см

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Удаление доброкачественных новообразований

          .services-box-content
            .services-box-row
              .services-box-column.services-box-column_list-only
                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Иссечение новообразований мягких тканей


= render :partial => '/shared/services_footer.html'