- @headerBorder = true
- @pageClass = 'servicePage'

.page-jumbotron.service-page__page-jumbotron.animation-waypoint
  .container.service-page__header-container.service-page__header-container_padding-large
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href=> services_adults_path} Поликлиника для взрослых

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Кардиология

    .page-jumbotron__container
      = image_tag("homepage/news-mri.png", {class: 'page-jumbotron__image'})

      %h2.page-jumbotron__header.service-page__page-jumbotron__header Кардиология

      %ul.tick-list.service-page__tick-list.service-page__tick-list-header
        %li.tick-list__item
          Амбулаторная кардиология: прием, анализы
        %li.tick-list__item
          Врачи гирудотерапевты
        %li.tick-list__item
          Врачи с опытом работы от 6 лет

    .page-jumbotron-actions.service-page__page-jumbotron-actions
      %a.button.button_large.button__book{:href => '#'}
        Записаться
        %span.hidden-tablet-large
          &nbsp;на прием

.page-underlay.service-page-content.service-page-content_padding-medium
  .container
    %section.service-page-section.service-page-section_padding-large.animation-waypoint
      %h3.service-page-section__header.service-page-section__header_full-width Когда обращаться к кардиологу?
      .service-page-section-layout_two-columns
        %ul.dashed-list.service-page__dashed-list
          %li.dashed-list__item боли в области сердца, за грудиной, в груди любого характера и продолжительности;
          %li.dashed-list__item распространение болей в шею, нижнюю челюсть, левую руку (или в обе), в спину;
          %li.dashed-list__item дискомфорт в области левой руки, лопатки;
          %li.dashed-list__item онемение конечностей, чувство "мурашек";
          %li.dashed-list__item ощущения "замирания" или перебоев в работе сердца, учащенное или замедленное сердцебиение, неритмичный пульс;
          %li.dashed-list__item ощущение тяжести в груди;
          %li.dashed-list__item одышка, удушье;

        %ul.dashed-list.service-page__dashed-list
          %li.dashed-list__item общая слабость;
          %li.dashed-list__item периодическая слабость в руке или ноге;
          %li.dashed-list__item головокружения или головные боли;
          %li.dashed-list__item временные нарушения речи или зрения;
          %li.dashed-list__item повышенное или пониженное артериальное давление;
          %li.dashed-list__item синюшный цвет губ;
          %li.dashed-list__item отеки, особенно конечностей;
          %li.dashed-list__item эпизоды потери сознания.

    %section.service-page-section.service-page-section_no-top-padding.animation-waypoint
      %h3.service-page-section__header.service-page-section__header_full-width Записаться на прием

      = render :partial => 'shared/doctors_list'

    %section.service-page-section.service-page-section_padding-small.animation-waypoint
      %h3.service-page-section__header Услуги и стоимость

      .doctor-info-section-services__group{'data-expandable' => 'doctor-info-section-services__group_expanded', 'data-expandable-header'=>'doctor-info-section-services__row_header', 'data-expandable-content' => 'doctor-info-section-services__container'}
        .doctor-info-section-services__row.doctor-info-section-services__row_header
          .doctor-info-section-services__label.doctor-info-section-services__label_header Абмулаторные услуги

        .doctor-info-section-services__container
          .doctor-info-section-services__row
            .doctor-info-section-services__label Прием (осмотр, консультация) хирурга, первичный
            .doctor-info-section-services__price 900 руб.

          .doctor-info-section-services__row
            .doctor-info-section-services__label Прием (осмотр, консультация) хирурга, повторный
            .doctor-info-section-services__price 700 руб.

      .doctor-info-section-services__group{'data-expandable' => 'doctor-info-section-services__group_expanded', 'data-expandable-header'=>'doctor-info-section-services__row_header', 'data-expandable-content' => 'doctor-info-section-services__container'}
        .doctor-info-section-services__row.doctor-info-section-services__row_header
          .doctor-info-section-services__label.doctor-info-section-services__label_header Операционная кардиология

        .doctor-info-section-services__container
          .doctor-info-section-services__row
            .doctor-info-section-services__label Прием (осмотр, консультация) хирурга, первичный
            .doctor-info-section-services__price 900 руб.

          .doctor-info-section-services__row
            .doctor-info-section-services__label Прием (осмотр, консультация) хирурга, повторный
            .doctor-info-section-services__price 700 руб.



= render :partial => '/shared/reviews'

.ask-question.ask-question_gray.ask-question_narrow
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом