- @pageClass = 'servicesPage servicesAdultsPage'
- @headerBorder = true
.page-jumbotron.services-header
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Диагностические и лабораторные исследования

    .page-jumbotron__header Услуги

.services-page
  .services-tabs
    .container
      %ul.services-tabs-list
        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '/services/diagnostics'}
            %span.services-tabs-list__icon.services-tabs-list__icon_lab
              = render :partial => '/shared/inline-icons/service-lab.svg'
            Диагностические и лабораторные исследования

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '/services/surgery'}
            %span.services-tabs-list__icon.services-tabs-list__icon_surgery
              = render :partial => '/shared/inline-icons/service-surgery.svg'
            Хирургический стационар

        %li.services-tabs-list__item.services-tabs-list__item_active
          %a.services-tabs-list__link{:href => '/services/adults'}
            %span.services-tabs-list__icon.services-tabs-list__icon_adults
              = render :partial => '/shared/inline-icons/service-adults.svg'
            Поликлиника для&nbsp;взрослых

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '#'}
            %span.services-tabs-list__icon.services-tabs-list__icon_kids
              = render :partial => '/shared/inline-icons/service-kids.svg'
            Поликлиника для&nbsp;детей

.page-underlay.services-boxes
  .container.services-boxes__container
    .services-tabs-content
      .services-tab.services-tab_small-padding.services-tab_visible
        .services-box-row.services-box-row_standalone.animation-waypoint
          %a.services-box-list__link{:href => '#'} Гастроэнтерология
          %a.services-box-list__link{:href => '#'} Гинекология и акушерство
          %a.services-box-list__link{:href => '#'} Диагностика
          %a.services-box-list__link{:href => '#'} Кардиология
          %a.services-box-list__link{:href => '#'} Косметология
          %a.services-box-list__link{:href => '#'} Маммология
          %a.services-box-list__link{:href => '#'} Манипуляции массажиста

          %a.services-box-list__link{:href => '#'} Мануальная терапия
          %a.services-box-list__link{:href => '#'} Медикаментозные блокады
          %a.services-box-list__link{:href => '#'} Неврология
          %a.services-box-list__link{:href => '#'} Нейрохирургия
          %a.services-box-list__link{:href => '#'} Онкология
          %a.services-box-list__link{:href => '#'} Пульмонология
          %a.services-box-list__link{:href => '#'} Ревматология

          %a.services-box-list__link{:href => '#'} Сердечно-сосудистая хирургия
          %a.services-box-list__link{:href => '#'} Терапия
          %a.services-box-list__link{:href => '#'} Травматология и ортопедия
          %a.services-box-list__link{:href => '#'} Урология
          %a.services-box-list__link{:href => '#'} Физиотерапия
          %a.services-box-list__link{:href => '#'} Хирургия
          %a.services-box-list__link{:href => '#'} Эндокринология

= render :partial => '/shared/services_footer.html'