- @pageClass = 'servicePage'
- @headerBorder = true

.page-jumbotron.service-page__page-jumbotron.animation-waypoint
  .container.service-page__header-container.service-page__header-container_padding-xlarge
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href=> services_adults_path} Хирургические направления

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Операции на веках (блефаропластика)

    .page-jumbotron__container
      = image_tag("homepage/news-mri.png", {class: 'page-jumbotron__image page-jumbotron__image_visible_desktop'})

      %h2.page-jumbotron__header.service-page__page-jumbotron__header Операции на веках (блефаропластика)

      %ul.tick-list.service-page__tick-list.service-page__tick-list-header
        %li.tick-list__item
          Стационарная хирургия: операции, наблюдение
        %li.tick-list__item
          Врачи хирурги
        %li.tick-list__item
          Врачи с опытом работы от 6 лет

    .page-jumbotron-actions.service-page__page-jumbotron-actions
      %a.button.button_large.button__book{:href => '#'}
        Записаться
        %span.hidden-tablet-large
          &nbsp;на прием

.page-underlay.service-page-content.service-page-content_padding-medium
  .container
    %section.service-page-section.service-page-section_padding-medium.animation-waypoint
      %h3.service-page-section__header.service-page-section__header_full-width Услуги

      .mobile-ignore-container
        %section.services-box{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header.services-box__header_size_small Пластика верхних век (верхняя блефаропластика)

          .services-box-content
            .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
              .services-box-column.services-box-column_width_full
                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Об услуге
                  %p.services-box__paragraph
                    Блефаропластика или пластика век — это хирургическая операция, направленная на удаление избытков кожи и
                    грыж на верхних и/или нижних веках. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Показания к блефаропластике
                  %p.services-box__paragraph
                    Такие возрастные изменения, как тяжесть и нависание верхних век, «грустный взгляд», утренние отеки,
                    мешки под глазами являются показаниями к операции, терапевтическими методами, избавиться от них, к сожалению, невозможно.

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Возраст
                  %p.services-box__paragraph
                    Наиболее востребована блефаропластика среди пациентов в возрасте от 35 до 60 лет. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Оплата блефаропластики в кредит
                  %p.services-box__paragraph
                    Специально для Вас подготовлено следующее предложение:
                    %ul.dashed-list.services-box-column__dashed-list
                      %li.dashed-list__item Пластика без переплаты!
                      %li.dashed-list__item Проценты оплачиваются за счёт клиники;
                      %li.dashed-list__item Минимальная стоимость операции - 50000 рублей;
                      %li.dashed-list__item Первоначальный взнос - от 30%;
                      %li.dashed-list__item Срок оплаты - до 24 месяцев;
                      %li.dashed-list__item Без комиссий за выдачу кредита и ведение счета.

        %section.services-box{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header.services-box__header_size_small Пластика нижних век (нижняя блефаропластика)

          .services-box-content
            .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
              .services-box-column.services-box-column_width_full
                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Об услуге
                  %p.services-box__paragraph
                    Блефаропластика или пластика век — это хирургическая операция, направленная на удаление избытков кожи и
                    грыж на верхних и/или нижних веках. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Показания к блефаропластике
                  %p.services-box__paragraph
                    Такие возрастные изменения, как тяжесть и нависание верхних век, «грустный взгляд», утренние отеки,
                    мешки под глазами являются показаниями к операции, терапевтическими методами, избавиться от них, к сожалению, невозможно.

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Возраст
                  %p.services-box__paragraph
                    Наиболее востребована блефаропластика среди пациентов в возрасте от 35 до 60 лет. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Оплата блефаропластики в кредит
                  %p.services-box__paragraph
                    Специально для Вас подготовлено следующее предложение:
                    %ul.dashed-list.services-box-column__dashed-list
                      %li.dashed-list__item Пластика без переплаты!
                      %li.dashed-list__item Проценты оплачиваются за счёт клиники;
                      %li.dashed-list__item Минимальная стоимость операции - 50000 рублей;
                      %li.dashed-list__item Первоначальный взнос - от 30%;
                      %li.dashed-list__item Срок оплаты - до 24 месяцев;
                      %li.dashed-list__item Без комиссий за выдачу кредита и ведение счета.

        %section.services-box{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header.services-box__header_size_small Пластика монголоидных (восточных) век

          .services-box-content
            .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
              .services-box-column.services-box-column_width_full
                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Об услуге
                  %p.services-box__paragraph
                    Блефаропластика или пластика век — это хирургическая операция, направленная на удаление избытков кожи и
                    грыж на верхних и/или нижних веках. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Показания к блефаропластике
                  %p.services-box__paragraph
                    Такие возрастные изменения, как тяжесть и нависание верхних век, «грустный взгляд», утренние отеки,
                    мешки под глазами являются показаниями к операции, терапевтическими методами, избавиться от них, к сожалению, невозможно.

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Возраст
                  %p.services-box__paragraph
                    Наиболее востребована блефаропластика среди пациентов в возрасте от 35 до 60 лет. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Оплата блефаропластики в кредит
                  %p.services-box__paragraph
                    Специально для Вас подготовлено следующее предложение:
                    %ul.dashed-list.services-box-column__dashed-list
                      %li.dashed-list__item Пластика без переплаты!
                      %li.dashed-list__item Проценты оплачиваются за счёт клиники;
                      %li.dashed-list__item Минимальная стоимость операции - 50000 рублей;
                      %li.dashed-list__item Первоначальный взнос - от 30%;
                      %li.dashed-list__item Срок оплаты - до 24 месяцев;
                      %li.dashed-list__item Без комиссий за выдачу кредита и ведение счета.

        %section.services-box{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header.services-box__header_size_small Кантопластика

          .services-box-content
            .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
              .services-box-column.services-box-column_width_full
                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Об услуге
                  %p.services-box__paragraph
                    Блефаропластика или пластика век — это хирургическая операция, направленная на удаление избытков кожи и
                    грыж на верхних и/или нижних веках. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Показания к блефаропластике
                  %p.services-box__paragraph
                    Такие возрастные изменения, как тяжесть и нависание верхних век, «грустный взгляд», утренние отеки,
                    мешки под глазами являются показаниями к операции, терапевтическими методами, избавиться от них, к сожалению, невозможно.

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Возраст
                  %p.services-box__paragraph
                    Наиболее востребована блефаропластика среди пациентов в возрасте от 35 до 60 лет. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Оплата блефаропластики в кредит
                  %p.services-box__paragraph
                    Специально для Вас подготовлено следующее предложение:
                    %ul.dashed-list.services-box-column__dashed-list
                      %li.dashed-list__item Пластика без переплаты!
                      %li.dashed-list__item Проценты оплачиваются за счёт клиники;
                      %li.dashed-list__item Минимальная стоимость операции - 50000 рублей;
                      %li.dashed-list__item Первоначальный взнос - от 30%;
                      %li.dashed-list__item Срок оплаты - до 24 месяцев;
                      %li.dashed-list__item Без комиссий за выдачу кредита и ведение счета.

        %section.services-box{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header.services-box__header_size_small Удаление доброкачественных образований век

          .services-box-content
            .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
              .services-box-column.services-box-column_width_full
                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Об услуге
                  %p.services-box__paragraph
                    Блефаропластика или пластика век — это хирургическая операция, направленная на удаление избытков кожи и
                    грыж на верхних и/или нижних веках. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Показания к блефаропластике
                  %p.services-box__paragraph
                    Такие возрастные изменения, как тяжесть и нависание верхних век, «грустный взгляд», утренние отеки,
                    мешки под глазами являются показаниями к операции, терапевтическими методами, избавиться от них, к сожалению, невозможно.

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Возраст
                  %p.services-box__paragraph
                    Наиболее востребована блефаропластика среди пациентов в возрасте от 35 до 60 лет. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Оплата блефаропластики в кредит
                  %p.services-box__paragraph
                    Специально для Вас подготовлено следующее предложение:
                    %ul.dashed-list.services-box-column__dashed-list
                      %li.dashed-list__item Пластика без переплаты!
                      %li.dashed-list__item Проценты оплачиваются за счёт клиники;
                      %li.dashed-list__item Минимальная стоимость операции - 50000 рублей;
                      %li.dashed-list__item Первоначальный взнос - от 30%;
                      %li.dashed-list__item Срок оплаты - до 24 месяцев;
                      %li.dashed-list__item Без комиссий за выдачу кредита и ведение счета.

        %section.services-box{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header.services-box__header_size_small Ушивание раны века

          .services-box-content
            .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
              .services-box-column.services-box-column_width_full
                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Об услуге
                  %p.services-box__paragraph
                    Блефаропластика или пластика век — это хирургическая операция, направленная на удаление избытков кожи и
                    грыж на верхних и/или нижних веках. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Показания к блефаропластике
                  %p.services-box__paragraph
                    Такие возрастные изменения, как тяжесть и нависание верхних век, «грустный взгляд», утренние отеки,
                    мешки под глазами являются показаниями к операции, терапевтическими методами, избавиться от них, к сожалению, невозможно.

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Возраст
                  %p.services-box__paragraph
                    Наиболее востребована блефаропластика среди пациентов в возрасте от 35 до 60 лет. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Оплата блефаропластики в кредит
                  %p.services-box__paragraph
                    Специально для Вас подготовлено следующее предложение:
                    %ul.dashed-list.services-box-column__dashed-list
                      %li.dashed-list__item Пластика без переплаты!
                      %li.dashed-list__item Проценты оплачиваются за счёт клиники;
                      %li.dashed-list__item Минимальная стоимость операции - 50000 рублей;
                      %li.dashed-list__item Первоначальный взнос - от 30%;
                      %li.dashed-list__item Срок оплаты - до 24 месяцев;
                      %li.dashed-list__item Без комиссий за выдачу кредита и ведение счета.

        %section.services-box{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header.services-box__header_size_small Операции на веках (блефаропластика)

          .services-box-content
            .services-box-row.services-box-row_height_auto.services-box-row.services-box-row_height_auto_space-h_large.services-box-row.services-box-row_height_auto_space-v_small
              .services-box-column.services-box-column_width_full
                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Об услуге
                  %p.services-box__paragraph
                    Блефаропластика или пластика век — это хирургическая операция, направленная на удаление избытков кожи и
                    грыж на верхних и/или нижних веках. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Показания к блефаропластике
                  %p.services-box__paragraph
                    Такие возрастные изменения, как тяжесть и нависание верхних век, «грустный взгляд», утренние отеки,
                    мешки под глазами являются показаниями к операции, терапевтическими методами, избавиться от них, к сожалению, невозможно.

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Возраст
                  %p.services-box__paragraph
                    Наиболее востребована блефаропластика среди пациентов в возрасте от 35 до 60 лет. 

                .services-box-column__content-group
                  %h3.services-box-column__header.services-box-column__header_size_small Оплата блефаропластики в кредит
                  %p.services-box__paragraph
                    Специально для Вас подготовлено следующее предложение:
                    %ul.dashed-list.services-box-column__dashed-list
                      %li.dashed-list__item Пластика без переплаты!
                      %li.dashed-list__item Проценты оплачиваются за счёт клиники;
                      %li.dashed-list__item Минимальная стоимость операции - 50000 рублей;
                      %li.dashed-list__item Первоначальный взнос - от 30%;
                      %li.dashed-list__item Срок оплаты - до 24 месяцев;
                      %li.dashed-list__item Без комиссий за выдачу кредита и ведение счета.

    %section.service-page-section.service-page-section_no-top-padding.animation-waypoint
      %h3.service-page-section__header.service-page-section__header_full-width Записаться на прием
      = render :partial => 'shared/doctors_list'

    %section.service-page-section.service-page-section_padding-zero.animation-waypoint
      %h3.service-page-section__header Услуги и стоимость

      .doctor-info-section-services__group{'data-expandable' => 'doctor-info-section-services__group_expanded', 'data-expandable-header'=>'doctor-info-section-services__row_header', 'data-expandable-content' => 'doctor-info-section-services__container'}
        .doctor-info-section-services__row.doctor-info-section-services__row_header
          .doctor-info-section-services__label.doctor-info-section-services__label_header Амбулаторные услуги

        .doctor-info-section-services__container
          .doctor-info-section-services__row
            .doctor-info-section-services__label Прием (осмотр, консультация) хирурга, первичный
            .doctor-info-section-services__price 900 руб.

          .doctor-info-section-services__row
            .doctor-info-section-services__label Прием (осмотр, консультация) хирурга, повторный
            .doctor-info-section-services__price 700 руб.

      .doctor-info-section-services__group{'data-expandable' => 'doctor-info-section-services__group_expanded', 'data-expandable-header'=>'doctor-info-section-services__row_header', 'data-expandable-content' => 'doctor-info-section-services__container'}
        .doctor-info-section-services__row.doctor-info-section-services__row_header
          .doctor-info-section-services__label.doctor-info-section-services__label_header Операционная кардиология

        .doctor-info-section-services__container
          .doctor-info-section-services__row
            .doctor-info-section-services__label Прием (осмотр, консультация) хирурга, первичный
            .doctor-info-section-services__price 900 руб.

          .doctor-info-section-services__row
            .doctor-info-section-services__label Прием (осмотр, консультация) хирурга, повторный
            .doctor-info-section-services__price 700 руб.


= render :partial => '/shared/reviews'

.ask-question.ask-question_gray.ask-question_narrow
  .container.ask-question__container
    %p.ask-question__header
      Остались вопросы?
    %p.ask-question__paragraph
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом