- @pageClass = 'servicesPage'
- @headerBorder = true
.page-jumbotron.services-header.animation-waypoint
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Диагностические и лабораторные исследования

    .page-jumbotron__header Услуги

.services-page
  .services-tabs.animation-waypoint
    .container
      %ul.services-tabs-list
        %li.services-tabs-list__item.services-tabs-list__item_active
          %a.services-tabs-list__link{:href => '/services/diagnostics'}
            %span.services-tabs-list__icon
              = render :partial => '/shared/inline-icons/service-lab.svg'
            Диагностические и лабораторные исследования

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '/services/surgery'}
            %span.services-tabs-list__icon.services-tabs-list__icon_surgery
              = render :partial => '/shared/inline-icons/service-surgery.svg'
            Хирургический стационар

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '/services/adults'}
            %span.services-tabs-list__icon.services-tabs-list__icon_adults
              = render :partial => '/shared/inline-icons/service-adults.svg'
            Поликлиника для&nbsp;взрослых

        %li.services-tabs-list__item
          %a.services-tabs-list__link{:href => '#'}
            %span.services-tabs-list__icon.services-tabs-list__icon_kids
              = render :partial => '/shared/inline-icons/service-kids.svg'
            Поликлиника для&nbsp;детей

.page-underlay.services-boxes
  .container.services-boxes__container
    .services-tabs-content
      .services-tab.services-tab_visible
        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header МРТ

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => services_mri_path} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Компьютерная томография

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Рентген

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Функциональная диагностика

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Эндоскопия

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи

        %section.services-box.animation-waypoint{'data-expandable' => 'services-box_expanded', 'data-expandable-header'=>'services-box__header', 'data-expandable-content' => 'services-box-content'}
          %h2.services-box__header Анализы

          .services-box-content
            .services-box-row
              .services-box-column
                %h3.services-box-column__header Голова и сосуды

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Околоносовые пазухи
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Турецкое седло)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Нейродегенерация, исключение болезни Альцгеймера)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг (Исследование на нейроваскулярный конфликт)
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Головной мозг
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Глазница
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Височно-нижнечелюстной сустав с одной стороны

              .services-box-column
                %h3.services-box-column__header Позвоночник

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Грудной отдел с миелографией
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Пояснично-крестцовый и крестцово-копчиковый отделы
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Скрининговое исследование для исключения МТС
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Шейный отдел с миелографией

              .services-box-column
                %h3.services-box-column__header Средостение

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Средостение

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Суставы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Голеностопный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Два тазобедренных сустава
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Кисть с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Коленный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Локтевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Лучезапястный сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плечевой сустав с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Стопа с одной стороны

              .services-box-column
                %h3.services-box-column__header Молочные железы

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с контрастированием
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Молочныe железы с имплантами

              .services-box-column
                %h3.services-box-column__header Живот

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Брюшная полость и забрюшинное пространство
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Забрюшинное пространство

            .services-box-row
              .services-box-column
                %h3.services-box-column__header Малый таз

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Женский таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Плод 24-38 недель
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужской таз
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мужские наружные половые органы

              .services-box-column
                %h3.services-box-column__header Мягкие ткани

                %ul.services-box-list
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани любой области с одной стороны
                  %li.services-box-list__item
                    %a.services-box-list__link{:href => '#'} Мягкие ткани шеи.services-tab_visible.services-tab_visible

= render :partial => '/shared/services_footer.html'