.aboutPage
  .animation-waypoint
    &.page-jumbotron
      .breadcrumbs, .page-jumbotron__header, .about-jumbotron__decor, .about-page__tabs, .about-jumbotron
        opacity: 0

      &.animation-trigger
        .breadcrumbs, .page-jumbotron__header, .about-jumbotron__decor, .about-page__tabs, .about-jumbotron
          opacity: 1
          transition: opacity $revealTransitionEasing

    &.about-page__header, &.services-box,
    &.about-page__partners-step,
    &.about-page__partners-prehistory,
    &.about-page-collaboration-person,
    &.about-page__investors-header,
    &.about-page__investors-spacer,
    &.about-page__investors-report,
    &.about-page-table__section,
    &.about-page-licenses__license,
    &.files-list,
    &.about-page-jobs__header-paragraph,
    &.about-page-jobs__advantages-section,
    &.about-page-jobs__team,
    &.about-page-jobs__more-section,
    &.job-card,
    &.about-page-jobs__article-wrapper,
    &.job-card__wrapper
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo
