.makeAppointmentPage
  .animation-waypoint
    &.page-jumbotron
      .breadcrumbs, .page-jumbotron__header
        opacity: 0

      &.animation-trigger
        .breadcrumbs, .page-jumbotron__header
          opacity: 1
          transition: opacity $revealTransitionEasing

    &.appointment-form__container, &.appointment-success__container
      opacity: 0

      &.animation-trigger
        transition: opacity $revealTransitionEasing
        opacity: 1
