.blogPage
  .animation-waypoint
    &.breadcrumbs, &.page-header, &.promos-page__tabs
      opacity: 0

      &.animation-trigger
        opacity: 1
        transition: opacity $revealTransitionEasing

    &.homepage-blog-article-animation-container, &.promos-container__more
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo


.blogAuthorPage
  .animation-waypoint
    &.breadcrumbs, &.blog-author-info
      opacity: 0

      &.animation-trigger
        opacity: 1
        transition: opacity $revealTransitionEasing

    &.blog-author__article-card, &.blog-author__button
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo

.blogArticlePage
  .animation-waypoint
    &.breadcrumbs, &.blog-article__info, &.page-header, &.blog-article__container
      opacity: 0

      &.animation-trigger
        opacity: 1
        transition: opacity $revealTransitionEasing

    &.blog-article__section, &.blog-article__footer, &.section-header, &.doctor-component, &.blog-article__similar-card
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo