.cabinetPage
  .animation-waypoint
    &.page-jumbotron, &.cabinet-page__container-profile
      opacity: 0

      &.animation-trigger
        opacity: 1
        transition: opacity $revealTransitionEasing

    &.cabinet-appointment,
    &.cabinet-page__header,
    &.cabinet-page__header-actions,
    &.cabinet-no-appointments,
    &.cabinet-doctors__doctor,
    &.cabinet-offers__offer,
    &.cabinet-offers__button
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo