.doctorPage
  .animation-waypoint
    &.footer, &.ask-question
      opacity: 0

      &.animation-trigger
        opacity: 1
        transition: opacity $revealTransitionEasing

    &.doctor-jumbotron
      .breadcrumbs, .page-jumbotron__header, .doctor-jumbotron__description, .doctor-jumbotron-actions
        @include fadeDownFrom

      .doctor-jumbotron__photo
        opacity: 0

      &.animation-trigger
        .breadcrumbs, .page-jumbotron__header, .doctor-jumbotron__description, .doctor-jumbotron-actions
          @include fadeDownTo

        .doctor-jumbotron__photo
          opacity: 1
          transition: opacity $revealTransitionEasing


    &.doctor-info-section, &.doctor-info-section-services, &.reviews-header, &.reviews-review-component, &.reviews-button-animation-container
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo
