.doctorsPage
  background: $pale-gray

  .animation-waypoint
    &.footer, &.doctors-page-header-container
      opacity: 0

      &.animation-trigger
        opacity: 1
        transition: opacity $revealTransitionEasing

    &.doctor-component, &.doctors-page-button-container
      @include fadeUp