@keyframes navigationFadeDown
  from
    opacity: 0
    transform: translateY(-48px)

  to
    opacity: 1
    transform: translateY(0)

@keyframes jumbotronSlideAnimation
  from
    opacity: 0
    transform: scale(1.08)

  to
    opacity: 1
    transform: scale(1)

.homepage
  background: $pale-gray

  .animation-waypoint.animation-trigger
    &.navigation
      animation: navigationFadeDown 0.5s ease

  .animated-jumbotron
    overflow: visible

    .jumbotron-slider__image-element
      animation: jumbotronSlideAnimation 1.5s ease

    .jumbotron-slider__title
      animation: fadeInUp 1s ease

    .jumbotron-slider__description
      animation: fadeInUp 1s ease

    .jumbotron-slider__dots
      animation: fadeInUp 1s ease

  .animation-waypoint
    &.homepage-service
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo

        transition-delay: 0.2s

        &:nth-of-type(2), &:nth-of-type(4)
          transition-delay: 0.4s

    &.ask-question
      @include fadeUpMedium

    &.homepage-doctors
      .section-header, .homepage-doctors__description, .homepage-doctors-button-container
        @include fadeUpFrom

      &:before, &:after
        opacity: 0

      &.animation-trigger
        .section-header, .homepage-doctors__description, .homepage-doctors-button-container
          @include fadeUpTo

        .homepage-doctors__description
          transition-delay: 0.1s

        .homepage-doctors-button-container
          transition-delay: 0.2s

        &:before, &:after
          opacity: 1
          transition: opacity $revealTransitionEasing
          transition-delay: 0.1s

    .news
      &-header, &-slider
        @include fadeUpFrom

    &.animation-trigger
      .news
        &-header, &-slider
          @include fadeUpTo

        &-slider
          transition-delay: 0.2s

    &.homepage-map-animation-container, &.footer
      opacity: 0

      &.animation-trigger
        opacity: 1
        transition: opacity $revealTransitionEasing


  .homepage-blog
    .animation-waypoint
      &.homepage-blog__section-header, &.homepage-blog-article-animation-container, &.homepage-blog-button-container
        @include fadeUpFrom

        &.animation-trigger
          @include fadeUpTo


