$revealTransitionEasing: 0.8s ease

@mixin fadeUpFrom
  opacity: 0
  transform: translateY(50px)

@mixin fadeUpTo
  opacity: 1
  transform: translateY(0)
  transition: opacity $revealTransitionEasing, transform $revealTransitionEasing

@mixin fadeUp
  @include fadeUpFrom

  &.animation-trigger
    @include fadeUpTo

@mixin fadeUpMedium
  opacity: 0
  transform: translateY(80px)

  &.animation-trigger
    opacity: 1
    transition: opacity $revealTransitionEasing, transform $revealTransitionEasing
    transform: translateY(0)

@mixin fadeDownFrom
  opacity: 0
  transform: translateY(-50px)

@mixin fadeDownTo
  opacity: 1
  transform: translateY(0)
  transition: opacity $revealTransitionEasing, transform $revealTransitionEasing