.patientsPage
  .animation-waypoint
    &.page-jumbotron
      .breadcrumbs, .page-jumbotron__header, .patients-page__tabs-container
        opacity: 0

      &.animation-trigger
        .breadcrumbs, .page-jumbotron__header, .patients-page__tabs-container
          opacity: 1
          transition: opacity $revealTransitionEasing

    &.services-box,
    &.files-list,
    &.patients-page__header,
    &.filters,
    &.patients-page__note

      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo
