.promoPage
  .animation-waypoint
    &.page-jumbotron
      .breadcrumbs, .page-jumbotron__header, .service-page__page-jumbotron-actions, .page-jumbotron__paragraph
        @include fadeDownFrom

      .page-jumbotron__image
        opacity: 0

      &.animation-trigger
        .breadcrumbs, .page-jumbotron__header, .service-page__tick-list-header, .service-page__page-jumbotron-actions, .page-jumbotron__paragraph
          @include fadeDownTo

        .page-jumbotron__image
          opacity: 1
          transition: opacity $revealTransitionEasing

    &.reviews-header, &.reviews-review-component, &.reviews-button-animation-container
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo

    &.service-page-section
      @include fadeUp
