.reviewsPage
  .animation-waypoint
    &.page-jumbotron
      .breadcrumbs, .page-jumbotron__header
        opacity: 0

      &.animation-trigger
        .breadcrumbs, .page-jumbotron__header
          opacity: 1
          transition: opacity $revealTransitionEasing

    &.reviews-header, &.reviews-review-component, &.reviews-button-animation-container, &.reviews-page__filters-component-container
      @include fadeUpFrom

      &.animation-trigger
        @include fadeUpTo
