.about-page
  &__clients-container
    padding-top: 74px
    padding-bottom: 71px

    max-width: 760px

    @media #{$phone-media}
      max-width: unset
      padding-top: get-vw(21px)
      padding-bottom: 0

      .services-box
        margin-left: get-vw(-20px)
        margin-right: get-vw(-20px)

  &__clients-header
    margin-bottom: 31px

    @media #{$phone-media}
      margin-bottom: get-vw(17px)