.about-page-collaboration
  border-top: 1px solid rgba(#a3a3a3, 0.3)
  padding-top: 82px
  padding-bottom: 100px

  @media #{$phone-media}
    padding-top: get-vw(30px)
    padding-bottom: get-vw(30px)

  &__persons
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &-person
    width: 560px
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)
    height: 300px
    box-sizing: border-box
    padding: 45px 30px 45px 250px
    position: relative

    margin-top: 35px

    @media #{$tablet-large-media}
      width: 470px
      margin-top: 20px

    @media #{$tablet-media}
      margin-top: 35px
      width: 100%
      padding-left: 350px

    @media #{$phone-media}
      padding: get-vw(15px) 0
      height: auto
      margin-top: 0

      &:first-child
        margin-top: get-vw(25px)

      &:not(:last-child)
        margin-bottom: get-vw(54px)

    &__wrapper
      max-width: 280px
      font-size: 1.7rem
      line-height: 1.59

      @media #{$phone-media}
        max-width: unset

    &__spacer
      width: 137px
      height: 1px
      background-color: #a3a3a3
      opacity: 0.4
      margin: 13px 0

      @media #{$phone-media}
        display: none

    &__name
      font-size: 2.4rem
      line-height: normal
      font-weight: 600
      color: $dark
      margin-bottom: 15px

      span
        display: block

      @media #{$phone-media}
        max-width: get-vw(142px)
        padding-left: get-vw(94px)
        font-size: get-vw(18px)

        &:after
          display: block
          width: get-vw(281px)
          margin-left: get-vw(-94px)
          margin-top: get-vw(15px)
          margin-bottom: get-vw(11px)
          height: get-vw(1px)
          background: rgba(#a3a3a3, 0.4)
          content: ''

    &__description
      color: $greish-brown

      @media #{$phone-media}
        font-size: get-vw(13px)
        padding: 0 get-vw(18px)
        margin-bottom: get-vw(5px)


    &__image
      width: 250px
      height: 250px
      position: absolute
      object-fit: contain
      object-position: left bottom
      left: 0
      bottom: 0

      @media #{$tablet-media}
        left: 50px

      @media #{$phone-media}
        width: get-vw(65px)
        height: get-vw(58px)
        padding-top: get-vw(7px)
        left: get-vw(16px)
        top: get-vw(16px)
        background-color: $pale-gray
        object-position: center bottom
        object-fit: contain
        border-radius: 50%

    &__contact
      display: block
      color: $greish-brown
      text-decoration: none
      transition: color $animation-easing

      @media #{$phone-media}
        font-size: get-vw(13px)
        padding: 0 get-vw(18px)

      &:hover
        @media #{$animation-media}
          color: $light-navy

      &:not(:last-child)
        margin-bottom: 7px

        @media #{$phone-media}
          margin-bottom: get-vw(5px)