.about-page-jobs
  &__header-paragraph
    color: #242431
    font-size: 2.3rem
    font-weight: 300
    line-height: 1.57
    margin-top: 18px
    margin-bottom: 60px

    @media #{$phone-media}
      font-size: get-vw(17px)
      line-height: 1.59
      margin-top: get-vw(17px)
      margin-bottom: get-vw(30px)

  &__container
    padding-bottom: 90px

    @media #{$phone-media}
      padding-bottom: get-vw(30px)

  &__team
    width: 1160px
    object-fit: cover
    height: 644px

    @media #{$tablet-large-media}
      width: 960px
      height: 533px

    @media #{$tablet-media}
      width: 700px
      height: 389px

    @media #{$phone-media}
      margin-left: get-vw(-20px)
      margin-right: get-vw(-20px)
      width: get-vw(320px)
      height: get-vw(175px)

  &__team-container
    max-width: 100vw
    overflow: hidden

  &__more-section
    margin-top: 70px
    margin-bottom: 115px

    @media #{$phone-media}
      margin-top: get-vw(30px)
      margin-bottom: get-vw(30px)

      .service-page-section__header
        font-size: get-vw(23px)
        line-height: 1.35
        margin-bottom: get-vw(30px)

  &__more-paragraph
    font-size: 1.8rem
    line-height: 1.72
    color: $greish-brown

    @media #{$phone-media}
      font-size: get-vw(18px)
      line-height: 1.72

  &__more-header
    margin-bottom: 10px

    @media #{$phone-media}
      margin-bottom: get-vw(17px)

  &__more-group
    &:not(:last-child)
      margin-bottom: 55px

      @media #{$phone-media}
        margin-bottom: get-vw(30px)

  &__vacancies-section
    padding-top: 85px
    padding-bottom: 130px

    @media #{$tablet-media}
      padding-bottom: 85px

    @media #{$phone-media}
      padding-top: get-vw(30px)
      padding-bottom: get-vw(30px)

  &__vacancies
    display: flex
    justify-content: space-between
    margin-top: 36px

    @media #{$tablet-media}
      flex-direction: column

      .job-card__wrapper
        &:not(:last-child)
          margin-bottom: 30px

    @media #{$phone-media}
      .job-card__wrapper
        &:not(:last-child)
          margin-bottom: get-vw(20px)

    @media #{$phone-media}
      margin-top: get-vw(20px)

  &__article
    @media #{$phone-media}
      height: get-vw(518px)

    &.homepage-blog-article_reversed
      .homepage-blog-article__content
        padding-left: 54px
        padding-right: 68px

        @media #{$phone-media}
          padding-left: get-vw(19px)
          padding-right: get-vw(17px)

    .homepage-blog-article__content
      padding-top: 26px
      padding-left: 47px
      padding-right: 75px

      @media #{$phone-media}
        box-sizing: border-box
        flex-grow: 1
        padding-top: get-vw(24px)
        padding-left: get-vw(19px)
        display: flex
        flex-direction: column
        padding-right: get-vw(17px)

  &__article-wrapper
    &:not(:last-child)
      margin-bottom: 70px

      @media #{$phone-media}
        margin-bottom: get-vw(20px)

  &__articles-header
    margin-bottom: 50px

    @media #{$phone-media}
      margin-bottom: get-vw(20px)

  &__articles-container
    padding-bottom: 145px
    padding-top: 75px

    @media #{$phone-media}
      padding: get-vw(30px) 0


.job-card
  width: 360px
  height: 348px
  position: relative
  background: white
  transition: transform 0.35s ease, box-shadow 0.35s ease
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08)
  padding-top: 35px
  padding-bottom: 25px
  box-sizing: border-box
  display: flex
  flex-direction: column

  @media #{$tablet-large-media}
    width: 300px

  @media #{$tablet-media}
    width: 100%
    height: 250px

  @media #{$phone-media}
    height: auto
    min-height: get-vw(175px)

    padding-top: get-vw(30px)
    padding-bottom: get-vw(20px)

  &:hover
    @media #{$animation-media}
      box-shadow: 0 15px 24px 0 rgba(0,0,0,.16)
      transform: translateY(-4px)

  &__title
    font-size: 2.8rem
    color: $dark
    font-weight: 600
    margin-bottom: 18px

    @media #{$phone-media}
      font-size: get-vw(18px)
      margin-bottom: get-vw(18px)

  &__tag
    font-size: 1.6rem
    line-height: 1.38
    color: $light-navy

    @media #{$phone-media}
      font-size: get-vw(16px)
      margin-bottom: get-vw(18px)

  &__content
    padding-left: 35px
    padding-right: 25px

    @media #{$phone-media}
      padding: 0 get-vw(35px)

  &__footer
    margin-top: auto
    padding-top: 20px

    border-top: 1px solid rgba(#a3a3a3, 0.2)

    @media #{$phone-media}
      padding-top: get-vw(15px)
      border-top-width: get-vw(1px)

  &__link
    opacity: 0.4

    @media #{$phone-media}
      margin-top: auto


    .arrowed-link__text
      color: $greish-brown
      font-size: 1.6rem
      font-weight: 600

      @media #{$phone-media}
        font-size: get-vw(16px)

      &:after
        background-color: $greish-brown
