.about-jumbotron
  padding-top: 55px
  padding-bottom: 115px
  position: relative

  @media #{$phone-media}
    padding-top: 30px

  &_clients-page
    @media #{$tablet-media}
      padding-bottom: 0

  &__header
    font-size: 4rem
    font-weight: 600
    color: $light-navy
    line-height: 1.48

    @media #{$phone-media}
      font-size: get-vw(23px)
      line-height: 1.35

    &_indent-b
      &_default
        margin-bottom: 17px

        @media #{$phone-media}
          margin-bottom: get-vw(17px)

  &__decor
    position: absolute
    bottom: -60px
    right: -100px
    width: 683px
    height: 561px

    img
      width: 100%
      height: 100%

    @media #{$tablet-large-media}
      width: 546px
      bottom: -20px
      height: 448px

    @media #{$tablet-media}
      position: relative
      right: unset
      margin-top: 20px

    @media #{$phone-media}
      width: get-vw(320px)
      margin-top: 0
      margin-left: get-vw(-20px)
      height: get-vw(285px)

      img
        object-fit: contain

  &__paragraph
    margin: 0
    font-size: 1.8rem
    line-height: 1.72
    color: $greish-brown

    max-width: 552px

    @media #{$tablet-large-media}
      max-width: 470px

    @media #{$tablet-media}
      max-width: unset

    @media #{$phone-media}
      font-size: get-vw(14px)
      line-height: 1.64

    &_indent-b
      &_default
        margin-bottom: 20px

        @media #{$phone-media}
          margin-bottom: 10px