.about-page__container
  &_legal
    max-width: 860px

    @media #{$phone-media}
      padding-bottom: 0

  &_legal-large
    padding-top: 75px
    padding-bottom: 60px
    border-top: 1px rgba(#a3a3a3, 0.4) solid

    @media #{$phone-media}
      border-top: none
      border-bottom: 1px rgba(#a3a3a3, 0.4) solid

      padding-top: get-vw(30px)
      padding-bottom: get-vw(80px)

    &_documents
      @media #{$phone-media}
        padding-bottom: 0
        border-bottom: none
        padding-top: get-vw(15px)

        .files-list__row:last-child
          border-bottom: none

.about-page-table
  &__section
    margin-top: 60px

    &:not(:last-child)
      margin-bottom: 120px

    @media #{$phone-media}
      margin: get-vw(30px) get-vw(-20px) 0

      &:not(:last-child)
        margin-bottom: get-vw(30px)


  &__header
    margin-top: 0
    margin-bottom: 0
    padding-bottom: 34px
    border-bottom: 5px solid $light-navy
    color: $dark
    font-size: 2.8rem
    font-weight: 600

    @media #{$phone-media}
      font-size: get-vw(18px)
      padding-bottom: get-vw(17px)
      padding-left: get-vw(20px)
      padding-right: get-vw(20px)

  &__row
    display: flex
    justify-content: space-between
    padding: 14px 0
    border-bottom: 1px rgba(#a3a3a3, 0.4) solid

    @media #{$phone-media}
      flex-direction: column
      padding: get-vw(16px) get-vw(20px)

    &-content
      width: 460px
      color: $greish-brown
      font-size: 1.8rem
      line-height: 1.72
      flex-shrink: 0

      @media #{$tablet-media}
        width: 430px

      @media #{$phone-media}
        width: auto
        font-size: get-vw(14px)
        line-height: 1.64

    &-header
      font-weight: 600
      font-size: 1.6rem
      line-height: 1.44
      color: $greish-brown
      padding: 4px 0

      @media #{$phone-media}
        font-size: get-vw(16px)
        margin-bottom: get-vw(4px)
        padding: 0

.about-page-licenses
  display: flex
  flex-wrap: wrap

  &__license
    width: 242px
    height: 332px
    justify-content: space-between
    margin-right: 41px
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08)
    margin-top: 40px
    transition: transform $animation-easing

    @media (min-width: $desktop-min-width)
      &:nth-child(4n)
        margin-right: 0

    @media #{$tablet-large-media}
      width: 293px
      height: 402px
      margin-right: 40px

    @media #{$tablet-large-media}
      &:nth-child(3n)
        margin-right: 0

    @media #{$tablet-media}
      width: 213px
      height: 292px
      margin-right: 30px
      margin-top: 30px

    @media #{$phone-media}
      width: get-vw(133px)
      height: get-vw(183px)
      margin-right: get-vw(14px)
      margin-top: get-vw(20px)

      &:nth-child(3n)
        margin-right: get-vw(14px)

      &:nth-child(2n)
        margin-right: 0