.about-page
  &__header
    font-size: 4rem
    font-weight: 600
    color: $light-navy
    line-height: 1.48
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(23px)
      line-height: 1.35
      max-width: get-vw(238px)

    &_full-width
      @media #{$phone-media}
        max-width: none

  &__files-list
    margin-top: 26px

    @media #{$phone-media}
      margin-top: get-vw(15px)
      margin-left: get-vw(-20px)
      margin-right: get-vw(-20px)

  &__tabs-container
    display: flex

    @media #{$phone-media}
      display: block

  &__tabs
    border-bottom: 1px solid rgba(#a3a3a3, 0.4)

    @media #{$phone-media}
      border-bottom: none

  &__jumbotron-header
    margin-bottom: 44px

    @media #{$phone-media}
      margin-bottom: get-vw(21px)

  &__container
    max-width: 760px
    padding-top: 55px
    padding-bottom: 128px

    @media #{$phone-media}
      padding-top: get-vw(30px)
      padding-bottom: get-vw(30px)

  &__content-header
    font-size: 2.4rem
    font-weight: 600
    color: $dark
    margin-top: 0
    margin-bottom: 18px

    @media #{$phone-media}
      font-size: get-vw(20px)

    &_small
      font-size: 2rem
      line-height: 1.5

      @media #{$phone-media}
        font-size: get-vw(15px)
        line-height: 1.53


  &__partners-step
    &:not(:last-child)
      margin-bottom: 30px

  &__partners-paragraph
    font-size: 1.7rem
    max-width: 670px
    color: $greish-brown
    line-height: 1.59
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54

    &:not(:last-child)
      margin-bottom: 15px

      @media #{$phone-media}
        margin-bottom: get-vw(10px)

  &__partners-prehistory
    color: $dark
    font-size: 2.3rem
    font-weight: 300
    line-height: 1.57
    margin-top: 18px
    margin-bottom: 30px

    @media #{$phone-media}
      font-size: get-vw(17px)
      line-height: 1.59

      margin-top: get-vw(18px)
      margin-bottom: get-vw(30px)

  &__investors-header
    font-size: 2.3rem
    line-height: 1.57
    font-weight: 300
    margin-top: 17px

    @media #{$phone-media}
      font-size: get-vw(17px)
      line-height: 1.59

  &__investors-spacer
    height: 1px
    background: rgba(#a3a3a3, 0.4)
    margin-top: 43px
    max-width: 710px
    margin-bottom: 54px

    @media #{$phone-media}
      margin: get-vw(20px) get-vw(-20px)
      height: get-vw(1px)
      max-width: none

  &__investors-report
    display: flex
    justify-content: space-between

    @media #{$phone-media}
      flex-direction: column

    &-text
      max-width: 442px
      font-size: 1.8rem
      line-height: 1.72
      color: $greish-brown
      margin: 0

      @media #{$phone-media}
        max-width: none
        font-size: get-vw(14px)
        line-height: 1.64

  &__investors-download
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown
    padding-right: 30px
    overflow: hidden

    @media #{$phone-media}
      margin-top: get-vw(30px)
      display: flex
      align-items: center
      padding-right: 0

    &-icon
      width: 71px
      height: 71px
      margin-left: -10px
      background-size: contain
      background: url('./../images/icons/file-report.svg') center no-repeat
      margin-bottom: 9px

      @media #{$phone-media}
        margin-bottom: 0
        margin-right: get-vw(3px)

        width: get-vw(71px)
        height: get-vw(71px)
        margin-left: get-vw(-10px)


    &-label
      max-width: 187px
      margin-bottom: 30px

      @media #{$phone-media}
        margin-bottom: get-vw(4px)
        max-width: get-vw(158px)
        font-size: get-vw(13px)

    &-button
      font-size: 1.6rem
      font-weight: 600
      color: $light-navy
      text-decoration: none
      display: inline-flex
      align-items: center

      span
        display: inline-block
        position: relative
        overflow: hidden

        &:after
          content: ''
          display: block
          width: 100%
          height: 1px
          background: $light-navy
          left: 0
          bottom: 3px
          position: absolute
          transform: translateX(-101%)
          transition: transform $animation-easing


      @media #{$animation-media}
        &:hover
          span:after
            transform: translateX(0)

      @media #{$phone-media}
        font-size: get-vw(16px)

      &:after
        display: block
        content: ''
        width: 24px
        height: 22px
        background: url('./../images/icons/download.svg') center no-repeat
        background-size: contain

        @media #{$phone-media}
          width: get-vw(24px)
          height: get-vw(22px)