.patients-page
  &__header
    font-size: 4rem
    font-weight: 600
    color: $light-navy
    line-height: 1.48
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(23px)
      line-height: 1.35

  &__jumbotron-header
    margin-bottom: 44px
    max-width: unset

    @media #{$phone-media}
      margin-bottom: get-vw(21px)

  &__tabs-container
    display: flex

  &__page-underlay
    padding: 85px 0

    @media #{$phone-media}
      padding-top: get-vw(21px)
      padding-bottom: get-vw(50px)

  &__legal-page-underlay
    padding: 55px 0 90px 0

    @media #{$phone-media}
      padding-top: get-vw(30px)
      padding-bottom: get-vw(50px)

  &__services-box
    @media #{$phone-media}
      margin-left: get-vw(-20px)
      margin-right: get-vw(-20px)

  &__note
    max-width: 552px
    line-height: 1.72
    font-size: 1.8rem
    color: $greish-brown
    margin-top: 17px
    margin-bottom: 32px

    @media #{$phone-media}
      margin-top: get-vw(17px)
      margin-bottom: get-vw(29px)
      font-size: get-vw(14px)
      line-height: 1.64

    &_faq
      margin-bottom: 42px

      @media #{$phone-media}
        margin-bottom: get-vw(26px)

  &__notes-files-list
    margin-top: 28px

    .files-list__row
      &:first-child
        border-top: none

      &:last-child
        border-bottom: none

  &__legal-files-list
    & .files-list__row
      &:first-child
        border-top: none

      &:last-child
        border-bottom: none

  &__filters
    flex-grow: 1

  &__filters-container
    z-index: 2
    position: relative