.breadcrumbs
  margin: 0
  padding: 28px 0
  list-style: none

  font-size: 1.3rem
  letter-spacing: 0.01rem
  display: flex

  @media #{$phone-media}
    font-size: get-vw(13px)
    letter-spacing: get-vw(0.1px)
    padding: get-vw(15px) 0

  &-item
    display: flex
    align-items: center
    position: relative
    justify-content: flex-start

    &:nth-last-child(2)
      a::before
        @media #{$phone-media}
          display: inline-block
          vertical-align: middle
          width: get-vw(13px)
          height: get-vw(13px)
          content: ''
          background: url('./../images/icons/arrow-right.svg') no-repeat center
          background-size: contain
          transform: scaleX(-1)
          margin-right: get-vw(3px)

    &:not(:nth-last-child(2))
      @media #{$phone-media}
        display: none

    &:last-of-type
      opacity: 0.3

    &:not(:last-of-type)
      &::after
        content: '/'
        position: relative
        display: block
        font-size: 1.2rem
        font-style: italic
        font-weight: 500
        opacity: 0.3
        padding: 0 11px

        @media #{$phone-media}
          display: none

      .breadcrumbs-item__link
        &:hover
          color: $light-navy

    &__link
      color: $greish-brown
      text-decoration: none
      transition: color $animation-easing

      @media #{$phone-media}
        display: inline-flex
        align-items: center