.button
  height: 50px
  background: $light-navy
  text-transform: uppercase
  letter-spacing: 0.1rem
  font-size: 1.4rem
  color: white
  cursor: pointer
  padding: 0 50px
  box-sizing: border-box
  border-radius: 100px
  white-space: nowrap
  line-height: 1
  outline: none
  -webkit-appearance: none
  -moz-appearance: none
  border: none
  text-decoration: none
  display: inline-flex
  justify-content: center
  align-items: center
  text-align: center
  position: relative
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0)
  font-weight: 600

  transition: border-color $animation-easing, box-shadow $animation-easing, background-color $animation-easing, transform $animation-easing

  @media #{$tablet-large-media}
    padding: 18px 32px

  @media #{$phone-media}
    font-size: get-vw(14px)
    height: get-vw(50px)
    padding: get-vw(18px) get-vw(50px)
    border-radius: get-vw(100px)
    letter-spacing: get-vw(1.1px)

  &__icon
    display: inline-block
    width: 24px
    height: 2px
    position: relative
    margin-right: 9px
    vertical-align: middle

    @media #{$phone-media}
      width: get-vw(24px)

    svg
      position: absolute
      width: 100%
      height: 24px
      left: 0
      top: 50%
      transform: translateY(-50%)

      @media #{$phone-media}
        height: get-vw(24px)

      path
        transition: stroke $animation-easing

  &_white
    background: white
    color: #323232
    border: 2px solid #ebebeb
    font-weight: 600

    transition: color $animation-easing, border-color $animation-easing

  &_blue-border
    border: 2px solid $light-navy
    color: $light-navy
    background: transparent
    box-sizing: border-box

    &:hover
      @media #{$animation-media}
        background: $light-navy
        border-color: $blue-blue
        color: white

    @media #{$phone-media}
      border-width: get-vw(2px)

  &_large
    height: 57px

    @media #{$phone-media}
      height: get-vw(50px)
      padding-top: get-vw(18px)

  &_full-width
    width: 100%

  &:hover:not(.button_white)
    @media #{$animation-media}
      transform: translateY(-2px)
      background: $blue-blue
      box-shadow: 0 4px 4px 0 rgba(20, 72, 154, 0.24)

  &.button_white:hover
    @media #{$animation-media}
      color: $light-navy
      border-color: $light-navy

      svg path
        stroke: $light-navy