.expert-day-picker
  /* DayPicker styles */



  .DayPicker
    display: inline-block
    font-size: 1rem
    outline: 0
    margin: 0 auto


  .DayPicker-wrapper
    position: relative
    outline: 0

    flex-direction: row
    -webkit-user-select: none

    -moz-user-select: none

    -ms-user-select: none

    user-select: none


  .DayPicker-Months
    display: flex
    flex-wrap: wrap
    justify-content: center


  .DayPicker-Month
    display: table
    margin: 0 12px
    border-spacing: 4px
    user-select: none

    @media #{$phone-media}
      border-spacing: get-vw(4px)


  .DayPicker-NavBar
    margin: 0 5px
    display: flex
    justify-content: center
    align-items: center
    padding: 12px 0
    border-bottom: 1px #f3f3f3 solid

    @media #{$phone-media}
      margin: 0 get-vw(5px)
      border-bottom-width: get-vw(1px)


  .DayPicker-NavButton
    display: block
    width: 24px
    height: 24px
    outline: 0
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    color: #8B9898
    background-image: url('../images/icons/arrow-right.svg')
    cursor: pointer

    @media #{$phone-media}
      width: get-vw(24px)
      height: get-vw(24px)

  .DayPicker-NavButton:hover
    opacity: 0.8


  .DayPicker-NavButton--prev
    transform: scaleX(-1)


  .DayPicker-NavButton--next


  .DayPicker-NavButton--interactionDisabled
    display: none


  .DayPicker-Caption
    display: block
    text-align: center
    color: #4a4a4a
    font-weight: 600
    font-size: 1.6rem
    line-height: 2.3rem
    margin-left: 16px
    margin-right: 16px

    @media #{$phone-media}
      font-size: get-vw(16px)
      line-height: get-vw(23px)
      margin-left: get-vw(15px)
      margin-right: get-vw(15px)

  .DayPicker-Weekdays
    display: table-header-group
    margin-top: 1em


  .DayPicker-WeekdaysRow
    display: table-row


  .DayPicker-Weekday
    display: table-cell
    padding: 0.5em
    color: #8B9898
    text-align: center
    font-size: 1.1rem
    line-height: 1.6rem

    @media #{$phone-media}
      font-size: get-vw(11px)
      line-height: get-vw(16px)


  .DayPicker-Weekday abbr[title]
    border-bottom: none
    text-decoration: none


  .DayPicker-Body
    display: table-row-group


  .DayPicker-Week
    display: table-row


  .DayPicker-Day
    display: table-cell
    font-size: 1.4rem
    padding: 0
    vertical-align: middle
    text-align: center
    cursor: pointer
    box-sizing: border-box
    width: 37px
    height: 37px
    outline: 0

    @media #{$phone-media}
      width: get-vw(35px)
      height: get-vw(35px)
      font-size: get-vw(14px)

    &:not(:last-child)
      margin-left: 4px


  .DayPicker-WeekNumber
    display: table-cell
    padding: 0.5em
    min-width: 1em
    border-right: 1px solid #EAECEC
    color: #8B9898
    vertical-align: middle
    text-align: right
    font-size: 0.75em
    cursor: pointer


  .DayPicker--interactionDisabled .DayPicker-Day
    cursor: default


  .DayPicker-Footer
    padding-top: 0.5em


  .DayPicker-TodayButton
    border: none
    background-color: transparent
    background-image: none
    box-shadow: none
    color: #4A90E2
    font-size: 0.875em
    cursor: pointer


  /* Default modifiers */



  .DayPicker-Day--outside
    color: #8B9898
    cursor: default


  .DayPicker-Day--disabled
    color: #DCE0E0
    cursor: default
  /* background-color: #eff1f1 */


  /* Example modifiers */



  .DayPicker-Day--sunday
    background-color: #F7F8F8


  .DayPicker-Day--sunday:not(.DayPicker-Day--today)
    color: #DCE0E0


  .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside)
    position: relative

    color: white
    background: #14489a

  //
  //.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover
  //  background-color: #51A0FA


  .DayPicker:not(.DayPicker--interactionDisabled)

  .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover
    background-color: #F0F8FF


  /* DayPickerInput */



  .DayPickerInput
    display: inline-block


  .DayPickerInput-OverlayWrapper
    position: relative


  .DayPickerInput-Overlay
    position: absolute
    left: 0
    z-index: 1

    background: white
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15)

