.files-list
  background: white

  &__row
    display: flex
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown
    padding: 20px 22px
    align-items: center
    border-bottom: 1px rgba(#a3a3a3, 0.4) solid

    &:first-child
      border-top: 1px rgba(#a3a3a3, 0.4) solid

    &:before
      display: block
      content: ''
      position: relative
      margin-right: 11px
      height: 32px
      width: 32px
      flex-shrink: 0
      background: url('./../images/icons/file-color.svg') no-repeat

      @media #{$phone-media}
        height: get-vw(32px)
        width: get-vw(32px)
        margin-right: get-vw(7px)

    @media #{$phone-media}
      padding: get-vw(13px) get-vw(15px) get-vw(13px) get-vw(15px)
      font-size: get-vw(13px)
      line-height: 1.54


  &__download-button
    margin-left: auto
    color: $light-navy
    font-size: 1.6rem
    font-weight: 600
    text-decoration: none
    display: inline-flex
    align-items: center

    span
      display: inline-block
      position: relative
      overflow: hidden

      &:after
        content: ''
        display: block
        width: 100%
        height: 1px
        background: $light-navy
        left: 0
        bottom: 3px
        position: absolute
        transform: translateX(-101%)
        transition: transform $animation-easing


    @media #{$animation-media}
      &:hover
        span:after
          transform: translateX(0)

    &:after
      display: block
      content: ''
      width: 24px
      height: 22px
      margin-top: 1px
      background: url('./../images/icons/download.svg') center no-repeat
      background-size: contain

      @media #{$phone-media}
        width: get-vw(24px)
        height: get-vw(22px)

    @media #{$phone-media}
      padding-left: get-vw(10px)
      font-size: get-vw(16px)