.input-group
  &_indent-b
    &_default
      margin-bottom: 30px

      @media #{$phone-media}
        margin-bottom: get-vw(30px)

  &__label
    display: block
    font-size: 17px
    color: $greish-brown
    margin-bottom: 10px

    @media #{$phone-media}
      margin-bottom: get-vw(10px)
      font-size: get-vw(17px)

    &_indent-b
      &_large
        margin-bottom: 19px

        @media #{$phone-media}
          margin-bottom: get-vw(19px)

    &_with-link
      display: flex
      justify-content: space-between
      align-items: center

    &_checkbox
      display: flex
      user-select: none
      color: #6d6d6d
      font-size: 1.5rem
      line-height: 1.53
      cursor: pointer

      @media #{$phone-media}
        font-size: get-vw(15px)


  &__input, &__textarea
    width: 100%
    padding: 15px
    font-size: 17px
    height: 50px
    box-sizing: border-box
    outline: none
    border-radius: 4px
    border: solid 2px $pale-gray
    background: white
    appearance: none
    transition: box-shadow $animation-easing, border-color $animation-easing, background-color $animation-easing

    &_error
      border-color: #f2576a
      background: #fef5f6
      box-shadow: none

    &_success
      border-color: #8fdb88
      background-color: rgba(254, 255, 253, 0.99)

    &:focus
      box-shadow: inset 0 0 10px 3px rgba(10, 98, 202, 0.17)
      border-color: $light-navy
      background: white

    @media #{$phone-media}
      padding: get-vw(15px)
      font-size: get-vw(17px)
      height: get-vw(50px)
      border-radius: get-vw(4px)
      border-width: get-vw(2px)

    &_size
      &_large
        height: 60px

        @media #{$phone-media}
          height: get-vw(60px)

  &__textarea
    height: 210px
    resize: none

    @media #{$phone-media}
      height: get-vw(210px)

  &__checkbox
    display: none

  &__hint
    color: #6c6c6c
    opacity: 0.9
    font-size: 1.3rem
    margin-top: 11px

    &_greyish-brown
      color: $greish-brown
      opacity: 1

    @media #{$phone-media}
      font-size: get-vw(13px)
      margin-top: get-vw(11px)

  &__checkbox-state
    display: block
    width: 20px
    height: 20px
    margin-top: 2px
    margin-right: 14px
    flex-shrink: 0
    outline: none
    box-sizing: border-box
    border: 2px solid #e2e2e2
    border-radius: 3px
    position: relative
    transition: background-color 0.1s ease, border-color 0.1s ease

    &::after
      display: block
      opacity: 0
      content: ''
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0)
      position: absolute
      width: 10px
      height: 10px
      background: url('./../images/icons/tick.svg') no-repeat center
      background-size: contain
      transition: opacity 0.1s ease

      @media #{$phone-media}
        top: get-vw(6px)
        left: get-vw(5px)
        width: get-vw(10px)
        height: get-vw(10px)

    @media #{$phone-media}
      width: get-vw(20px)
      height: get-vw(20px)
      margin-top: get-vw(2px)
      margin-right: get-vw(14px)
      border-radius: get-vw(3px)
      border-width: get-vw(2px)

    input:checked + &
      background: $light-navy
      border-color: $light-navy

      &::after
        opacity: 1

  &__input
    white-space: nowrap
    overflow: hidden

    &_dropdown
      user-select: none
      position: relative
      cursor: pointer
      padding-right: 40px

      @media #{$phone-media}
        padding-right: get-vw(40px)

      span
        overflow: hidden
        width: 100%
        display: inline-block

      &:after
        display: block
        content: ''
        position: absolute
        width: 19px
        height: 18px
        background: url('../images/icons/arrow-up.svg')
        right: 16px
        top: 50%
        transform: translate3d(0, -50%, 0) rotate(-180deg)
        transition: transform 0.3s ease

        @media #{$phone-media}
          width: get-vw(19px)
          height: get-vw(18px)
          right: get-vw(16px)

      &.input-group__input_expanded
        &:after
          transform: translate3d(0, -50%, 0) rotate(0)


  &-dropdown
    position: absolute
    width: 100%
    box-shadow: 0 13px 19px 4px rgba(86, 86, 86, 0.08)
    border-top: solid $pale-gray 1px
    background-color: white
    box-sizing: border-box
    padding-bottom: 10px
    transform: translateY(100%)
    left: 0
    user-select: none
    bottom: 0
    z-index: 1

    @media #{$phone-media}
      padding-bottom: get-vw(10px)
      box-shadow: 0 get-vw(13px) get-vw(18px) get-vw(4px) rgba(86, 86, 86, 0.08)

    &-inner
      max-height: 210px

      @media #{$phone-media}
        max-height: get-vw(270px)

    .rcs-inner-handle
      width: 5px
      background-color: $light-navy !important
      border-radius: 0 !important

      @media #{$phone-media}
        width: get-vw(5px)

    &-animation
      &-enter
        opacity: 0

        &-active
          opacity: 1
          transition: opacity 0.3s ease

      &-exit
        opacity: 0
        transition: opacity 0.3s ease

    &__input
      border: 0
      width: 100%
      font-size: 1.5rem
      line-height: 1.53
      padding: 10px 24px 12px 24px
      box-sizing: border-box
      outline: none
      border-bottom: solid rgba(#979797, 0.2) 1px

      @media #{$phone-media}
        font-size: get-vw(15px)
        border-bottom-width: get-vw(1px)
        padding: get-vw(10px) get-vw(24px) get-vw(12px) get-vw(20px)


    &__item
      margin: 0 24px
      padding: 10px 0
      font-size: 1.5rem
      line-height: 1.53
      color: $brownish-gray
      cursor: pointer

      @media #{$animation-media}
        transition: color $animation-easing

      @media #{$phone-media}
        margin: 0 get-vw(20px)
        font-size: get-vw(15px)
        padding: get-vw(10px) 0

      &:hover
        color: $light-navy

      &:not(:last-child)
        border-bottom: solid rgba(#979797, 0.2) 1px

        @media #{$phone-media}
          border-bottom-width: get-vw(1px)



