.arrowed-link
  display: flex
  font-size: 1.9rem
  align-items: center
  cursor: pointer
  white-space: nowrap
  text-decoration: none
  transition: color $animation-easing, opacity $animation-easing

  &__text
    position: relative
    overflow: hidden

    &:after
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      background-color: none
      content: ''
      transform: translateX(-100%)
      transition: transform $animation-easing

  &__arrow
    display: block
    flex-shrink: 0
    width: 16px
    height: 10px
    margin-left: 10px
    position: relative
    transition: transform $animation-easing

    @media #{$phone-media}
      width: get-vw(16px)
      height: get-vw(9px)
      margin-left: get-vw(15px)

    svg
      width: 100%
      height: 100%
      object-fit: contain
      position: absolute
      top: 0
      left: 0

  &_blue
    color: $light-navy

    .arrowed-link__text:after
      background-color: $blue-blue

    &:hover
      @media #{$animation-media}
        color: $blue-blue

    svg path
      fill: $light-navy

  &_gray
    color: $greish-brown
    opacity: 0.4

    .arrowed-link__text:after
      background-color: #979797

    &:hover
      opacity: 1
      @media #{$animation-media}
        color: $greish-brown

    svg path
      fill: $greish-brown

  &:hover
    @media #{$animation-media}
      .arrowed-link__arrow
        transform: translateX(5px)

      .arrowed-link__text:after
        transform: translateX(0)

.link
  color: $light-navy
  text-decoration: none