.tick-list
  list-style: none
  padding-left: 40px
  margin: 0

  font-size: 1.9rem
  line-height: 1.37
  color: rgba($dark, 0.89)

  @media #{$phone-media}
    padding-left: get-vw(35px)
    font-size: get-vw(13px)
    line-height: 1.54

  &__item
    position: relative
    display: block

    &:before
      display: block
      content: ''
      top: 1px
      left: -39px
      position: absolute
      width: 22px
      height: 22px
      background: url('./../images/icons/tick-checkbox.svg') center no-repeat
      background-size: contain

      @media #{$phone-media}
        width: get-vw(24px)
        height: get-vw(24px)
        left: get-vw(-35px)
        top: get-vw(-2px)

    &:not(:last-child)
      margin-bottom: 18px

      @media #{$phone-media}
        margin-bottom: get-vw(15px)

.dashed-list
  list-style: none
  margin: 0
  padding-left: 40px

  font-size: 1.7rem
  line-height: 1.59
  color: #464646

  @media #{$phone-media}
    font-size: get-vw(13px)
    line-height: 1.54
    padding-left: get-vw(30px)

  &__item
    position: relative

    &:before
      display: block
      width: 16px
      height: 1px
      opacity: 0.5
      background: $greish-brown
      content: ''
      position: absolute
      left: -40px
      top: 14px

      @media #{$phone-media}
        width: get-vw(16px)
        height: get-vw(1px)
        left: get-vw(-30px)
        top: get-vw(10px)

    &:not(:last-child)
      margin-bottom: 16px

      @media #{$phone-media}
        margin-bottom: get-vw(16px)