.map-link
  display: flex
  text-decoration: none
  color: rgba(#6c6c6c, 0.9)
  font-size: 1.3rem
  vertical-align: center
  transition: color $animation-easing

  @media #{$phone-media}
    font-size: get-vw(13px)

  &:hover
    @media #{$animation-media}
      color: $light-navy

  svg
    height: 16px
    width: 14px
    object-fit: contain
    margin-right: 6px

    @media #{$phone-media}
      height: get-vw(16px)
      width: get-vw(14px)
      margin-right: get-vw(6px)

    path
      stroke: $light-navy
      stroke-width: 2