.menu
  position: fixed
  display: none
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: $pale-gray
  z-index: 900
  padding: 63px 0 100px 0
  box-sizing: border-box
  overflow: auto
  -webkit-overflow-scrolling: touch

  &_visible
    display: block

  @media #{$tablet-large-media}
    padding-bottom: 48px
    padding-top: 32px

  @media #{$phone-media}
    padding-top: get-vw(27px)
    padding-bottom: 0

  &__container
    position: relative

  &__close
    width: 40px
    height: 40px
    position: absolute
    transform: rotate(45deg)
    cursor: pointer
    outline: none
    right: -60px
    top: 0
    z-index: 101

    @media #{$tablet-large-media}
      right: -7px
      width: 30px
      height: 30px

    @media #{$phone-media}
      width: get-vw(30px)
      height: get-vw(30px)

    &:before
      width: 100%
      height: 2px
      background: #a4a4a4
      content: ''
      position: absolute
      display: block
      top: 50%
      transform: translateY(-50%)
      left: 0

      @media #{$phone-media}
        height: get-vw(2px)

    &:after
      height: 100%
      width: 2px
      background: #a4a4a4
      content: ''
      position: absolute
      display: block
      top: 0
      left: 50%
      transform: translateX(-50%)

      @media #{$phone-media}
        width: get-vw(2px)

  &-search
    padding: 24px 38px 28px 38px
    box-sizing: border-box
    width: 100%
    border-bottom: 1px solid rgba(#a1a1a1, 0.3)
    position: relative

    @media #{$phone-media}
      padding: get-vw(3px) get-vw(58px) get-vw(18px) get-vw(58px)
      border-bottom-width: get-vw(1px)
      margin: 0 get-vw(-20px)
      width: calc(100% + #{get-vw(40px)})

    &:before
      display: block
      content: ''
      width: 24px
      height: 27px
      opacity: 0.56
      background-size: contain
      background: url('./../images/icons/search.svg') center no-repeat
      position: absolute
      left: 0
      bottom: 28px

      @media #{$phone-media}
        width: get-vw(29px)
        height: get-vw(29px)
        left: get-vw(20px)
        bottom: get-vw(18px)

    &__input
      width: 100%
      border: none
      outline: none
      -moz-appearance: none
      -webkit-appearance: none
      background: transparent
      font-size: 1.7rem
      padding-bottom: 3px

      @media #{$phone-media}
        font-size: get-vw(17px)

  &-main-container
    padding-top: 50px
    display: flex
    justify-content: flex-start

    @media #{$tablet-large-media}
      padding-top: 25px

    @media #{$tablet-media}
      flex-wrap: wrap
      padding-top: 0

  &-column
    width: 242px

    @media #{$tablet-media}
      width: 338px
      margin-bottom: 50px

    @media #{$phone-media}
      width: 100%

    &:not(:last-child)
      margin-right: 58px

      @media #{$tablet-large-media}
        margin-right: 31px

      @media #{$tablet-media}
        margin-right: 0

    &:nth-child(odd)
      @media #{$tablet-media}
        margin-right: 22px

      @media #{$phone-media}
        margin-right: 0

    @media #{$phone-media}
      margin-bottom: 0

    &__header
      font-size: 1.6rem
      font-weight: 600
      padding-bottom: 25px
      padding-top: 21px
      box-sizing: border-box
      border-bottom: 1px solid rgba(#a1a1a1, 0.3)
      margin-bottom: 24px
      position: relative
      display: flex
      align-items: center

      @media #{$tablet-media}
        box-sizing: content-box
        height: 60px

      @media #{$phone-media}
        border-bottom-width: get-vw(1px)
        height: auto
        padding: get-vw(19px) 0
        font-size: get-vw(16px)
        margin: 0
        cursor: pointer

      span
        max-width: 180px

        @media #{$phone-media}
          max-width: get-vw(180px)

      &:before
        display: block
        content: ''
        width: 57px
        height: 57px
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        flex-shrink: 0
        margin-right: 18px

        @media #{$phone-media}
          width: get-vw(57px)
          height: get-vw(57px)
          margin-right: get-vw(18px)

      &:after
        display: none
        content: ''
        width: get-vw(24px)
        height: get-vw(24px)
        background: url('./../images/icons/arrow-up.svg') center no-repeat
        background-size: contain
        margin-left: auto
        transform: scaleY(-1)

        @media #{$phone-media}
          display: block
          transition: 0.5s ease transform

      &_expanded
        &:after
          transform: scaleY(-1) rotate(-180deg)


      &_lab:before
        background-image: url('./../images/icons/menu-lab.svg')

      &_surgery:before
        background-image: url('./../images/icons/menu-surgery.svg')

      &_adults:before
        background-image: url('./../images/icons/menu-adults.svg')

      &_kids:before
        background-image: url('./../images/icons/menu-kids.svg')

    &:last-child
      @media #{$phone-media}
        .menu-column__header
          border-bottom: none

        .menu-items
          border-bottom: none !important

  &-items
    padding: 0
    margin: 0
    list-style: none

    @media #{$phone-media}
      max-height: 0
      overflow: hidden
      border-bottom: get-vw(1px) solid rgba(#a1a1a1, 0)
      transition: 0.5s ease max-height, 0.5s ease border-bottom-color

    &_expanded
      border-bottom-color: rgba(#a1a1a1, 0.4)

    &__item
      font-size: 1.8rem
      line-height: 1.67
      color: $greish-brown

      @media #{$phone-media}
        font-size: get-vw(18px)

      &:not(:last-child)
        margin-bottom: 10px

        @media #{$phone-media}
          margin-bottom: get-vw(10px)

      &_more
        margin-top: 4px

      &_expandable
        display: flex
        align-items: center
        justify-content: space-between

        &:after
          content: ''
          width: get-vw(24px)
          height: get-vw(24px)
          background: url('./../images/icons/arrow-up.svg') center no-repeat
          background-size: contain
          transform: scaleY(-1)

          @media #{$phone-media}
            display: block
            transition: 0.5s ease transform

      &_additional
        font-weight: 600
        line-height: 1.5
        font-size: 2rem

        @media #{$phone-media}
          font-size: get-vw(20px)

        &:not(:last-child)
          margin-bottom: 25px

          @media #{$phone-media}
            margin-bottom: get-vw(20px)

      @media #{$phone-media}
        &:first-child
          margin-top: get-vw(16px)
        &:last-child
          margin-bottom: get-vw(38px)

    &__link
      text-decoration: none
      color: $greish-brown
      position: relative
      display: inline-block
      transition: color $animation-easing

      @media #{$animation-media}
        &:hover
          color: $light-navy

    &__arrowed-link
      font-size: 1.6rem
      font-weight: 600

      @media #{$phone-media}
        font-size: get-vw(16px)

  &-additional-container
    display: flex
    padding-top: 45px

    @media #{$tablet-large-media}
      padding-top: 70px

      .menu-column
        width: 216px

    @media #{$tablet-media}
      padding-top: 30px

      .menu-column
        width: 338px
        margin-bottom: 0

    @media #{$phone-media}
      flex-wrap: wrap
      background: white
      margin: 0 get-vw(-20px)
      padding: get-vw(30px) get-vw(20px) 0

      .menu-items
        display: block
        margin: 0
        padding-bottom: 0
        border-bottom: none
        padding-top: 0
        max-height: none

        &__item
          margin-bottom: get-vw(20px)
          margin-top: 0

        &_addresses
          max-height: 0

      .menu-column
        width: 100%

        &:last-child
          .menu-items__item:last-child
            margin-bottom: get-vw(10px)

.menu-addresses-container
  display: none
  background: white
  margin: 0 get-vw(-20px)
  padding: get-vw(10px) get-vw(20px) 0
  transition: background-color $animation-easing

  @media #{$phone-media}
    display: block

  .menu-items__item
    margin-top: 0

  .address-tooltip__group:last-child
    margin-bottom: get-vw(35px)

  &_expanded
    background: $pale-gray

    .menu-items__item_expandable:after
      transform: scaleY(-1) rotate(-180deg)