.news
  padding-bottom: 65px
  background: white

  @media #{$tablet-large-media}
    padding-bottom: 45px

  @media #{$phone-media}
    padding-bottom: get-vw(52px)

  &__button
    display: none

    @media #{$phone-media}
      display: block
      width: get-vw(230px)
      margin: 0 auto

.news-header
  padding-bottom: 35px
  padding-top: 75px
  display: flex
  align-items: center

  @media #{$tablet-large-media}
    padding-top: 55px

  @media #{$phone-media}
    padding-top: get-vw(24px)
    padding-bottom: get-vw(25px)

  &__button
    margin-left: auto
    width: 170px
    padding-left: 0
    padding-right: 0
    height: 47px

    @media #{$phone-media}
      display: none

.news-slider
  padding-bottom: 40px
  overflow-x: hidden
  overflow-y: visible
  position: relative

  @media #{$tablet-large-media}
    max-width: 980px
    margin: 0 auto

  @media #{$tablet-media}
    max-width: none

  &:before, &:after
    content: ''
    position: absolute
    display: block
    background: white
    top: 0
    opacity: 0
    width: calc((100% - 1160px) / 2)
    height: 100%
    z-index: 2

    @media #{$tablet-large-media}
      display: none

  &:before
    left: 0

  &:after
    right: 0

  &__controls
    display: flex
    align-items: center
    height: 50px
    position: relative
    margin-left: 35px

    @media #{$phone-media}
      display: none

    &:before
      width: 1px
      height: 100%
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      content: ''
      opacity: 0.3
      background: #979797

  &__arrow
    display: block
    width: 34px
    height: 35px
    cursor: pointer

    svg
      width: 100%
      height: 100%
      object-fit: contain

      path
        stroke: #A4A4A4
        transition: stroke $animation-easing

    @media #{$animation-media}
      &:hover
        svg path
          stroke: $light-navy

    &_left
      transform: scaleX(-1)

    &_right
      margin-left: 20px

  &-inner
    display: flex
    justify-content: center
    padding-top: 10px

    transition: transform 0.5s ease

    .news-card
      opacity: 0.5
      transition: opacity 0.5s ease-in-out, transform 0.35s ease, box-shadow 0.35s ease

      @media #{$tablet-large-media}
        opacity: 1

      @media #{$tablet-media}
        opacity: 0.5

      @media #{$phone-media}
        opacity: 1

      &_central
        opacity: 1


    &.noAnimate
      transition: none

      .news-card
        transition: none

    @media #{$phone-media}
      flex-direction: column
      padding-top: 0


.news-card
  text-decoration: none
  color: $dark
  display: block
  width: 360px
  margin: 0 15px
  background: white
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08)
  height: 577px
  position: relative
  transition: transform 0.35s ease, box-shadow 0.35s ease
  flex-shrink: 0

  @media #{$tablet-large-media}
    width: 300px

  @media #{$phone-media}
    width: get-vw(280px)
    margin: 0 auto get-vw(20px) auto
    height: auto
    min-height: get-vw(440px)

  &:hover:not(.news-card_inactive)
    @media #{$animation-media}
      box-shadow: 0 15px 24px 0 rgba(0,0,0,.16)
      transform: translateY(-4px)

  &_inactive
    user-select: none

    @media #{$tablet-media}
      user-select: text

    &:before
      content: ''
      position: absolute
      display: block
      background: white
      opacity: 0.7
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 2

      @media #{$tablet-media}
        display: none

  &_shadow
    @media #{$phone-media}
      display: none

  &__image
    width: 360px
    height: 249px
    user-select: none
    object-fit: cover

    @media #{$tablet-large-media}
      width: 300px

    @media #{$phone-media}
      width: get-vw(280px)
      height: get-vw(234px)

  &__content
    padding: 27px 19px 19px 34px

    @media #{$tablet-large-media}
      padding-left: 30px

    @media #{$phone-media}
      padding: get-vw(24px) get-vw(20px)
      min-height: get-vw(200px)

  &__duration
    margin: 0 0 22px 0
    padding: 0
    font-size: 1.6rem
    line-height: 1.38
    color: #9b9b9b

    @media #{$phone-media}
      font-size: get-vw(16px)
      margin-bottom: get-vw(6px)

  &__tag
    margin: 0 0 22px 0
    padding: 0
    font-size: 1.6rem
    line-height: 1.38
    color: $light-navy

    @media #{$phone-media}
      font-size: get-vw(16px)
      margin-bottom: get-vw(6px)

  &__header
    font-size: 2.8rem
    font-weight: 600
    margin: 0 0 10px 0

    @media #{$phone-media}
      font-size: get-vw(18px)

  &__prices
    display: flex
    align-items: center
    margin-top: auto
    position: absolute
    left: 34px
    bottom: 86px

    @media #{$tablet-large-media}
      left: 30px

    @media #{$phone-media}
      left: unset
      bottom: unset
      position: relative
      margin-bottom: get-vw(19px)
      margin-top: get-vw(42px)

  &__price
    &-old
      display: block
      color: rgb(189, 189, 193)
      font-size: 21px
      white-space: nowrap
      position: relative

      @media #{$phone-media}
        font-size: get-vw(21px)

      &:before
        display: block
        position: absolute
        content: ''
        top: 50%
        left: 0
        width: 100%
        height: 1px
        background: rgb(189, 189, 193)

        @media #{$phone-media}
          height: get-vw(1px)

    &-new
      display: block
      font-size: 2.4rem
      font-weight: 600
      color: $lipstick
      margin-right: 15px

      @media #{$phone-media}
        font-size: get-vw(21px)

  &__footer
    @media #{$phone-media}
      padding-top: get-vw(19px)
      position: absolute
      bottom: get-vw(24px)

    &:before
      display: block
      position: absolute
      content: ''
      left: 0
      bottom: 64px
      width: 360px
      height: 1px
      background: #979797
      opacity: 0.2

      @media #{$tablet-large-media}
        width: 300px

      @media #{$phone-media}
        width: get-vw(280px)
        height: get-vw(1px)
        bottom: get-vw(40px)
        left: get-vw(-20px)

  &__arrowed-link
    font-size: 1.6rem
    font-weight: 600
    display: flex
    position: absolute
    bottom: 24px
    left: 35px

    @media #{$tablet-large-media}
      left: 30px

    @media #{$phone-media}
      left: unset
      bottom: unset
      position: relative
      font-size: get-vw(16px)

  &__description
    max-height: 89px
    font-size: 1.7rem
    line-height: 1.59
    color: #464646
    overflow: hidden
    margin: 10px 0

    @media #{$phone-media}
      max-height: none
      margin: get-vw(20px) 0
      font-size: get-vw(13px)

  &_wide
    width: 403px
    height: 530px

    .news-card__image
      width: 100%
      height: 228px

    .news-card__more:before
      width: 403px

  &_full-width
    width: 100%
    height: 364px
    position: relative
    left: unset
    top: unset
    margin: 0
    display: flex
    flex-direction: row-reverse
    justify-content: space-between

    @media #{$phone-media}
      flex-direction: column
      height: auto

    .news-card__footer
      display: none

      @media #{$phone-media}
        display: block

    .news-card__image
      width: 580px
      height: 100%

      @media #{$tablet-large-media}
        width: 550px

      @media #{$tablet-media}
        width: 300px

      @media #{$phone-media}
        width: 100%

    .news-card__content
      max-width: 363px

      @media #{$phone-media}
        max-width: unset

    .news-card__prices
      bottom: 30px

      @media #{$phone-media}
        bottom: 0

    .news-card__duration
      margin-bottom: 10px

    .news-card__header
      margin-bottom: 20px

  &_size
    &_xs
      width: 260px
      height: 357px
      margin: 0

      @media #{$phone-media}
        width: get-vw(280px)
        height: get-vw(324px)
        min-height: auto

      .news-card__image
        width: 100%
        height: 154px

        @media #{$phone-media}
          height: get-vw(154px)

      .news-card__content
        padding: 15px 20px 15px 26px

        @media #{$phone-media}
          min-height: auto
          padding: get-vw(15px) get-vw(20px) get-vw(15px) get-vw(26px)

      .news-card__header
        font-size: 2rem
        line-height: 1.5

        @media #{$phone-media}
          font-size: get-vw(20px)

      .news-card__footer
        &:before
          width: 260px

          @media #{$phone-media}
            width: get-vw(280px)
            left: get-vw(-26px)

      .news-card__arrowed-link
        left: 26px

        @media #{$phone-media}
          left: 0