.page-jumbotron
  background: white
  overflow: hidden
  position: relative

  &_overflow-visible-mobile
    @media #{$phone-media}
      overflow: visible

  &_overflow-visible
    overflow: visible

  &_gray-mobile
    @media #{$phone-media}
      background: $pale-gray

  &__header
    margin-top: 35px
    color: $light-navy
    max-width: 520px
    font-size: 56px
    font-weight: 600
    margin-bottom: 26px

    &_full-width
      max-width: none

    @media #{$phone-media}
      font-size: get-vw(30px)
      line-height: normal
      margin-top: 0
      margin-bottom: get-vw(11px)

    span
      display: block

  &__paragraph
    margin: 0
    font-size: 2.3rem
    line-height: 1.57
    color: $dark
    font-weight: 300
    max-width: 510px

    @media #{$phone-media}
      font-size: get-vw(17px)
      line-height: 1.59

    &_indent-b
      &_normal
        margin-bottom: 47px

        @media #{$phone-media}
          margin-bottom: get-vw(20px)

  &__image
    position: absolute
    width: 700px
    height: 515px
    object-fit: cover
    right: calc(-1 * (100vw - 1160px) / 2)
    top: 50%
    transform: translateY(-50%)

    @media #{$tablet-large-media}
      width: 496px
      height: 445px
      right: calc(-1 * (100vw - 960px) / 2)
      display: block

    @media #{$tablet-media}
      top: unset
      transform: none
      width: 100%
      height: 290px
      position: relative
      margin: 10px auto 50px auto
      right: unset

    @media #{$phone-media}
      height: get-vw(186px)
      margin-bottom: get-vw(20px)

  &__help-container
    position: relative
    display: inline-flex
    height: 38px
    vertical-align: middle

    @media #{$phone-media}
      height: get-vw(38px)


    .tooltip_placement_right
      top: -23px

  &__help
    display: inline-flex !important
    width: 38px
    height: 38px
    border: solid 1px rgba(#a3a3a3, 0.3)
    border-radius: 50%
    font-size: 1.7rem
    color: $light-navy
    align-items: center
    justify-content: center
    cursor: pointer
    transition: border-color $animation-easing, background-color $animation-easing
    position: relative
    user-select: none

    @media #{$phone-media}
      width: get-vw(38px)
      height: get-vw(38px)
      font-size: get-vw(17px)
      border-width: get-vw(1px)

    &:not(&_active):hover
      @media #{$animation-media}
        border-color: $light-navy

    &_active
      background: $pale-gray
      border-color: rgba(#a3a3a3, 0)

  &-actions
    display: flex

    @media #{$tablet-media}
      flex-direction: column

  &-price
    color: $greish-brown
    font-size: 2.9rem
    line-height: 0.97
    font-weight: 600
    display: flex
    flex-direction: column

    @media #{$phone-media}
      font-size: get-vw(29px)

    &__discount
      display: flex
      align-items: center

    &__old-price
      color: $dark
      opacity: 0.3
      display: inline-block
      position: relative
      font-weight: normal
      margin-left: 14px
      font-size: 2.1rem

      @media #{$phone-media}
        font-size: get-vw(21px)
        margin-left: get-vw(14px)


      &:after
        display: block
        width: 100%
        height: 1px
        background: rgba($dark, 0.5)
        content: ''
        position: absolute
        transform: translateY(-50%)
        top: 50%

        @media #{$phone-media}
          height: get-vw(1px)

    &__comment
      color: #464646
      font-size: 1.7rem
      line-height: 1.59
      display: inline-block
      vertical-align: middle
      font-weight: normal

      &_indent-b
        &_normal
          margin-bottom: 4px

          @media #{$phone-media}
            margin-bottom: get-vw(4px)

      @media #{$phone-media}
        font-size: get-vw(17px)
        line-height: 1.59

  .button__book
    width: 270px
    padding-left: 0
    padding-right: 0

    @media #{$tablet-media}
      width: 282px

    @media #{$phone-media}
      width: get-vw(282px)

  .button__question
    width: 282px
    padding-left: 0
    padding-right: 0

    @media #{$phone-media}
      width: get-vw(282px)
      font-size: get-vw(13px)
      letter-spacing: get-vw(1.1px)