.popup
  width: 650px
  box-sizing: border-box
  background: white
  margin: 100px auto
  position: relative
  padding: 60px 80px 50px 80px
  box-shadow: 0 13px 19px 4px rgba(86, 86, 86, 0.08)
  z-index: 2002


  @media #{$phone-media}
    top: 0
    width: 100%
    margin: 0 auto
    padding: get-vw(48px) get-vw(20px) get-vw(36px) get-vw(20px)

  &__wrapper
    z-index: 2000
    position: relative

  &__popup__react-scroll-locky
    z-index: 2000
    position: relative

  &-container
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 2000
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center

  &-wrapper
    max-height: 100%
    -webkit-overflow-scrolling: touch
    overflow-y: auto
    width: 100%
    z-index: 2001

  &-fade
    background: rgba(0, 0, 0, .3)
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 2000
    pointer-events: none

  &-message
    text-align: center
    font-weight: 600
    color: $light-navy
    padding-top: 50px
    padding-bottom: 60px
    font-size: 3rem

    @media #{$phone-media}
      font-size: get-vw(25px)
      padding-top: get-vw(70px)
      padding-bottom: get-vw(70px)

  &-header
    margin-bottom: 10px
    width: 100%
    text-align: center
    font-size: 3rem
    font-weight: 600
    color: $light-navy

    @media #{$phone-media}
      font-size: get-vw(25px)
      margin-bottom: get-vw(10px)
      max-width: get-vw(200px)
      margin-left: auto
      margin-right: auto

  &-close
    width: 24px
    height: 24px
    position: absolute
    top: 33px
    right: 33px
    cursor: pointer

    @media #{$phone-media}
      width: get-vw(21px)
      height: get-vw(21px)
      top: get-vw(15px)
      right: get-vw(15px)

  &-form
    padding-top: 30px

    @media #{$phone-media}
      padding-top: get-vw(25px)

  &-description
    font-size: 1.7rem
    line-height: 1.59
    color: #464646
    text-align: center

    &_indent-b
      &_large
        margin-bottom: 30px

    @media #{$phone-media}
      font-size: get-vw(17px)

  &-footer
    margin-top: 35px
    padding-top: 44px
    position: relative

    @media #{$phone-media}
      margin-top: get-vw(40px)
      padding-top: get-vw(40px)

    &:before
      display: block
      height: 1px
      opacity: 0.2
      background: #979797
      content: ''
      position: absolute
      top: 0
      width: 650px
      left: -80px

      @media #{$phone-media}
        height: get-vw(1px)
        width: 100vw
        left: get-vw(-20px)

    &__button
      margin: 0 auto
      display: flex
      width: 270px

      @media #{$phone-media}
        width: get-vw(230px)


.popup-city-confirmation
  padding-top: 85px
  padding-bottom: 76px

  @media #{$phone-media}
    padding-top: get-vw(60px)
    padding-bottom: get-vw(50px)

  .popup-header
    margin-bottom: 45px
    max-width: none

    @media #{$phone-media}
      margin-bottom: get-vw(45px)

  &__button
    width: 240px
    display: flex
    margin-left: auto
    margin-right: auto

    &:not(:last-child)
      margin-bottom: 15px

    @media #{$phone-media}
      width: 100%

      &:not(:last-child)
        margin-bottom: get-vw(15px)

.popup-city-select
  width: 960px
  padding: 81px 108px 88px

  @media #{$tablet-media}
    width: 100%

  @media #{$phone-media}
    padding: get-vw(20px)

  &__search
    margin-top: 52px
    width: 100%
    position: relative
    height: 60px

    @media #{$phone-media}
      margin-top: get-vw(25px)
      height: get-vw(49px)

    &:before
      width: 24px
      height: 24px
      background: url('../images/icons/search.svg') center no-repeat
      opacity: 0.7
      background-size: contain
      content: ''
      display: block
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: 20px

      @media #{$phone-media}
        left: get-vw(11px)
        width: get-vw(23px)
        height: get-vw(23px)

    input
      width: 100%
      height: 100%
      border: 1px solid rgba(#a3a3a3, 0.4)
      padding: 19px 20px 19px 60px
      box-sizing: border-box
      font-size: 1.7rem
      color: $greish-brown
      outline: none
      border-radius: 0
      box-shadow: none
      -webkit-appearance: none
      appearance: none
      background: white

      @media #{$phone-media}
        padding: get-vw(13px) get-vw(20px) get-vw(13px) get-vw(44px)
        font-size: get-vw(17px)
        border-width: get-vw(1px)

  &__cities
    display: flex
    flex-direction: column
    max-height: 1030px
    flex-wrap: wrap
    margin-top: 70px

    @media #{$tablet-media}
      max-height: 1440px

    @media #{$phone-media}
      margin-top: get-vw(25px)
      max-height: none

  &__cities-group
    display: flex
    flex-direction: column
    margin-bottom: 30px
    margin-right: 55px
    min-width: 145px

    @media #{$phone-media}
      margin-bottom: get-vw(20px)

    &_indent-b
      &_none
        @media screen and (min-width: $tablet-large-min-width)
          margin-bottom: 0

  &__city
    display: inline-block
    font-size: 1.5rem
    line-height: 1.53
    color: #6c6c6c
    text-decoration: none

    @media #{$phone-media}
      font-size: get-vw(15px)

  &__cities-group-header
    font-size: 1.8rem
    line-height: 1.56
    font-weight: bold
    color: $greish-brown
    margin-bottom: 5px

    @media #{$phone-media}
      font-size: get-vw(18px)
      margin-bottom: get-vw(5px)

  .popup-header
    @media #{$phone-media}
      text-align: left
      margin-left: 0

.popup-animation
  &-enter
    opacity: 0

    &-active
      opacity: 1
      transition: opacity 0.3s ease

  &-exit
    opacity: 0
    transition: opacity 0.3s ease

.popup-job-story
  padding: 58px 0 70px 0

  @media #{$phone-media}
    padding-top: get-vw(46px)
    padding-bottom: get-vw(30px)

  &__content
    padding-left: 65px
    padding-right: 80px

    @media #{$phone-media}
      padding: 0 get-vw(20px)

  &__image
    width: 100%
    height: 347px
    margin-bottom: 40px
    margin-top: 40px

    @media #{$phone-media}
      margin: get-vw(20px) 0
      width: get-vw(320px)
      height: get-vw(347px)
      object-fit: cover

  &__tag
    font-size: 1.6rem
    color: $light-navy
    line-height: 1.38
    margin-bottom: 11px

    @media #{$phone-media}
      margin-bottom: get-vw(7px)
      font-size: get-vw(16px)

  &__name
    font-size: 2.8rem
    font-weight: 600
    color: $dark

    @media #{$phone-media}
      font-size: get-vw(23px)

  &__text
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54

.popup-cancel-appointment
  padding-top: 85px
  padding-bottom: 85px

  @media #{$phone-media}
    padding-top: get-vw(100px)
    padding-bottom: get-vw(100px)

  &_space-b
    &_small
      padding-bottom: 70px

      @media #{$phone-media}
        padding-bottom: get-vw(90px)

  &__message
    font-size: 2.2rem
    line-height: 1.59
    color: $dark
    text-align: center
    margin-top: 25px

    @media #{$phone-media}
      margin-top: 20px
      font-size: get-vw(17px)
      line-height: 1.53

  &__actions-block
    margin-top: 40px
    display: flex
    flex-direction: column
    margin-left: auto
    margin-right: auto

    @media #{$phone-media}
      margin-top: get-vw(25px)


    * + *
      margin-top: 15px

      @media #{$phone-media}
        margin-top: get-vw(10px)

    &_width
      &_small
        width: 240px

        @media #{$phone-media}
          width: get-vw(280px)

      &_large
        width: 320px

        @media #{$phone-media}
          width: get-vw(280px)

  .popup-header
    max-width: 356px
    margin-left: auto
    margin-right: auto

    @media #{$phone-media}
      max-width: none