.price-block
  display: flex
  align-items: center

  &__primary
    font-size: 2.9rem
    font-weight: 600
    color: $dark
    line-height: 0.97

    @media #{$phone-media}
      font-size: get-vw(29px)

    span
      font-size: 2.4rem
      line-height: 1.17
      vertical-align: center

      @media #{$phone-media}
        font-size: get-vw(24px)

  &__secondary
    display: block

    margin-left: 10px
    position: relative

    font-weight: normal
    color: $dark
    opacity: 0.3
    font-size: 1.9rem

    @media #{$phone-media}
      font-size: get-vw(19px)
      margin-left: get-vw(10px)

    &:before
      width: 100%
      height: 1px
      background: $dark
      position: absolute
      display: block
      top: 50%
      transform: translateY(-50%)
      left: 0
      content: ''

    span
      vertical-align: center
      font-size: 1.6rem

      @media #{$phone-media}
        font-size: get-vw(16px)