.pt-icon-plus
  display: flex
  align-items: center

  &__icon
    width: 24px
    height: 24px

    object-fit: contain

    background-size: contain
    background-position: 50% 50%
    background-repeat: no-repeat

    @media #{$phone-media}
      width: get-vw(24px)
      height: get-vw(24px)

    &_indent-r
      &_normal
        margin-right: 10px

        @media #{$phone-media}
          margin-right: get-vw(10px)

  &__block
    font-size: 17px
    line-height: 1.59
    color: #464646

    @media #{$phone-media}
      font-size: get-vw(17px)