.ask-question
  background: white
  padding: 160px 0 180px 0
  overflow: hidden

  @media #{$tablet-large-media}
    padding-top: 85px
    padding-bottom: 95px

  @media #{$tablet-media}
    padding-top: 75px

  @media #{$phone-media}
    padding-top: get-vw(35px)
    padding-bottom: get-vw(28px)

  &_gray
    background: $pale-gray

  &_with-top-border
    border-top: 1px solid rgba(#a3a3a3, 0.3)

  &_with-bottom-border
    border-bottom: 1px solid rgba(#a3a3a3, 0.3)

  &_narrow
    padding-top: 100px
    padding-bottom: 142px

    @media #{$tablet-large-media}
      padding-bottom: 101px

    @media #{$phone-media}
      padding-bottom: get-vw(28px)
      padding-top: get-vw(35px)
      border-bottom: solid get-vw(1px) rgba(#a1a1a1, 0.2)

    .ask-question__container:before
      top: -35px

      @media #{$tablet-large-media}
        width: 364px
        height: 264px
        top: -5px
        right: 50px

      @media #{$tablet-media}
        right: -120px

      @media #{$phone-media}
        width: get-vw(168px)
        height: get-vw(120px)
        left: 0
        top: 0

    .ask-question__paragraph
      @media #{$tablet-large-media}
        max-width: 433px

      @media #{$phone-media}
        max-width: get-vw(269px)
        margin-bottom: get-vw(25px)

  &__container
    position: relative

    &:before
      display: block
      content: ''
      position: absolute
      top: 20px
      right: -40px
      background-size: contain
      background: url('./../images/homepage/questions.svg') center no-repeat
      width: 454px
      height: 329px

      @media #{$tablet-large-media}
        right: -70px

      @media #{$tablet-media}
        width: 236px
        height: 170px
        right: -28px
        top: -45px

      @media #{$phone-media}
        width: get-vw(168px)
        height: get-vw(120px)
        position: relative
        right: unset
        top: unset
        margin-bottom: get-vw(30px)


  &__header
    font-size: 4rem
    font-weight: 600
    line-height: 1.48
    margin: 0 0 17px 0
    max-width: 591px

    &_max-width
      &_none
        max-width: none

        @media #{$tablet-large-media}
          max-width: 591px

        @media #{$phone-media}
          max-width: none

    @media #{$phone-media}
      font-size: get-vw(26px)
      line-height: 1.12
      margin-bottom: get-vw(17px)

  &__paragraph
    margin: 0 0 27px 0
    font-size: 2.2rem
    font-weight: 300
    line-height: 1.64

    @media #{$phone-media}
      font-size: get-vw(17px)
      line-height: 1.59
      margin-bottom: get-vw(58px)
      max-width: get-vw(269px)

    &_narrow
      max-width: 400px

      @media #{$phone-media}
        max-width: get-vw(250px)


  &__button
    @media #{$tablet-large-media}
      width: 293px

    @media #{$phone-media}
      width: get-vw(230px)
      padding-left: 0
      padding-right: 0