.radiobutton
  width: 370px
  background: white
  height: 90px
  display: flex
  padding: 33px 21px
  align-items: center
  box-sizing: border-box
  cursor: pointer
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)
  transition: box-shadow 0.2s ease
  user-select: none

  @media #{$tablet-large-media}
    width: 264px

  @media #{$tablet-media}
    width: 100%

  @media #{$phone-media}
    padding: get-vw(16px) get-vw(20px)
    height: get-vw(60px)

  &_active
    box-shadow: none

  &_indent-r
    &_normal
      margin-right: 19px

      @media #{$tablet-media}
        margin-right: 0
        margin-bottom: 20px

      @media #{$phone-media}
        margin-right: 0
        margin-bottom: get-vw(10px)

  &_width
    &_full
      width: 100%

  &__container
    display: flex
    flex-wrap: wrap

  &__check
    width: 24px
    height: 24px
    margin-top: 2px
    border: 2px solid $pale-gray
    flex-shrink: 0
    border-radius: 50%
    margin-right: 20px
    background: white
    position: relative
    box-sizing: border-box
    transition: background-color 0.2s ease, border-color 0.2s ease

    @media #{$phone-media}
      width: get-vw(24px)
      height: get-vw(24px)
      margin-right: get-vw(15px)

    &::after
      display: block
      opacity: 0
      content: ''
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0)
      position: absolute
      width: 10px
      height: 10px
      background: url('./../images/icons/tick.svg') no-repeat center
      background-size: contain
      transition: opacity 0.1s ease

      @media #{$phone-media}
        width: get-vw(10px)
        height: get-vw(10px)

  &__input
    display: none

    &:checked + .radiobutton__check
      background: $light-navy
      border-color: $light-navy

      &:after
        opacity: 1

  &__label
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown

    &_large
      font-size: 2.3rem
      font-weight: 300
      line-height: 1.57

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54
      font-weight: normal

  &__label-hint
    font-size: 1.5rem
    color: #6c6c6c
    line-height: 1.53

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54

    &_color
      &_red
        color: #f2576a

