.reviews
  width: 759px
  margin: 0 auto
  background: white
  padding-top: 74px
  padding-bottom: 107px
  display: flex
  flex-direction: column

  &_doctor-page
    @media #{$tablet-large-media}
      padding-right: 37px

    @media #{$tablet-media}
      width: 700px
      padding-right: 0

    @media #{$phone-media}
      width: get-vw(280px)
      padding-bottom: get-vw(28px)
      padding-top: get-vw(37px)

  &__button
    margin-top: 35px
    flex-shrink: 0
    width: 286px
    margin-left: auto
    margin-right: auto

    @media #{$phone-media}
      width: get-vw(230px)
      margin-top: get-vw(20px)

  &-button-animation-container
    display: flex
    justify-content: center

.reviews-header
  display: flex
  justify-content: space-between
  align-items: center
  padding-bottom: 38px

  @media #{$phone-media}
    padding-bottom: get-vw(16px)

  &__header
    color: $light-navy
    font-size: 4rem
    line-height: 1.48
    font-weight: 600
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(26px)
      line-height: 1.19

    span
      @media #{$phone-media}
        display: none

  &__button
    width: 207px
    padding-left: 0
    padding-right: 0

    @media #{$phone-media}
      width: get-vw(45px)
      height: get-vw(45px)
      background: $light-navy
      color: white
      border-radius: 100%
      border-color: $light-navy
      position: relative

      &:before
        display: none
        @media #{$phone-media}
          width: get-vw(24px)
          height: get-vw(24px)
          display: block
          content: ''
          position: absolute
          top: 50%
          left: 50%
          background: url('./../images/icons/messages.svg') no-repeat center
          background-size: contain
          transform: translate(-50%, -50%)

      span
        display: none

.reviews-review
  width: 100%
  box-sizing: border-box
  position: relative

  &, &-component
    &:not(:last-child)
      margin-bottom: 35px

      @media #{$phone-media}
        margin-bottom: get-vw(22px)

  &__date
    font-size: 1.5rem
    font-weight: 300
    color: #6c6c6c
    line-height: 1.53
    margin: 0 0 0 auto
    position: relative
    display: flex
    align-items: center

    @media #{$phone-media}
      font-size: get-vw(15px)
      margin: 0

    &:before
      content: ''
      display: block
      width: 24px
      height: 24px
      background-size: contain
      background: url("./../images/icons/calendar.svg") center no-repeat
      flex-shrink: 0
      margin-right: 3px
      opacity: 0.6

      @media #{$phone-media}
        width: get-vw(19px)
        height: get-vw(19px)
        margin-right: get-vw(3px)
        margin-left: get-vw(-2px)


  &__name
    font-size: 2rem
    color: $dark
    font-weight: 600

    @media #{$phone-media}
      font-size: get-vw(15px)
      line-height: 1.53
      margin-top: get-vw(10px)
      margin-bottom: 0

  &__doctor
    color: $brownish-gray
    font-size: 1.5rem
    line-height: 1.53
    margin-left: 7px

    @media #{$phone-media}
      margin-left: 0
      line-height: 1.57
      font-size: get-vw(14px)
      margin-bottom: get-vw(7px)

  &__info
    display: flex
    align-items: center
    padding: 30px 35px 23px 39px

    @media #{$phone-media}
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start
      padding: get-vw(15px) get-vw(10px) get-vw(15px) get-vw(20px)


  &__content
    padding: 25px 39px 22px 39px
    font-size: 1.7rem
    line-height: 1.59
    color: #464646
    position: relative

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54
      max-height: get-vw(120px)
      overflow: hidden
      color: $brownish-gray
      transition: max-height 0.5s ease
      padding: get-vw(16px) get-vw(15px) get-vw(19px) get-vw(20px)

  &__content-wrapper
    position: relative
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, .10))
    background: white
    transition: padding-bottom 0.1s linear

    @media #{$phone-media}
      padding-bottom: get-vw(40px)

      &_expanded
        padding-bottom: 0

    &:after
      display: block
      position: absolute
      content: ''
      z-index: -1
      width: 0
      height: 0
      border-style: solid
      border-width: 0 32px 32px 0
      border-color: transparent #fff transparent transparent
      left: 13px
      bottom: 0
      transform: translateY(60%)

      @media #{$phone-media}
        border-width: 0 get-vw(32px) get-vw(32px) 0
        left: get-vw(13px)



  &__more
    display: none

    @media #{$phone-media}
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      text-align: center
      color: $greish-brown
      font-size: get-vw(15px)
      letter-spacing: get-vw(0.2px)
      display: block
      padding-bottom: get-vw(14px)
      padding-top: get-vw(54px)
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff)
      opacity: 1
      visibility: visible

      &_hidden
        transition: opacity 0.4s ease, visibility step-end 0.5s
        visibility: hidden
        opacity: 0

      &:after
        display: inline-block
        width: get-vw(12px)
        height: get-vw(12px)
        content: ''
        position: relative
        background: red
        vertical-align: middle
        background-size: contain
        background: url('./../images/icons/arrow-up.svg') center no-repeat
        transform: scaleY(-1)

.reviews-page
  &__container
    padding-top: 44px
    padding-bottom: 100px
    width: 760px

    @media #{$tablet-media}
      width: 700px

    @media #{$phone-media}
      padding-top: get-vw(30px)
      padding-bottom: get-vw(30px)
      width: get-vw(280px)

  &__filters-component-container
    z-index: 5
    position: relative

  &__filter
    width: 50%

    @media #{$phone-media}
      width: 100%

  &__filters
    margin-bottom: 28px

    @media #{$phone-media}
      margin-bottom: get-vw(20px)

  &__jumbotron-header
    display: flex
    align-items: center
    margin-bottom: 43px

    @media #{$phone-media}
      max-width: none
      justify-content: space-between
      margin-bottom: get-vw(20px)

  &__jumbotron-button
    height: 44px
    width: 207px
    margin-left: 35px

    @media #{$phone-media}
      padding: 0
      width: get-vw(45px)
      height: get-vw(45px)
      background: $light-navy
      color: white
      border-radius: 100%
      border-color: $light-navy
      position: relative

      &:before
        display: none
        @media #{$phone-media}
          width: get-vw(24px)
          height: get-vw(24px)
          display: block
          content: ''
          position: absolute
          top: 50%
          left: 50%
          background: url('./../images/icons/messages.svg') no-repeat center
          background-size: contain
          transform: translate(-50%, -50%)

      span
        display: none
