.tabs
  display: flex
  user-select: none
  align-items: center

  &__wrapper
    width: 100%
    position: relative

  &__scroll-container
    overflow-x: scroll
    scrollbar-width: none
    -ms-overflow-style: none

    &::-webkit-scrollbar
      display: none

  @media #{$phone-media}
    border: get-vw(1px) solid $light-navy
  &__tab
    font-size: 2rem
    font-weight: 600
    line-height: 1.5
    text-decoration: none
    color: $dark
    white-space: nowrap


    &_active
      border-bottom: 3px solid $light-navy

      @media #{$phone-media}
        border-bottom: none

    &:not(:last-child)
      margin-right: 80px

      @media #{$tablet-large-media}
        margin-right: 60px

      @media #{$phone-media}
        margin-right: 0

    @media #{$phone-media}
      display: none
      width: 100%
      font-size: get-vw(15px)
      line-height: 1.53

      &_active
        display: block
        position: relative

  &__link
    text-decoration: none
    display: block
    color: $dark
    transition: color $animation-easing

    -webkit-user-drag: none
    -khtml-user-drag: none
    -moz-user-drag: none
    -o-user-drag: none
    user-drag: none

    padding: 15px 0

    &:hover
      @media #{$animation-media}
        color: $light-navy

    @media #{$phone-media}
      display: block
      padding: get-vw(12px) get-vw(14px)
      color: $light-navy

      &:after
        content: ''
        position: absolute

        right: get-vw(14px)
        top: 50%
        transform: translateY(-50%) rotate(-180deg)
        width: get-vw(24px)
        height: get-vw(24px)
        background: url('./../images/icons/arrow-up.svg') center no-repeat
        background-size: contain
        transition: transform $animation-easing
        opacity: 0.5

  &-dropdown
    display: block
    position: absolute
    width: 100%
    z-index: 2
    background: white
    box-shadow: 0 get-vw(2px) get-vw(6px) 0 rgba(0, 0, 0, 0.15)

    &__link
      display: block

      padding: get-vw(12px) get-vw(14px)
      font-size: get-vw(15px)
      line-height: 1.4
      text-decoration: none
      color: $greish-brown

      &:not(:last-child)
        border-bottom: #f3f3f3 solid 1px


.buttons-tabs
  display: flex

  @media #{$phone-media}

  &__link
    text-decoration: none
    color: $dark
    transition: color $animation-easing

    &:hover
      @media #{$animation-media}
        color: $light-navy

  &__tab
    font-size: 17px
    color: $dark
    padding: 5px 25px
    border: 1px solid transparent
    cursor: pointer
    white-space: nowrap

    @media #{$phone-media}
      font-size: get-vw(17px)

    &:hover
      @media #{$animation-media}
        color: $light-navy

    &_active
      border-color: $light-navy
      color: $light-navy

      .buttons-tabs__link
        color: $light-navy

    &:not(:last-child)
      margin-right: 10px

      @media #{$tablet-media}
        margin-right: 0