.tooltip
  position: absolute
  width: 300px
  border: 1px solid $pale-gray
  background: white
  min-height: 50px
  z-index: 500
  box-sizing: border-box
  padding: 20px
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.15))

  &:before
    display: block
    content: ''
    position: absolute
    width: 23px
    height: 11px
    background-size: cover
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDIzIDEzIj4KICAgIDxwYXRoIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjRjVGNEY3IiBkPSJNMTEuNjA3LjIxTDEgMTEuNzQ5aDIxLjIxM3oiLz4KPC9zdmc+Cg==')

  &_placement
    &_bottom
      left: -20px
      top: 50px

      &:before
        left: 20px
        transform: translateY(calc(-100%))
        top: 0

    &_right
      right: 0
      top: 0
      transform: translateX(calc(100% + 20px))

      &:before
        left: 0
        top: 20px
        transform: rotate(-90deg) translateX(-100%)
        transform-origin: bottom left

.address-tooltip
  left: -22px
  top: 35px

  @media #{$phone-media}
    display: none

  &__container
    position: relative

  &__header
    font-size: 1.6rem
    color: $greish-brown
    line-height: 1.44
    font-weight: 600
    margin-bottom: 5px

    @media #{$phone-media}
      margin-bottom: get-vw(5px)
      font-size: get-vw(16px)

  &__info
    display: block
    color: #6c6c6c
    font-size: 1.5rem
    line-height: 1.53
    text-decoration: none
    transition: color $animation-easing

    @media #{$phone-media}
      font-size: get-vw(15px)

    &:not(:last-child)
      margin-bottom: 5px

      @media #{$phone-media}
        margin-bottom: get-vw(5px)

  a.address-tooltip__info:hover
    @media #{$animation-media}
      color: $light-navy

  &__map-link
    margin-top: 20px

  &__group
    &:not(:last-child)
      padding-bottom: 20px
      border-bottom: 1px solid rgba(#a3a3a3, 0.4)

      @media #{$phone-media}
        padding-bottom: get-vw(20px)
        border-bottom-width: get-vw(1px)

    &:not(:first-child)
      padding-top: 20px

      @media #{$phone-media}
        padding-top: get-vw(20px)

