.service-page-icons
  &__item
    display: flex
    align-items: center
    padding: 40px 0

    @media #{$phone-media}
      padding: get-vw(20px) 0

    &:not(:last-child)
      border-bottom: rgba(#a3a3a3, 0.4) solid 1px

    &:first-child
      padding-top: 10px

      @media #{$phone-media}
        padding-top: 0

    &:last-child
      padding-bottom: 0

  &__icon
    width: 72px
    height: 91px
    display: block
    background: center no-repeat
    background-size: contain
    margin-right: 24px
    flex-shrink: 0

    @media #{$phone-media}
      width: get-vw(36px)
      height: get-vw(46px)
      margin-right: get-vw(25px)

    &_tumor
      background-image: url('./../images/service/tumor.svg')

    &_insult
      background-image: url('./../images/service/insult.svg')

    &_infections
      background-image: url('./../images/service/infections.svg')

  &__label
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown
    max-width: 296px