.service-page
  &__tick-list
    padding-top: 9px
    margin-bottom: 54px
    max-width: 440px

    @media #{$phone-media}
      max-width: none
      margin-bottom: get-vw(35px)

  &__header-container
    padding-bottom: 64px
    position: relative
    overflow: visible

    @media #{$phone-media}
      padding-bottom: get-vw(65px)

    &_padding-xlarge
      padding-bottom: 180px


    &_padding-large
      padding-bottom: 122px

      @media #{$tablet-large-media}
        padding-bottom: 84px

      @media #{$tablet-media}
        padding-bottom: 32px

      @media #{$phone-media}
        padding-bottom: get-vw(58px)

  &__page-jumbotron
    overflow: visible

  &__page-jumbotron-actions
    display: flex
    align-items: center

    @media #{$tablet-media}
      align-items: flex-start
      flex-direction: row

    @media #{$phone-media}
      flex-direction: column-reverse

    .button__book
      @media #{$tablet-large-media}
        width: 241px

      @media #{$phone-media}
        width: 100%

  &__page-jumbotron-price
    margin-left: 40px

    @media #{$tablet-media}
      margin-left: 36px

    @media #{$phone-media}
      margin-left: 0
      margin-bottom: get-vw(20px)

    .page-jumbotron-price__comment
      color: $brownish-gray

      @media #{$tablet-large-media}
        display: block
        margin: 0

      @media #{$phone-media}
        display: inline-block

  &__page-jumbotron__header
    @media #{$tablet-large-media}
      max-width: 500px

    @media #{$phone-media}
      max-width: none

  &__news-card
    position: absolute
    right: -10px
    top: 107px

    @media #{$tablet-large-media}
      display: none

  &__tick-list-header
    @media #{$tablet-large-media}
      max-width: 392px

    @media #{$phone-media}
      max-width: none

  &__tick-list_advantages
    margin-top: 25px

    @media #{$tablet-large-media}
      margin-top: 0

    @media #{$tablet-media}
      margin-bottom: 45px
      &:first-child
        margin-top: 10px

    @media #{$phone-media}
      margin-bottom: get-vw(40px)

    .tick-list__item
      min-height: 93px
      line-height: 1.72
      font-size: 1.8rem
      max-width: 446px

      @media #{$tablet-media}
        max-width: 600px
        min-height: auto

      @media #{$phone-media}
        font-size: get-vw(13px)
        line-height: 1.54

      &:before
        top: 5px

      &:not(:last-child)
        margin-bottom: 36px

        @media #{$tablet-media}
          margin-bottom: 25px

  &-content
    padding-top: 5px
    padding-bottom: 100px

    @media #{$tablet-large-media}
      padding-bottom: 0
      padding-top: 0

    &_padding-medium
      padding-bottom: 70px

  &-section
    padding-top: 80px
    padding-bottom: 100px

    @media #{$tablet-large-media}
      padding-top: 50px

    @media #{$tablet-media}
      padding-bottom: 60px

    @media #{$phone-media}
      padding-top: get-vw(40px)
      padding-bottom: get-vw(40px)

    &_padding-bottom_medium
      padding-bottom: 50px

    &_padding-xlarge
      padding-top: 100px
      padding-bottom: 100px

    &_padding-large
      padding-top: 100px

      @media #{$tablet-media}
        padding-top: 60px
        padding-bottom: 80px

      @media #{$phone-media}
        padding-top: get-vw(30px)
        padding-bottom: get-vw(63px)

    &_padding-medium
      padding-top: 60px

    &_no-top-padding
      padding-top: 0

    &_no-bottom-padding
      padding-bottom: 0

    &_padding-zero
      padding: 0

    &_space-t
      &_80
        padding-top: 80px

        @media #{$tablet-media}
          padding-top: 50px

        @media #{$phone-media}
          padding-top: get-vw(30px)

    &_space-b
      &_80
        padding-bottom: 80px

        @media #{$tablet-media}
          padding-bottom: 50px

        @media #{$phone-media}
          padding-bottom: get-vw(30px)

    &_statistics
      padding-top: 62px
      padding-bottom: 0

      @media #{$phone-media}
        padding-top: get-vw(25px)

    &_padding-small
      padding-top: 20px
      padding-bottom: 0

      @media #{$tablet-large-media}
        padding-bottom: 60px
        padding-top: 10px

      @media #{$phone-media}
        padding-top: get-vw(40px)
        padding-bottom: get-vw(40px)

    &_with-border
      border-bottom: 1px solid rgba(#a1a1a1, 0.3)

      @media #{$phone-media}
        border-bottom-width: get-vw(1px)

    &_border-top_danger
      border-top: 5px solid $lipstick

      @media #{$tablet-large-media}
        border-top-width: 4px

    &_statistics
      @media #{$tablet-large-media}
        border-bottom: none
        padding-bottom: 70px

      @media #{$tablet-media}
        padding-bottom: 30px

      @media #{$phone-media}
        padding-bottom: 0

    &_differences
      @media #{$tablet-large-media}
        padding-top: 80px
        padding-bottom: 60px

      @media #{$tablet-media}
        padding-top: 60px
        padding-bottom: 15px

      @media #{$phone-media}
        padding-top: get-vw(40px)
        padding-bottom: 0

    &_danger
      @media #{$tablet-large-media}
        padding-top: 60px !important
        padding-bottom: 60px

      @media #{$phone-media}
        padding-bottom: get-vw(40px)
        padding-top: get-vw(40px) !important

    &__header
      color: $light-navy
      font-size: 40px
      font-weight: 600
      line-height: 1.48
      margin-bottom: 25px
      max-width: 580px
      margin-top: 0

      @media #{$tablet-large-media}
        max-width: none
        margin-bottom: 40px

      @media #{$tablet-media}
        margin-bottom: 25px

      @media #{$phone-media}
        font-size: get-vw(26px)
        line-height: 1.19
        margin-bottom: get-vw(20px)

      &_full-width
        max-width: none
        margin-bottom: 35px

        @media #{$phone-media}
          margin-bottom: get-vw(20px)

      &_underlined
        border-bottom: 1px solid rgba(#a1a1a1, 0.3)

      &_small
        @media #{$phone-media}
          font-size: get-vw(23px)
          line-height: 1.35
    &__text
      line-height: 1.57
      font-weight: 300
      font-size: 2.3rem
      margin: 0

      @media #{$tablet-large-media}
        font-size: 2.3rem
        line-height: 1.57

      @media #{$phone-media}
        font-size: get-vw(17px)
        line-height: 1.59

  &-statistics
    display: flex
    margin-top: 55px

    @media #{$tablet-large-media}
      margin-top: 35px

    @media #{$phone-media}
      margin-top: get-vw(15px)
      flex-direction: column

    &-block
      padding: 5px 40px 40px 40px
      width: 399px
      flex-shrink: 0
      box-sizing: border-box

      &:not(:last-child)
        border-right: 1px solid rgba(#a1a1a1, 0.3)

        @media #{$phone-media}
          border-right: none
          border-bottom: get-vw(1px) solid rgba(#a1a1a1, 0.3)
          margin-bottom: get-vw(30px)


      @media #{$tablet-large-media}
        padding-left: 40px
        padding-right: 40px
        width: 300px
        //padding-left: 15px
        //padding-right: 15px
        //width: 245px

      @media #{$tablet-media}
        padding-left: 20px
        padding-right: 20px
        width: 250px

      &:first-child
        @media #{$tablet-media}
          padding-left: 0

      &:last-child
        @media #{$tablet-media}
          padding-right: 0

      @media #{$phone-media}
        width: 100%
        padding: 0 0 get-vw(30px)

        &:last-child
          padding-bottom: 0

      &__label
        color: #464646
        font-size: 1.7rem
        line-height: 1.59
        margin-top: 10px
        max-width: 220px

        @media #{$phone-media}
          margin-top: get-vw(2px)
          max-width: none
          font-size: get-vw(17px)

      &__value
        color: $lipstick
        font-size: 61px

        @media #{$phone-media}
          font-size: get-vw(61px)

        span
          font-size: 31px
          font-weight: 600

          @media #{$phone-media}
            font-size: get-vw(35px)

  &-section-layout
    &_narrow-column
      display: block
      max-width: 447px

      @media #{$tablet-large-media}
        max-width: 480px

      @media #{$phone-media}
        max-width: none

    &_two-columns
      display: flex

      @media #{$tablet-media}
        flex-direction: column

      & > *
        &:first-child
          width: 505px
          margin-right: 100px
          flex-shrink: 0
          box-sizing: border-box

          @media #{$tablet-large-media}
            width: 465px
            margin-right: 30px

          @media #{$tablet-media}
            width: 100%
            margin-right: 0
            margin-bottom: 25px

            &.dashed-list
              margin-bottom: 11px

          @media #{$phone-media}
            &.dashed-list
              margin-bottom: get-vw(11px)


        &:last-child
          padding-right: 85px

          @media #{$tablet-large-media}
            padding-right: 0

    &_indent-r
      &_small
        margin-right: 55px !important

    &_indent-b
      &_small
        @media #{$phone-media}
          margin-bottom: get-vw(15px) !important


  &__dashed-list
    margin-top: 10px

    @media #{$phone-media}
      margin-top: get-vw(5px)

  &__large-news-card
    @media #{$tablet-large-media}
      padding: 0

    @media #{$phone-media}
      padding: get-vw(40px) 0