.services-boxes
  padding: 47px 0 0 0

  @media #{$phone-media}
    padding-top: 0
    padding-bottom: get-vw(30px)

  &__container
    @media #{$phone-media}
      width: 100vw

.service-search-input
  width: 100%
  position: relative

  &__input
    width: 100%
    border: none
    background: white
    height: 60px
    box-sizing: border-box
    padding: 20px 57px 20px 20px
    outline: none
    font-size: 1.7rem

    @media #{$phone-media}
      height: get-vw(48px)
      padding: get-vw(13px) get-vw(59px) get-vw(14px) get-vw(20px)
      font-size: get-vw(17px)

  &:after
    display: block
    width: 29px
    height: 29px
    position: absolute
    right: 30px
    top: 16px
    content: ''
    background: url(./../images/icons/search.svg) no-repeat center
    background-size: contain
    opacity: 0.56

    @media #{$phone-media}
      width: get-vw(24px)
      height: get-vw(27px)
      right: get-vw(10px)
      top: get-vw(11px)

.services-box
  box-shadow: 0 2px 4px 0 rgba(86, 86, 86, 0.08)
  background: white
  user-select: none

  @media #{$phone-media}
    box-shadow: none

  &-content
    background: white
    max-height: 0
    overflow: hidden
    transition: 0.5s ease max-height

    @media #{$phone-media}
      div:last-child div:last-child:after
        display: none

  &:not(:last-child)
    margin-bottom: 16px

    @media #{$phone-media}
      margin-bottom: 0
      border-bottom: get-vw(1px) solid rgba(#a1a1a1, 0.3)

  &-column
    width: 280px

    @media #{$tablet-large-media}
      width: 260px

    &:not(:last-child)
      margin-right: 100px

      @media #{$tablet-large-media}
        margin-right: 50px

      @media #{$tablet-media}
        margin-right: 0

    @media #{$tablet-media}
      flex-shrink: 0
      width: 100%

      &:not(:last-child):not(.services-box-column_list-only)
        margin-bottom: 30px

    @media #{$phone-media}
      padding: get-vw(30px) 0
      position: relative
      margin-bottom: 0

      &:last-child:not(:nth-child(2))
        margin-top: 0

      &:not(:last-child)
        margin-right: 0
        margin-bottom: 0

      &:not(:last-child):not(.services-box-column_list-only)
        margin-bottom: 0

      &:after
        display: block
        content: ''
        position: absolute
        left: 0
        bottom: 0
        height: get-vw(1px)
        width: 100%
        background: rgba(#a1a1a1, 0.3)

    &_list-only
      @media #{$phone-media}
        padding: 0

        &:not(:last-child)
          padding: 0 0 get-vw(10px)

        &:first-child
          padding-top: get-vw(30px)

        &:last-child
          padding-bottom: get-vw(30px)

        &:after
          display: none

    @media #{$phone-media}
      width: 100%

    &_width
      &_full
        width: auto

    &__content-group
      &:not(:last-child)
        margin-bottom: 30px

    &__header
      margin-top: 0
      margin-bottom: 29px
      font-size: 2.4rem
      font-weight: 600

      @media #{$tablet-media}
        margin-bottom: 20px

      @media #{$phone-media}
        font-size: get-vw(20px)
        margin-bottom: get-vw(14px)

      &_size
        &_small
          font-size: 2rem
          line-height: 1.5
          margin-bottom: 19px
          max-width: 475px

          @media #{$phone-media}
            max-width: unset
            font-size: get-vw(18px)
            margin-bottom: get-vw(15px)


        &_xsmall
          font-size: 2rem
          line-height: 1.5
          margin-bottom: 19px
          max-width: 475px

          @media #{$phone-media}
            max-width: unset
            font-size: get-vw(15px)
            margin-bottom: get-vw(20px)

    &__dashed-list
      margin-top: 15px

      @media #{$phone-media}
        margin-top: get-vw(15px)

  &-list
    list-style: none
    padding: 0
    margin: 0

    &__item, &__link
      font-size: 1.7rem
      line-height: 1.59
      color: #464646
      text-decoration: none
      transition: color $animation-easing

      &:not(:last-child)
        margin-bottom: 10px

      @media #{$animation-media}
        &:hover
          color: $light-navy

      @media #{$tablet-media}
        margin-bottom: 10px

      @media #{$phone-media}
        margin-bottom: 0
        font-size: get-vw(17px)

        &:not(:last-child)
          margin-bottom: get-vw(10px)

  &-row
    padding: 45px 30px 41px 39px
    display: flex
    justify-content: flex-start

    &:not(:last-child)
      border-bottom: 1px solid rgba(#a1a1a1, 0.3)

    @media #{$tablet-media}
      flex-direction: column
      flex-wrap: wrap
      align-items: flex-start

    @media #{$phone-media}
      max-height: none
      padding: 0 get-vw(20px)

      &:not(:last-child)
        border-bottom: none

    &_space-v
      &_small
        padding-top: 31px
        padding-bottom: 44px

    &_height
      &_auto
        max-height: none
        height: auto

    &_space-h
      &_large
        padding-left: 55px
        padding-right: 55px

    &_no-wrap
      flex-wrap: nowrap
      flex-direction: row

      @media #{$phone-media}
        flex-direction: column
        flex-wrap: wrap

    &_standalone
      padding: 34px 0 0 0
      flex-direction: column
      flex-wrap: wrap
      max-height: 310px

      @media #{$tablet-media}
        max-height: 500px

      @media #{$phone-media}
        max-height: none
        padding: get-vw(34px) get-vw(20px) 0 get-vw(20px)

      .services-box-list__link
        font-size: 1.8rem
        line-height: 1.67
        width: 270px
        margin-right: 70px
        flex-shrink: 0
        margin-bottom: 13px

        @media #{$phone-media}
          width: auto
          font-size: get-vw(18px)
          margin-right: 0
          margin-bottom: get-vw(13px)

  &__header
    display: block
    background: white
    padding: 34px 124px 38px 29px
    font-size: 2.8rem
    font-weight: 600
    margin: 0
    border-bottom: 1px solid rgba(#a1a1a1, 0)
    transition: border-bottom-color $animation-easing, box-shadow $animation-easing
    position: relative
    cursor: pointer
    box-shadow: none

    @media #{$tablet-large-media}
      padding-right: 60px


    @media #{$phone-media}
      padding: get-vw(20px) get-vw(60px) get-vw(25px) get-vw(20px)
      font-size: get-vw(20px)

    &_size
      &_small
        font-size: 2.4rem

        @media #{$phone-media}
          font-size: get-vw(20px)

      &_xsmall
        font-size: 2.4rem

        @media #{$phone-media}
          font-size: get-vw(18px)
          padding-right: get-vw(64px)

    &:after
      content: ''
      display: block
      position: absolute
      top: 50%
      right: 30px
      width: 34px
      height: 34px
      background: url("./../images/icons/arrow-up.svg")
      transform: translateY(-50%) rotate(-180deg)
      transition: transform $animation-easing

      @media #{$phone-media}
        width: get-vw(24px)
        height: get-vw(24px)
        right: get-vw(14px)

  &_expanded
    .services-box__header
      background: white
      border-bottom-color: rgba(#a1a1a1, 0.3)
      box-shadow: 0 2px 4px 0 rgba(74, 74, 74, 0.08)

      @media #{$phone-media}
        border-bottom-width: get-vw(1px)

      &:after
        transform: translateY(-50%) rotate(0)

  &__paragraph
    margin: 0
    max-width: 740px
    color: $greish-brown
    font-size: 1.8rem
    line-height: 1.72

    &_indent-t
      &_default
        margin-top: 20px

    &_indent-b
      &_default
        margin-bottom: 20px

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54