.services-tabs
  background: white

  @media #{$phone-media}
    background: $pale-gray

  &-list
    list-style: none
    display: flex
    padding: 0
    justify-content: space-between
    margin: 0

    &__item
      padding: 28px 20px
      display: flex
      border-bottom: white 3px solid

      @media #{$tablet-media}
        &:not(:last-child)
          margin-right: 20px

      @media #{$phone-media}
        display: none
        padding: get-vw(20px) 0
        border-bottom: none

      &_active
        border-bottom-color: $light-navy

        @media #{$phone-media}
          display: flex

        .services-tabs-list__link
          color: $light-navy

        .services-tabs-list__icon

          svg path
            stroke: $light-navy

    &__link
      display: flex
      font-size: 1.6rem
      font-weight: 600
      align-items: center
      max-width: 252px
      cursor: pointer
      text-decoration: none
      color: $dark

      @media #{$phone-media}
        font-size: get-vw(16px)
        max-width: none

    &__icon
      width: 57px
      height: 57px
      display: block
      flex-shrink: 0
      margin-right: 21px
      background: center no-repeat
      background-size: contain

      svg path
        stroke: rgba(#d8d8d8, 0.9)

      @media #{$tablet-media}
        display: none

      @media #{$phone-media}
        display: block
        width: get-vw(57px)
        height: get-vw(57px)
        margin-right: get-vw(18px)


.services-tab
  display: none
  padding-bottom: 94px

  @media #{$phone-media}
    padding-bottom: 0

  &_small-padding
    padding-bottom: 71px

    @media #{$tablet-media}
      padding-bottom: 30px

  &_visible
    display: block