.filters
  display: flex
  width: 100%
  background: white
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)

  & > div
    &:not(:last-of-type)
      border-right: 1px rgba(#a1a1a1, 0.3) solid

      @media #{$phone-media}
        border-right: none
        border-bottom: get-vw(1px) rgba(#a1a1a1, 0.3) solid

  @media #{$phone-media}
    flex-direction: column

.filter
  padding: 12px 38px 12px 24px
  box-sizing: border-box
  height: 72px
  position: relative
  z-index: 2
  user-select: none
  background: white
  transition: z-index 0.5s step-end

  @media #{$phone-media}
    box-sizing: border-box
    height: get-vw(73px)
    padding: get-vw(12px) get-vw(14px) get-vw(10px) get-vw(20px)

  &-inner
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    cursor: pointer

  &-dropdown
    position: absolute
    width: 100%
    box-shadow: 0 13px 19px 4px rgba(86, 86, 86, 0.08)
    border-top: solid rgba(#979797, 0.2) 1px
    background-color: white
    box-sizing: border-box
    padding-bottom: 10px
    transform: translateY(100%)
    left: 0
    bottom: 0

    @media #{$phone-media}
      padding-bottom: get-vw(10px)
      box-shadow: 0 get-vw(13px) get-vw(18px) get-vw(4px) rgba(86, 86, 86, 0.08)

    &-inner
      max-height: 270px

      @media #{$phone-media}
        max-height: get-vw(270px)

    .rcs-inner-handle
      width: 5px
      background-color: $light-navy !important
      border-radius: 0 !important

      @media #{$phone-media}
        width: get-vw(5px)

    &-animation
      &-enter
        opacity: 0
        &-active
          opacity: 1
          transition: opacity 0.3s ease

      &-exit
        opacity: 0
        transition: opacity 0.3s ease

    &__input
      border: 0
      width: 100%
      font-size: 1.5rem
      line-height: 1.53
      padding: 10px 24px 12px 24px
      box-sizing: border-box
      outline: none
      border-bottom: solid rgba(#979797, 0.2) 1px

      @media #{$phone-media}
        font-size: get-vw(15px)
        border-bottom-width: get-vw(1px)
        padding: get-vw(10px) get-vw(24px) get-vw(12px) get-vw(20px)


    &__item
      margin: 0 24px
      padding: 10px 0
      font-size: 1.5rem
      line-height: 1.53
      color: $brownish-gray
      cursor: pointer

      @media #{$animation-media}
        transition: color $animation-easing

      @media #{$phone-media}
        margin: 0 get-vw(20px)
        font-size: get-vw(15px)
        padding: get-vw(10px) 0

      &:hover
        color: $light-navy

      &:not(:last-child)
        border-bottom: solid rgba(#979797, 0.2) 1px

        @media #{$phone-media}
          border-bottom-width: get-vw(1px)


  &_specialization
    flex-basis: 580px

    @media #{$tablet-large-media}
      flex-basis: 451px

    @media #{$tablet-media}
      flex-basis: 280px

    @media #{$phone-media}
      flex-basis: get-vw(65px)

  &_day
    flex-basis: 311px

    @media #{$tablet-media}
      flex-basis: 235px

      .day-of-week
        display: none

    @media #{$phone-media}
      flex-basis: get-vw(65px)

      .day-of-week
        display: inline-block


  &_time
    flex-basis: 270px

    @media #{$tablet-large-media}
      flex-basis: 195px

    @media #{$phone-media}
      flex-basis: get-vw(65px)

  &__title
    color: $brownish-gray
    opacity: 0.9
    font-size: 1.3rem
    margin-bottom: 5px

    @media #{$phone-media}
      font-size: get-vw(13px)

  &__value
    font-size: 17px
    line-height: 1.59
    color: $greish-brown
    font-weight: bold

    @media #{$phone-media}
      font-size: get-vw(17px)

  &-controls
    display: flex
    flex-direction: column
    position: absolute
    right: 24px
    top: 50%
    transform: translateY(-50%)
    cursor: pointer
    opacity: 0.4

    @media #{$phone-media}
      right: get-vw(14px)

    &__control
      width: 24px
      height: 24px
      flex-shrink: 0

      svg
        width: 100%
        height: 100%

        polyline
          stroke: #a4a4a4
          transition: stroke 0.2s ease

      @media #{$phone-media}
        width: get-vw(24px)
        height: get-vw(24px)

  &_expanded
    position: relative
    z-index: 5
    transition: none

    .filter-controls__control svg polyline
      stroke: $light-navy
