// this media is only recognized by IE10 & IE11
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .doctor-data
    display: block
    padding-top: 100px

  .doctor-photo__image
    display: none

  .doctor-photo
    background-repeat: no-repeat
    background-size: cover
    background-position: top right

  .doctor-slots-items__next-label
    margin-top: 90px