.doctors-list
  margin-top: 30px
  display: flex
  flex-wrap: wrap

  @media #{$tablet-media}
    flex-direction: column

  &__doctor-slots
    margin-left: auto
    padding-right: 49px
    padding-left: 33px

    @media #{$tablet-media}
      padding-right: 33px
      margin-right: auto

    @media #{$phone-media}
      padding-left: get-vw(7px)
      padding-right: get-vw(7px)

  & > div
    &:nth-child(odd)
      margin-right: 40px

      @media #{$tablet-large-media}
        margin-right: 20px

      @media #{$tablet-media}
        margin-right: 0

.doctors-page
  padding-bottom: 135px

  @media #{$tablet-large-media}
    padding-bottom: 106px

  @media #{$tablet-media}
    padding-bottom: 82px

  @media #{$phone-media}
    padding-bottom: get-vw(60px)

  &__page-header
    margin-bottom: 27px

    @media #{$phone-media}
      margin-bottom: get-vw(21px)

  &__button
    margin: 29px auto 0 auto
    display: flex
    width: 270px

    @media #{$phone-media}
      margin-top: get-vw(60px)
      width: get-vw(230px)

.doctor
  display: flex
  padding-left: 272px
  position: relative
  height: 320px
  overflow: hidden
  box-sizing: border-box
  flex-direction: column
  padding-top: 52px
  padding-bottom: 32px

  @media #{$tablet-large-media}
    padding-left: 244px

  @media #{$tablet-media}
    padding-left: 0

  @media #{$phone-media}
    height: auto

  &_size
    &_small
      width: 560px
      padding-left: 235px

      @media #{$tablet-large-media}
        width: 470px
        padding-left: 160px

      @media #{$tablet-media}
        width: 100%
        padding-left: 235px
        padding-top: 30px
        padding-bottom: 30px

      @media #{$phone-media}
        width: get-vw(280px)
        padding: get-vw(15px) get-vw(20px) get-vw(26px) get-vw(20px)

  &, &-component
    &:not(:last-child):not(:nth-last-child(2))
      margin-bottom: 35px

    &:not(:last-child):nth-last-child(2)
      @media #{$tablet-media}
        margin-bottom: 35px

      @media #{$phone-media}
        margin-bottom: get-vw(20px)

  &__footer
    margin-top: auto

  &__button
    width: 167px

    @media #{$phone-media}
      width: 100%
      height: get-vw(45px)

  &-photo
    position: absolute
    left: -35px
    bottom: 0
    width: 250px
    height: 271px
    background-size: 0 0

    @media (min-width: $tablet-large-min-width)
      transition: width 0.5s ease, height 0.5s ease

    @media #{$tablet-large-media}
      width: 230px
      height: 230px
      left: -70px

    @media #{$tablet-media}
      left: -35px
      bottom: 0
      width: 250px
      height: 271px

    @media #{$phone-media}
      flex-shrink: 0
      width: get-vw(65px)
      height: get-vw(65px)
      border-radius: 50%
      background-color: $pale-gray
      overflow: hidden
      position: absolute
      top: 0
      left: get-vw(-5px)
      margin: 0

    &__image
      object-fit: contain
      width: 100%
      height: 100%
      object-position: bottom center

      @media #{$phone-media}
        width: get-vw(65px)
        height: get-vw(65px)
        object-position: center center
        margin-top: get-vw(7px)

  &_expanded
    .doctor-photo
    @media (min-width: $tablet-large-min-width)
      width: 290px
      height: 410px

  &-data
    display: flex
    align-items: center

    @media #{$phone-media}
      position: relative
      padding: 0
      min-height: auto
      border-bottom: none

  &-info
    @media #{$phone-media}
      margin-bottom: get-vw(22px)

    &__name
      font-weight: 600
      margin-top: 0
      margin-bottom: 16px
      width: 312px
      font-size: 2.4rem

      @media #{$tablet-large-media}
        width: 295px

      @media #{$tablet-media}
        width: 372px

      @media #{$phone-media}
        width: get-vw(135px)
        padding-left: get-vw(77px)
        font-size: get-vw(18px)
        margin-bottom: get-vw(14px)

      span
        display: block

      a
        text-decoration: none
        color: $dark

    &__description
      width: 255px
      font-size: 1.5rem
      line-height: 1.53

      @media #{$tablet-large-media}
        width: 285px

      @media #{$tablet-media}
        width: 372px

      @media #{$phone-media}
        font-size: get-vw(13px)
        line-height: 1.54
        color: $brownish-gray
        margin-top: get-vw(14px)
        width: 100%
        margin-bottom: 0


.doctor-slots
  padding-top: 26px
  position: relative
  padding-bottom: 26px

  @media #{$tablet-media}
    min-height: 250px
    padding-bottom: 20px

  @media #{$phone-media}
    min-height: get-vw(130px)
    padding-bottom: get-vw(35px)
    padding-top: get-vw(13px)

  &_text-only
    @media #{$tablet-media}
      align-items: center
      justify-content: center
      display: flex

    @media #{$phone-media}
      flex-direction: column
      justify-content: flex-start


    .doctor-slots-items
      width: 422px
      flex-shrink: 0
      align-items: center
      justify-content: center
      height: 100%
      flex-direction: column

      @media #{$tablet-large-media}
        width: 343px

      @media #{$tablet-media}
        width: 632px

      @media #{$phone-media}
        width: get-vw(264px)
        margin-top: auto
        margin-bottom: auto


  &-controls
    @media #{$phone-media}
      display: flex
      justify-content: space-between
      padding-bottom: get-vw(16px)
      width: 100%
      align-self: flex-start

    &__header
      display: none

      @media #{$phone-media}
        display: block
        font-size: get-vw(16px)
        line-height: 1.44
        color: $greish-brown
        font-weight: bold

    &__control
      width: 24px
      height: 24px
      position: absolute
      cursor: pointer
      top: 50%
      transform: translateY(50%)

      svg
        width: 100%
        height: 100%
        object-fit: contain

        path
          stroke: #a4a4a4
          transition: stroke $animation-easing

      @media #{$animation-media}
        &:hover svg path
          stroke: $light-navy

      @media #{$phone-media}
        position: relative
        top: 0
        width: get-vw(24px)
        height: get-vw(24px)
        transform: none

      &_previous
        left: 0
        transform: scaleX(-1)

      &_next
        right: 16px

        @media #{$tablet-media}
          right: 0

  &__expand
    font-size: 1.5rem
    display: flex
    justify-content: center
    align-items: center
    height: 94px
    padding-top: 54px
    box-sizing: border-box
    padding-bottom: 22px
    width: calc(100% - 49px - 33px)
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff)
    position: absolute
    bottom: 0

    @media #{$tablet-media}
      width: 632px

    @media #{$phone-media}
      width: get-vw(266px)
      font-size: get-vw(15px)
      height: get-vw(86px)
      padding-top: get-vw(54px)
      padding-bottom: get-vw(12px)

    span
      cursor: pointer
      position: relative
      display: block
      transition: color $animation-easing


      svg
        display: inline-block
        vertical-align: middle
        position: relative
        content: ''
        width: 24px
        height: 12px
        object-fit: contain
        transform: scaleY(-1)
        margin-left: 3px
        transition: transform 0.5s ease

        polyline
          stroke: $brownish-gray
          transition: stroke $animation-easing

        @media #{$phone-media}
          width: get-vw(12px)
          height: get-vw(12px)
          margin-left: get-vw(3px)

      &:hover
        @media #{$animation-media}
          color: $light-navy

          svg polyline
            stroke: $light-navy

    &_expanded
      span svg
        transform: scaleY(1)

  &-items
    display: flex
    justify-content: flex-start
    overflow: hidden
    position: relative
    max-height: 250px
    box-sizing: border-box

    @media #{$tablet-media}
      max-height: 235px

    @media #{$phone-media}
      max-height: get-vw(162px)

    &_expandable
      transition: max-height 0.5s ease
      padding-bottom: 60px

      @media #{$tablet-media}
        padding-bottom: 50px

      @media #{$phone-media}
        padding-bottom: get-vw(30px)

    &__next
      &-label
        font-size: 1.7rem
        line-height: 1.59
        color: #464646
        margin-bottom: 6px

        @media #{$phone-media}
          font-size: get-vw(13px)

        a
          color: #464646
          text-decoration: none

  &__arrowed-link
    font-size: 1.6rem
    font-weight: 600

    @media #{$phone-media}
      font-size: get-vw(11px)

  &-column
    text-align: center
    width: 78px

    @media #{$tablet-large-media}
      width: 63px

    @media #{$tablet-media}
      width: 116px

    @media #{$phone-media}
      width: get-vw(49px)

    &:not(:last-child)
      margin-right: 8px

      @media #{$tablet-large-media}
        margin-right: 7px

      @media #{$tablet-media}
        margin-right: 13px

      @media #{$phone-media}
        margin-right: get-vw(5px)

    &__date
      font-weight: bold
      font-size: 1.3rem
      line-height: 1.77
      margin-bottom: 4px
      color: $greish-brown

      @media #{$phone-media}
        display: none

    &__day
      color: $brownish-gray
      font-size: 1.1rem
      margin-bottom: 10px

      @media #{$phone-media}
        display: none

    &__slot
      height: 30px
      border: 1px rgba(#979797, 0.3) solid
      font-size: 1.4rem
      display: flex
      align-items: center

      justify-content: center
      line-height: 1.64
      box-sizing: border-box
      cursor: pointer
      transition: color $animation-easing, background-color $animation-easing, border-color $animation-easing

      &:not(&_empty):not(&_no-hover):hover
        @media #{$animation-media}
          background: $light-navy
          border-color: $light-navy
          color: white

      @media #{$phone-media}
        font-size: get-vw(14px)
        height: get-vw(30px)

      &_empty
        border-color: transparent
        cursor: default

        &:after
          display: block
          position: relative
          content: ''
          width: 21px
          height: 1px
          background: #979797

      &:not(:last-child)
        margin-bottom: 8px

        @media #{$phone-media}
          margin-bottom: get-vw(8px)