.homepage-blog
  background: $pale-gray
  padding: 83px 0 100px 0

  @media #{$tablet-large-media}
    padding-top: 45px
    padding-bottom: 50px

  @media #{$phone-media}
    padding-top: get-vw(33px)
    padding-bottom: get-vw(49px)

  &__section-header
    margin-bottom: 43px

    @media #{$phone-media}
      margin-bottom: get-vw(30px)
      line-height: 1.12

  &-article
    display: flex
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08)
    background-color: #ffffff
    overflow: hidden
    position: relative
    text-decoration: none
    transition: transform 0.35s ease, box-shadow 0.35s ease

    @media #{$tablet-large-media}
      height: 359px

    @media #{$tablet-media}
      height: 364px

    @media #{$phone-media}
      flex-direction: column
      height: auto
      padding-bottom: get-vw(22px)

    &:hover
      @media #{$animation-media}
        transform: translateY(-4px)
        box-shadow: 0 15px 24px 0 rgba(0,0,0,.16)


    &_reversed
      flex-direction: row-reverse

      @media #{$phone-media}
        flex-direction: column

      .homepage-blog-article__content
        padding-left: 53px

        @media #{$tablet-large-media}
          padding-left: 35px
          padding-right: 35px

        @media #{$tablet-media}
          padding-right: 24px

    &__content
      padding: 51px 75px 39px 47px

      @media #{$tablet-large-media}
        padding: 34px 40px 39px 40px

      @media #{$tablet-media}
        padding-right: 20px
        padding-left: 33px

      @media #{$phone-media}
        order: 1
        padding: get-vw(24px) get-vw(17px) 0 get-vw(19px)

    &__header
      font-size: 2.8rem
      font-weight: 600
      margin-bottom: 19px
      margin-top: 0
      color: $dark

      @media #{$phone-media}
        font-size: get-vw(18px)
        margin-bottom: get-vw(10px)

    &__description
      font-size: 1.7rem
      line-height: 1.59
      color: #464646

      @media #{$tablet-media}
        max-height: 135px
        overflow: hidden
        text-overflow: ellipsis

      @media #{$phone-media}
        font-size: get-vw(13px)
        line-height: 1.54
        max-height: none

    &__image
      width: 657px
      height: 359px
      object-fit: cover
      flex-shrink: 0

      @media #{$tablet-large-media}
        width: 546px
        height: 360px


      @media #{$tablet-media}
        width: 350px
        height: 365px

      @media #{$phone-media}
        order: 0
        width: get-vw(280px)
        height: get-vw(234px)

    &__arrowed-link
      font-size: 1.6rem
      font-weight: 600
      position: absolute
      bottom: 39px

      @media #{$tablet-large-media}
        bottom: 35px

      @media #{$phone-media}
        position: relative
        bottom: unset
        order: 2
        margin-top: get-vw(28px)
        font-size: get-vw(16px)

    &__button
      display: flex
      max-width: 270px
      margin: 35px auto 0 auto

      @media #{$tablet-media}
        margin-top: 75px

      @media #{$phone-media}
        margin-top: get-vw(20px)
        max-width: none
        width: get-vw(230px)
        padding-left: 0
        padding-right: 0
    &__tag
      line-height: 1.38
      font-size: 1.6rem
      color: $light-navy

      &_indent-b
        &_normal
          margin-bottom: 11px

  .homepage-blog-article, .homepage-blog-article-animation-container
    &:not(:last-of-type)
      margin-bottom: 62px

      @media #{$tablet-media}
        margin-bottom: 35px

      @media #{$phone-media}
        margin-bottom: get-vw(20px)