.homepage-doctors
  background: $pale-gray
  text-align: center
  padding-top: 90px
  padding-bottom: 476px
  position: relative
  overflow: hidden

  @media #{$tablet-large-media}
    padding-bottom: 455px

  @media #{$tablet-media}
    padding-bottom: 385px

  @media #{$phone-media}
    padding-top: get-vw(67px)
    padding-bottom: get-vw(308px)

  &:before
    display: block
    content: ''
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    width: 1286px
    height: 421px
    background: url('./../images/homepage/team.png') no-repeat center
    background-size: contain
    z-index: 1

    @media #{$tablet-large-media}
      width: 1125px
      height: 405px

    @media #{$tablet-media}
      height: 311px
      width: 868px

    @media #{$phone-media}
      width: get-vw(720px)
      height: get-vw(257px)

  &:after
    width: 966px
    height: 966px
    background: white
    border-radius: 50%
    content: ''
    display: block
    position: absolute
    bottom: -50%
    transform: translate(-50%, 20%)
    left: 50%
    z-index: 0

    @media #{$tablet-media}
      width: 868px
      height: 868px
      transform: translate(-50%, 23%)

    @media #{$phone-media}
       width: get-vw(600px)
       height: get-vw(600px)
       transform: translate(-50%, 14%)

  &__description
    font-size: 2.2rem
    line-height: 1.59
    color: #4b4e5a
    max-width: 677px
    margin: 0 auto
    padding-top: 10px

    @media #{$phone-media}
      padding-top: get-vw(14px)
      font-size: get-vw(17px)
      line-height: 1.53
      width: get-vw(281px)

  &__container
    z-index: 1
    position: relative

  &__button
    margin-top: 36px
    width: 230px

    @media #{$phone-media}
      margin-top: get-vw(23px)
      width: get-vw(230px)