.jumbotron-slider
  background: $pale-gray

  height: 1290px
  box-sizing: border-box
  padding-top: 210px

  @media #{$tablet-large-media}
    height: 1200px

  @media #{$tablet-media}
    padding-top: 65px
    height: 920px
    overflow: hidden
    background: rgb(248, 248, 250)

  @media #{$phone-media}
    padding-top: get-vw(30px)
    height: get-vw(700px)

  position: relative

  &-slides
    position: relative

  &__container
    position: absolute
    left: 0
    top: 0
    z-index: 2
    opacity: 1
    transition: opacity 0.5s ease

    &_hidden
      opacity: 0
      z-index: 1

    &_no-transition
      transition: none

  &__title
    font-weight: 600
    font-size: 5.9rem
    color: $light-navy
    max-width: 708px
    margin: 0 0 35px 0
    padding: 0

    @media #{$phone-media}
      font-size: get-vw(30px)
      line-height: 1.33
      margin-bottom: get-vw(15px)

  &__description
    opacity: 0.89
    font-size: 2rem
    line-height: 1.6
    max-width: 490px

    @media #{$phone-media}
      max-width: none
      font-size: get-vw(17px)
      line-height: 1.59

  &__dots
    margin-top: 20px
    display: flex
    position: relative
    z-index: 3
    padding-top: 285px

    @media #{$phone-media}
      margin-top: get-vw(20px)
      padding-top: get-vw(200px)

  &__dot
    width: 9px
    height: 9px
    background: $very-light-pink
    border-radius: 50%
    opacity: 0.6
    cursor: pointer
    transition: opacity $animation-easing, background-color $animation-easing

    @media #{$phone-media}
      width: get-vw(9px)
      height: get-vw(9px)

    &:not(:last-child)
      margin-right: 10px

      @media #{$phone-media}
        margin-right: get-vw(10px)

    &_active
      opacity: 1
      background: $light-navy

  &__image
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: -20px
    left: 0
    background-size: cover
    z-index: 0
    opacity: 1
    transition: opacity 0.5s ease

    &-element
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background: url('./../images/homepage/jumbotron-01.png') center no-repeat
      background-size: cover


    &_hidden
      opacity: 0
      z-index: -1

    @media #{$tablet-large-media}
      top: -70px

    @media #{$tablet-media}
      .jumbotron-slider__image-element
        background-image: url('./../images/homepage/jumbotron-01-mobile.png')
        background-size: 100%

      top: 200px

    @media #{$phone-media}
      .jumbotron-slider__image-element
        background-size: cover
        background-position-x: 80%


      width: get-vw(320px)
      height: get-vw(532px)
      top: get-vw(170px)
      transform: none !important