.homepage-map
  height: 421px

  @media #{$phone-media}
    height: get-vw(421px)

  [class*="ymaps-2"][class*="-ground-pane"]
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale") // Firefox 3.5+
    -webkit-filter: grayscale(100%) // Chrome 19+ & Safari 6+
