.homepage-services
  background: $pale-gray

  &__container
    margin-top: -675px
    padding-bottom: 20px
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    @media #{$tablet-large-media}
      margin-top: -585px
      padding-bottom: 0

    @media #{$tablet-media}
      margin-top: -440px
      justify-content: flex-start
      flex-direction: column
      padding-bottom: 20px

    @media #{$phone-media}
      margin-top: get-vw(-230px)
      padding-bottom: 0

.homepage-service
  width: 560px
  height: 407px
  background: white
  padding: 40px
  box-sizing: border-box
  position: relative
  margin-bottom: 40px
  overflow: hidden

  @media #{$tablet-large-media}
    width: 465px
    height: 390px

  @media #{$tablet-media}
    width: 100%
    height: 310px
    margin-bottom: 15px

  @media #{$phone-media}
    padding: get-vw(19px)
    height: auto
    margin-bottom: get-vw(20px)
    border: none

  &:before
    display: block
    width: 260px
    height: 260px
    content: ''
    position: absolute
    right: -55px
    bottom: 30px
    background: right center no-repeat
    z-index: 0
    background-size: contain

    @media #{$tablet-large-media}
      width: 190px
      height: 190px
      right: -45px

    @media #{$tablet-media}
      width: 200px
      height: 200px
      right: -40px
      bottom: 7px
      background-position-y: bottom

    @media #{$phone-media}
      background-size: cover
      top: unset
      right: unset
      bottom: unset
      left: get-vw(-5px)
      position: relative
      width: get-vw(93px)
      height: get-vw(93px)

  &_lab:before
    background-image: url('./../images/homepage/service-lab.svg')

  &_kids:before
    background-image: url('./../images/homepage/service-kids.svg')

  &_adults:before
    background-image: url('./../images/homepage/service-adults.svg')

  &_surgery:before
    background-image: url('./../images/homepage/service-surgery.svg')

  &__heading
    font-size: 2.4rem
    font-weight: 600
    max-width: 364px
    margin: 0 0 30px
    padding: 0
    position: relative
    z-index: 1

    &_narrow
      max-width: 264px

    @media #{$tablet-media}
      max-width: 522px
      margin-bottom: 20px

    @media #{$phone-media}
      font-size: get-vw(24px)
      max-width: unset
      margin-top: get-vw(16px)
      margin-bottom: get-vw(20px)

  &-list
    color: #595959
    font-size: 1.8rem
    list-style: none
    padding: 0
    margin: 0
    position: relative
    z-index: 1

    @media #{$tablet-media}
      display: flex
      flex-direction: column
      height: 105px
      flex-wrap: wrap

    @media #{$phone-media}
      height: auto

    &__item
      display: flex
      align-items: flex-start
      max-width: 310px

      @media #{$tablet-media}
        max-width: none
        width: 310px

      @media #{$phone-media}
        width: auto
        font-size: get-vw(18px)

      &-bullet
        display: block
        width: 24px
        height: 24px
        background: url('./../images/homepage/service-bullet.svg') center no-repeat
        background-size: contain
        content: ''
        margin-right: 16px
        flex-shrink: 0

        svg
          width: 100%
          height: 100%
          object-position: center
          object-fit: contain

          path, use
            transition: stroke $animation-easing, fill $animation-easing

        @media #{$phone-media}
          width: get-vw(20px)
          height: get-vw(20px)
          margin-right: get-vw(16px)

      &:not(:last-child)
        margin-bottom: 10px

        @media #{$phone-media}
          margin-bottom: get-vw(10px)

      &:hover
        @media #{$animation-media}
          .homepage-service-list__item-bullet svg
            path
              stroke: white

            .circle
              fill: $light-navy
              stroke: $light-navy
    &__link
      text-decoration: none
      color: #595959
      transition: color $animation-easing

      &:hover
        @media #{$animation-media}
          color: $light-navy

  &__arrowed-link
    font-size: 1.9rem
    font-weight: 600
    position: absolute
    bottom: 35px
    display: flex
    align-items: center
    z-index: 1

    @media #{$phone-media}
      position: relative
      bottom: unset
      left: unset
      margin-top: get-vw(45px)
      font-size: get-vw(19px)