html
  font-size: 10px

body
  background: white
  font-family: 'ProximaNova', sans-serif
  -webkit-font-smoothing: antialiased
  margin: 0
  padding: 0
  color: $dark

.no-scroll
  overflow: hidden
  -webkit-overflow-scrolling: touch

.container
  width: 1160px
  margin: 0 auto

  &.container_gray
    background: $pale-gray

  @media #{$tablet-large-media}
    width: 960px

  @media #{$tablet-media}
    width: 700px

  @media #{$phone-media}
    width: get-vw(280px)

.page-underlay
  background: $pale-gray

.hidden-tablet-large
  @media #{$tablet-large-media}
    display: none

.mobile-ignore-container
  @media #{$phone-media}
    margin-left: get-vw(-20px)
    margin-right: get-vw(-20px)

.preload *
  -webkit-transition: none !important
  -moz-transition: none !important
  -ms-transition: none !important
  -o-transition: none !important
  transition: none !important
