@font-face
  font-family: 'ProximaNova'
  font-weight: bold
  font-style: normal
  src: url('./../fonts/Proxima/ProximaNova-Bold.woff2') format('woff2'),
  url('./../fonts/Proxima/ProximaNova-Bold.woff') format('woff')


@font-face
  font-family: 'ProximaNova'
  font-weight: 600
  font-style: normal
  src: url('./../fonts/Proxima/ProximaNova-Semibold.woff2') format('woff2'),
  url('./../fonts/Proxima/ProximaNova-Semibold.woff') format('woff')


@font-face
  font-family: 'ProximaNova'
  font-weight: 300
  font-style: normal
  src: url('./../fonts/Proxima/ProximaNova-Light.woff2') format('woff2'),
  url('./../fonts/Proxima/ProximaNova-Light.woff') format('woff')


@font-face
  font-family: 'ProximaNova'
  font-weight: normal
  font-style: normal
  src: url('./../fonts/Proxima/ProximaNova-Regular.woff2') format('woff2'),
  url('./../fonts/Proxima/ProximaNova-Regular.woff') format('woff')

