@keyframes fadeInDown
  from
    opacity: 0
    transform: translateY(-100px)

  to
    opacity: 1
    transform: translateY(0)

@keyframes fadeInUp
  from
    opacity: 0
    transform: translateY(100px)

  to
    opacity: 1
    transform: translateY(0)

@keyframes fadeInUpLong
  from
    opacity: 0
    transform: translateY(150px)

  to
    opacity: 1
    transform: translateY(0)

@keyframes fadeInUpLonger
  from
    opacity: 0
    transform: translateY(170px)

  to
    opacity: 1
    transform: translateY(0)

@keyframes fade
  from
    opacity: 0

  to
    opacity: 1