.section-header
  font-size: 4rem
  font-weight: 600
  line-height: 1.48
  margin: 0

  &_color
    &_light-navy
      color: $light-navy

  @media #{$phone-media}
    font-size: get-vw(26px)
    line-height: 1.46

.page-header
  display: block
  color: $light-navy
  font-size: 5.6rem
  font-weight: 600
  margin-top: 35px
  margin-bottom: 0

  @media #{$tablet-media}
    margin-top: 5px

  @media #{$phone-media}
    margin-top: 0
    font-size: get-vw(30px)