%section.reviews.reviews_doctor-page
  .reviews-header.animation-waypoint
    %h3.reviews-header__header
      Отзывы
      %span клиентов
    %a.button.button_white.reviews-header__button{:href => '#', 'data-popup' =>'doctor-review-popup'}
      %span Оставить отзыв

  .reviews__wrapper
    = react_component("Review/Comment", {date: "19.10.2018", name: "Антон", doctor: "Бочкарева Ольга Сергеевна",
    text: "Наблюдаюсь у Ольги Сергеевны Бочкаревой несколько лет, и хочу написать самые добрые слова. Большое спасибо за профессионализм,Наблюдаюсь у Ольги Сергеевны Бочкаревой несколько лет, и хочу написать самые добрые слова. Большое спасибо за профессионализм,Наблюдаюсь у Ольги Сергеевны Бочкаревой несколько лет, и хочу написать самые добрые слова. Большое спасибо за профессионализм, чуткость и внимание. За то, что можете успокоить и помочь, войти в положение, и в непростой ситуации найти-собрать всех нужных специалистов и продлить на несколько часов свой рабочий день. Огромное Вам спасибо, была на приеме вчера - да, все было профессионально, спокойно, уверенно, на отлично)))",
    }, {class: "reviews-review-component animation-waypoint"})


    = react_component("Review/Comment", {date: "10.10.2018", name: "Элина", doctor: "Бочкарева Ольга Сергеевна",
      text: "Лучшая беременность в надежных руках, огромная благодарность, квалифицированный,
            спокойный (учитывая психозы беременных), компетентный врач.",
      }, {class: "reviews-review-component animation-waypoint"})

    = react_component("Review/Comment", {date: "5.06.2018", name: "Татьяна Смирнова", doctor: "Бочкарева Ольга Сергеевна",
      text: "Спасибо большое Ольге Сергеевне за профессионально выполненные процедуры и отличный результат. Делала чистку и биоревитализацию лица и осталась очень довольна! Это врач, которому можно доверять. После био не осталось ни синячка. Кожа наполняется и сияет. Благодарю, что делаете нас красивее!",
      }, {class: "reviews-review-component animation-waypoint"})

    = react_component("Review/Comment", {date: "15.09.2018", name: "Антон", doctor: "Бочкарева Ольга Сергеевна",
      text: "Наблюдаюсь у Ольги Сергеевны Бочкаревой несколько лет, и хочу написать самые добрые слова. Большое спасибо за профессионализм, чуткость и внимание. За то, что можете успокоить и помочь, войти в положение, и в непростой ситуации найти-собрать всех нужных специалистов и продлить на несколько часов свой рабочий день. Огромное Вам спасибо, была на приеме вчера - да, все было профессионально, спокойно, уверенно, на отлично)))",
      }, {class: "reviews-review-component animation-waypoint"})



  %span.reviews-button-animation-container.animation-waypoint
    %a.button.button_large.reviews__button{:href => '#'} Еще 20 отзывов

= render :partial => '/shared/doctor_review'