.ask-question.ask-question_narrow.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Не нашли нужное направление?
    %p.ask-question__paragraph
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом