%footer.footer.animation-waypoint{:class => (@footerBorder ? 'footer_border-top' : '')}
  .container.footer__container
    %nav.footer-links
      .footer-links-block
        .footer-links-block__title Направления
        %a.footer-links-block__link{:href => services_adults_path} Взрослая клиника
        %a.footer-links-block__link{:href => '#'} Детская клиника
        %a.footer-links-block__link{:href => services_diagnostics_path} Диагностика и анализы
        %a.footer-links-block__link{:href => services_surgery_path} Хирургический стационар
        %a.footer-links-block__link{:href => doctors_path} Врачи

      .footer-links-block
        .footer-links-block__title О компании
        %a.footer-links-block__link{:href =>  about_clients_path} Клиентам
        %a.footer-links-block__link{:href => about_partners_path} Партнерам
        %a.footer-links-block__link{:href => about_investors_path} Инвесторам
        %a.footer-links-block__link{:href => '#'} Соискателям
        %a.footer-links-block__link{:href => about_legal_path} Юридическая информация

      .footer-links-block
        .footer-links-block__title Еще
        %a.footer-links-block__link{:href => patients_notes_path} Памятки пациенту
        %a.footer-links-block__link{:href => '#'} Блог
        %a.footer-links-block__link{:href => '#'} Отзывы
        %a.footer-links-block__link{:href => '#'} Акции
        %a.footer-links-block__link{:href => '#'} Написать<br/>главному врачу

      .footer-links-block.footer-links-block_contacts{:itemscope => '', :itemtype => "http://schema.org/Organization"}
        .footer-links-block__title.footer-links-block__title_small
          %span{:itemprop => 'name'} Клиника Эксперт
          в Иркутске:

        %div.footer-links-block__contacts
          %a.footer-links-block__link.footer-links-block__link_contact{:href => 'tel:+73952505555', :itemprop => "telephone"} +7 (3952) 50-55-55
          %a.footer-links-block__link.footer-links-block__link_contact{:href => 'mailto:irc.mfc@mrtexpert.ru', :itemprop => "email"} irc.mfc@mrtexpert.ru

        .footer-links-block__socials.footer-links-block__socials_desktop
          .footer-links-block__title.footer-links-block__title_small.footer-links-block__title_socials Мы в соцсетях
          .footer-links-block__socials-links
            %a.footer-links-block__social.footer-links-block__social_facebook{:href => 'http://facebook.com'}
              = render partial: '/shared/inline-icons/socials-facebook.svg'
            %a.footer-links-block__social.footer-links-block__social_odnoklassniki{:href => 'http://ok.ru'}
              = render partial: '/shared/inline-icons/socials-ok.svg'
            %a.footer-links-block__social.footer-links-block__social_vk{:href => 'http://vk.com'}
              = render partial: '/shared/inline-icons/socials-vk.svg'
            %a.footer-links-block__social.footer-links-block__social_twitter{:href => 'http://twiiter.com'}
              = render partial: '/shared/inline-icons/socials-twitter.svg'
            %a.footer-links-block__social.footer-links-block__social_youtube{:href => 'http://youtube.com'}
              = render partial: '/shared/inline-icons/socials-youtube.svg'

      .footer-links-block__socials.footer-links-block__socials_mobile
        .footer-links-block__title.footer-links-block__title_small.footer-links-block__title_socials Мы в соцсетях
        .footer-links-block__socials-links
          %a.footer-links-block__social.footer-links-block__social_facebook{:href => 'http://facebook.com'}
            = render partial: '/shared/inline-icons/socials-facebook.svg'
          %a.footer-links-block__social.footer-links-block__social_odnoklassniki{:href => 'http://ok.ru'}
            = render partial: '/shared/inline-icons/socials-ok.svg'
          %a.footer-links-block__social.footer-links-block__social_vk{:href => 'http://vk.com'}
            = render partial: '/shared/inline-icons/socials-vk.svg'
          %a.footer-links-block__social.footer-links-block__social_twitter{:href => 'http://twiiter.com'}
            = render partial: '/shared/inline-icons/socials-twitter.svg'
          %a.footer-links-block__social.footer-links-block__social_youtube{:href => 'http://youtube.com'}
            = render partial: '/shared/inline-icons/socials-youtube.svg'

    %nav.footer-copyrights
      .footer-copyright
        © Группа компаний «Эксперт»,
        %span
          2006-#{Time.current.year}
      .footer-copyright
        %a.footer-copyright_redis{:href => 'http://red-is.ru'} Redis
        — создание сайта