%nav.navigation.animation-waypoint
  .navigation-top-row.navigation-container.preload
    %div
      .navigation-city-selector{'data-popup' => 'city-select-popup'}
        Иркутск
        = render :partial => '/shared/inline-icons/arrow-down.svg'
    .navigation-links
      = react_component "MobileSearch/MobileSearch", {}, {class: 'mobile-search-component'}
      %a.navigation-links__link.navigation-links__link_phone{:href => 'tel:+7(3952)50-55-55'}
        = render :partial => '/shared/inline-icons/phone.svg'
        %span +7 (3952) 50-55-55

      = react_component "AddressesTooltip/AddressesTooltip"

      %a.navigation-links__link.navigation-links__link_user{:href => '#'}
        = render :partial => '/shared/inline-icons/user.svg'
        %span Личный кабинет

  .navigation-bottom-row.preload{:class => (@headerBorder ? 'navigation-bottom-row_border-bottom' : '')}
    .navigation-container
      %a.navigation-logo{:href => '/'}
      = react_component "NavigationSearch/NavigationSearch", {}, {:class => 'navigation-search-container'}
      .navigation-menu
        .navigation-hamburger.navigation-menu__navigation-hamburger
          .navigation-hamburger__icon
            = render :partial => '/shared/inline-icons/hamburger.svg'
          .navigation-hamburger__title Меню
        %a.button.navigation-menu__button{:href => '#'} Записаться
      %a.navigation-call
= render :partial => '/shared/layout/menu'