%nav.menu
  .container.menu__container
    .menu__close
    .menu-search
      %input.menu-search__input{:placeholder => 'Поиск по доктору, направлению или исследованию'}
    .menu-main-container
      .menu-column
        .menu-column__header.menu-column__header_lab
          %span Диагностические и лабораторные исследования

        %ul.menu-items
          %li.menu-items__item
            %a.menu-items__link{:href => '/services/mri'} МРТ
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Рентген
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} УЗИ
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} КТ
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Эндоскопия
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Анализы

      .menu-column
        .menu-column__header.menu-column__header_surgery
          %span Хирургический стационар

        %ul.menu-items
          %li.menu-items__item
            %a.menu-items__link{:href => services_page_path} Пластическая хирургия
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Общая хирургия
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Сердечно-сосудистая хирургия
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Урология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Гинекология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Травматология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Колопроктология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Нейрохирургия
          %li.menu-items__item.menu-items__item_more
            %a.arrowed-link.arrowed-link_blue.menu-items__arrowed-link{:href => '/services/surgery'}
              %span.arrowed-link__text Все направления
              %span.arrowed-link__arrow
                = render :partial => '/shared/inline-icons/arrow-right.svg'
      .menu-column
        .menu-column__header.menu-column__header_adults
          %span Поликлиника<br/>для&nbsp;взрослых

        %ul.menu-items
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Терапия
          %li.menu-items__item
            %a.menu-items__link{:href => '/services/cardiology'} Кардиология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Неврология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Гинекология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Хирургия
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Травмотология
          %li.menu-items__item.menu-items__item_more
            %a.arrowed-link.arrowed-link_blue.menu-items__arrowed-link{:href => '/services/adults'}
              %span.arrowed-link__text Все направления
              %span.arrowed-link__arrow
                = render :partial => '/shared/inline-icons/arrow-right.svg'

      .menu-column
        .menu-column__header.menu-column__header_kids
          %span Поликлиника<br/>для&nbsp;детей

        %ul.menu-items
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Педиатрия
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Гинекология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Неврология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Кардиология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Оториноларингология
          %li.menu-items__item
            %a.menu-items__link{:href => '#'} Травмотология
          %li.menu-items__item.menu-items__item_more
            %a.arrowed-link.arrowed-link_blue.menu-items__arrowed-link{:href => '/services/diagnostics'}
              %span.arrowed-link__text Все направления
              %span.arrowed-link__arrow
                = render :partial => '/shared/inline-icons/arrow-right.svg'

    .menu-additional-container
      .menu-column
        %ul.menu-items
          %li.menu-items__item.menu-items__item_additional
            %a.menu-items__link{:href => '/doctors'} Врачи
          %li.menu-items__item.menu-items__item_additional
            %a.menu-items__link{:href => '#'} Отзывы
          %li.menu-items__item.menu-items__item_additional
            %a.menu-items__link{:href => patients_notes_path} Памятки пациенту

      .menu-column
        %ul.menu-items
          %li.menu-items__item.menu-items__item_additional
            %a.menu-items__link{:href => '#'} Блог
          %li.menu-items__item.menu-items__item_additional
            %a.menu-items__link{:href => about_clients_path} О компании
          %li.menu-items__item.menu-items__item_additional
            %a.menu-items__link{:href => promos_path} Акции и новости

    .menu-addresses-container{'data-expandable' => 'menu-addresses-container_expanded', 'data-expandable-header' => 'menu-items__item', 'data-expandable-content'=>'menu-items'}
      .menu-column
        .menu-items__item.menu-items__item_additional.menu-items__item_expandable
          Адреса центров
        .menu-items.menu-items_addresses
          .address-tooltip__group
            .address-tooltip__header
              Центр на проезде Швейников
            %a.address-tooltip__info{href: '#'} +7 (4822) 65-65-10

            .address-tooltip__info пр. Швейников, д.1
            .address-tooltip__info пн-вс: с 07:00 до 23:00
            %a.address-tooltip__map{href: '#'}
              = render :partial => '/shared/inline-icons/pin.svg'
              Показать на карте

          .address-tooltip__group
            .address-tooltip__header
              Центр на проезде Швейников
            %a.address-tooltip__info{href: '#'} +7 (4822) 65-65-10

            .address-tooltip__info пр. Швейников, д.1
            .address-tooltip__info пн-вс: с 07:00 до 23:00
            %a.address-tooltip__map{href: '#'}
              = render :partial => '/shared/inline-icons/pin.svg'
              Показать на карте
