.doctor-info-sections
  padding-top: 66px
  padding-bottom: 82px
  width: 759px
  margin: 0 auto

  @media #{$tablet-large-media}
    padding-right: 37px

  @media #{$tablet-media}
    width: 702px
    padding-right: 0

  @media #{$phone-media}
    width: get-vw(280px)
    padding-bottom: get-vw(36px)
    padding-top: get-vw(25px)

.doctor-info-section
  &:not(:last-child)
    margin-bottom: 60px

    @media #{$phone-media}
      margin-bottom: get-vw(40px)

  &__header
    font-size: 24px
    font-weight: 600
    margin-bottom: 25px
    margin-top: 0

    @media #{$phone-media}
      margin-bottom: get-vw(17px)
      font-size: get-vw(20px)

  &-items
    margin: 0
    padding: 0 0 0 40px
    list-style: none
    font-size: 1.7rem
    line-height: 1.59
    color: #464646

    @media #{$phone-media}
      padding-left: get-vw(30px)
      font-size: get-vw(13px)
      line-height: 1.54

    &__item
      max-width: 670px
      position: relative

      @media #{$phone-media}
        max-width: get-vw(250px)

      &:not(:last-child)
        margin-bottom: 15px

        @media #{$phone-media}
          margin-bottom: get-vw(13px)

      &:before
        width: 16px
        height: 1px
        opacity: 0.5
        background: $greish-brown
        content: ''
        position: absolute
        display: block
        left: -40px
        top: 15px

        @media #{$phone-media}
          left: get-vw(-30px)
          top: get-vw(10px)
          height: get-vw(1px)
          width: get-vw(16px)

  &-services
    margin-top: 103px

    @media #{$phone-media}
      margin-top: 40px

    &__header
      font-size: 40px
      font-weight: 600
      line-height: 1.48
      color: $light-navy
      margin-bottom: 28px

      @media #{$phone-media}
        font-size: get-vw(26px)
        line-height: 1.19
        margin-bottom: get-vw(20px)

      @media #{$phone-media}
        font-size: get-vw(20px)

    &__container
      background: white

      @media #{$phone-media}
        border-top-width: get-vw(1px)
        border-bottom-width: get-vw(1px)

    &__row
      display: flex
      justify-content: space-between
      align-items: center
      padding: 20px 24px 20px 21px

      &:not(:last-child)
        border-bottom: 1px solid rgba(#a3a3a3, 0.4)

      @media #{$phone-media}
        padding: get-vw(13px) get-vw(13px) get-vw(13px) get-vw(10px)

      &_header
        font-weight: 600
        padding-top: 28px
        padding-bottom: 28px
        cursor: pointer
        border-bottom: solid 1px rgba(#a1a1a1, 0)
        transition: border-bottom-color $animation-easing

        @media #{$phone-media}
          padding-right: get-vw(13px)

        &:after
          display: block
          width: 34px
          height: 34px
          content: ''
          position: relative
          flex-shrink: 0
          background: url('./../images/icons/arrow-up.svg') center no-repeat
          background-size: contain
          transform: scaleY(-1)
          transition: transform $animation-easing

          @media #{$phone-media}
            width: get-vw(24px)
            height: get-vw(24px)

    &__group
      background: white
      box-shadow: 0 2px 4px 0 rgba(86, 86, 86, 0.08)
      user-select: none

      &:not(:last-child)
        margin-bottom: 27px

      .doctor-info-section-services__container
        max-height: 0
        overflow: hidden
        transition: 0.5s ease max-height

      &_expanded
        .doctor-info-section-services__row_header
          border-bottom-color: rgba(#a1a1a1, 0.4)
          &:after
              transform: scaleY(1)

      .doctor-info-section-services__container
        border-bottom-width: 0
        border-top-width: 0

    &__label
      width: 595px
      flex-shrink: 0
      font-size: 1.7rem
      line-height: 1.59
      color: #464646

      @media #{$tablet-media}
        width: 550px

      @media #{$phone-media}
        width: get-vw(180px)
        font-size: get-vw(13px)
        line-height: 1.54

      &_header
        font-size: 20px

        @media #{$phone-media}
          font-size: get-vw(20px)
          width: get-vw(200px)

    &__price
      width: 91px
      text-align: right
      font-size: 20px
      line-height: 1.4
      color: $greish-brown
      flex-shrink: 0
      white-space: nowrap

      @media #{$phone-media}
        width: get-vw(74px)
        font-size: get-vw(15px)
        line-height: 1.4