.doctor-jumbotron
  padding-bottom: 105px

  @media #{$tablet-large-media}
    padding-bottom: 55px

  @media #{$tablet-media}
    padding-bottom: 40px

  @media #{$phone-media}
    padding-bottom: 0
    border-top: 1px solid rgba(#a1a1a1, 0.3)

  &__container
    position: relative

    @media #{$phone-media}
      display: flex
      flex-direction: column

  &__info
    margin-bottom: 40px

    @media #{$phone-media}
      order: 1
      margin-bottom: 0

  &__description
    font-size: 17px
    line-height: 1.59
    color: #464646
    max-width: 482px
    margin-top: 0

    @media #{$tablet-media}
      max-width: 399px

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54
      max-width: get-vw(259px)

  &__photo
    width: 583px
    height: 635px
    position: absolute
    top: 27px
    right: 5px

    @media #{$tablet-large-media}
      right: -120px

    @media #{$tablet-media}
      right: -160px

    @media #{$phone-media}
      position: relative
      right: 0
      left: 0
      top: 0
      order: 2
      width: 100%
      height: get-vw(200px)
      object-fit: cover
      object-position: top center

  &-actions
    @media #{$phone-media}
      order: 3
      background: $pale-gray

      margin-left: get-vw(-20px)
      margin-right: get-vw(-20px)

      padding: get-vw(23px) get-vw(20px)
      align-items: center

      width: 100%

  .button__question
    margin-left: 21px

    @media #{$tablet-media}
      margin-left: 0
      margin-top: 18px

    @media #{$phone-media}
      margin-top: get-vw(12px)
