- @headerBorder = true
- @pageClass = 'cabinetPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.animation-waypoint.cabinet-page__page-jumbotron
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Мой кабинет

    .page-jumbotron__container
      %h2.page-jumbotron__header Мой кабинет


  .container
    = react_component "Tabs/CabinetTabs", props={active: 2}, html_options={class: 'tabs__wrapper cabinet-page__tabs'}

.page-underlay
  .container.cabinet-page__container-profile.animation-waypoint
    .cabinet-profile__header
      .cabinet-profile__name Фролов Константин Борисович
      .cabinet-profile__date Дата рождения: 21 июня 1981 года

    .cabinet-profile__form
      .input-group.cabinet-profile__input-group.preload
        .input-group__label Номер телефона
        = react_component "PhoneInput/PhoneInput"

      .input-group.cabinet-profile__input-group.preload
        .input-group__label Email
        %input.input-group__input

      .input-group.cabinet-profile__input-group.preload
        .input-group__label Пароль
        %input.input-group__input

      .input-group.cabinet-profile__input-group.preload
        .input-group__label Подтверждение пароля
        %input.input-group__input

    .cabinet-profile__actions.preload
      .button.button_large.cabinet-profile__button Сохранить изменения

.ask-question.ask-question_narrow.animation-waypoint.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Возникли вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом
