- @headerBorder = true
- @pageClass = 'cabinetPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.animation-waypoint.cabinet-page__page-jumbotron
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Мой кабинет

    .page-jumbotron__container
      %h2.page-jumbotron__header Мой кабинет


  .container
    = react_component "Tabs/CabinetTabs", props={active: 1}, html_options={class: 'tabs__wrapper cabinet-page__tabs'}

.page-underlay
  .container.cabinet-doctors__container
    .doctor.cabinet-doctors__doctor.animation-waypoint
      .doctor-data
        .doctor-photo{:style => "background-image: url('#{image_url 'doctors/doctor-01.png'}');"}
          %img.doctor-photo__image{:alt => "Шелест Петр Викторович", :src => image_url('doctors/doctor-01.png'), :srcset => "#{image_url('doctors/doctor-01@2x.png')} 2x, #{image_url('doctors/doctor-01@3x.png')} 3x"}
        .doctor-info
          %h3.doctor-info__name.doctor-info__name_size_small
            %a{:href => "/doctors/view"}
              %span Шелест
              %span Петр Викторович
          %p.doctor-info__description.doctor-info__description_size_small
            Врач-хирург, кандидат медицинских наук,  пластический хирург, организатор здравоохранения. Опыт работы 18 лет
      .cabinet-doctors__doctor-actions
        .cabinet-doctors__doctor-links
          %a.pt-icon-plus.cabinet-doctors__doctor-link{href: '#'}
            .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
              = render :partial => '/shared/inline-icons/messages.svg'
            .pt-icon-plus__block Оставить отзыв

          %a.pt-icon-plus.cabinet-doctors__doctor-link{href: '#'}
            .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
              = render :partial => '/shared/inline-icons/refresh.svg'
            .pt-icon-plus__block Подать заявку еще раз

    .doctor.cabinet-doctors__doctor.animation-waypoint
      .doctor-data
        .doctor-photo{:style => "background-image: url('#{image_url 'doctors/doctor-02.png'}');"}
          %img.doctor-photo__image{:alt => "Шелест Петр Викторович", :src => image_url('doctors/doctor-02.png'), :srcset => "#{image_url('doctors/doctor-02@2x.png')} 2x, #{image_url('doctors/doctor-02@3x.png')} 3x"}
        .doctor-info
          %h3.doctor-info__name
            %a{:href => "/doctors/view"}
              %span Коткова
              %span Елена Вениаминовна
          %p.doctor-info__description
            Врач-сердечно-сосудистый хирург, врач-хирург, врач узд, к.м.н. Опыт работы 9 лет.
      .cabinet-doctors__doctor-actions
        .cabinet-doctors__doctor-links
          %a.pt-icon-plus.cabinet-doctors__doctor-link{href: '#'}
            .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
              = render :partial => '/shared/inline-icons/messages.svg'
            .pt-icon-plus__block Оставить отзыв

          %a.pt-icon-plus.cabinet-doctors__doctor-link{href: '#'}
            .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
              = render :partial => '/shared/inline-icons/refresh.svg'
            .pt-icon-plus__block Подать заявку еще раз

    .doctor.cabinet-doctors__doctor.animation-waypoint
      .doctor-data
        .doctor-photo{:style => "background-image: url('#{image_url 'doctors/doctor-04.png'}');"}
          %img.doctor-photo__image{:alt => "Шелест Петр Викторович", :src => image_url('doctors/doctor-04.png'), :srcset => "#{image_url('doctors/doctor-04@2x.png')} 2x, #{image_url('doctors/doctor-04@3x.png')} 3x"}
        .doctor-info
          %h3.doctor-info__name.doctor-info__name_size_small
            %a{:href => "/doctors/view"}
              %span Бадыкова
              %span Ольга Ринатовна
          %p.doctor-info__description.doctor-info__description_size_small
            Врач-невролог, эпилептолог, врач мануальн. и рефлектотерапии. Опыт работы 20 лет.
      .cabinet-doctors__doctor-actions
        .cabinet-doctors__doctor-links
          %a.pt-icon-plus.cabinet-doctors__doctor-link{href: '#'}
            .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
              = render :partial => '/shared/inline-icons/messages.svg'
            .pt-icon-plus__block Оставить отзыв

        .cabinet-doctors__doctor-note Этот специалист сейчас не принимает, поэтому записаться к нему нельзя

.ask-question.ask-question_narrow.animation-waypoint.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Возникли вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом
