- @headerBorder = true
- @pageClass = 'cabinetPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.animation-waypoint.cabinet-page__page-jumbotron
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Мой кабинет

    .page-jumbotron__container
      %h2.page-jumbotron__header Мой кабинет


  .container
    = react_component "Tabs/CabinetTabs", props={active: 0}, html_options={class: 'tabs__wrapper cabinet-page__tabs'}

.page-underlay
  .container.cabinet-page__container
    .cabinet-page__section.cabinet-page__section_indent-b_normal
      %h3.cabinet-page__header.cabinet-page__header_indent-b_normal.animation-waypoint Запланированные посещения

      .cabinet-appointment.animation-waypoint
        .cabinet-appointment__header
          .pt-icon-plus.cabinet-appointment__doctor-photo
            .pt-icon-plus__icon
              %img{src: image_url("doctors/doctor-01.png")}

            .pt-icon-plus__block Шелест Петр Викторович

          .cabinet-appointment__header-actions
            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/close-circle.svg'
              .pt-icon-plus__block Отменить запись

        .cabinet-appointment__content
          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Первичный прием
            .cabinet-appointment__cell-price
              1 200
              %span ₽
            .cabinet-appointment__cell-paid
              Оплачено онлайн

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Дата и время
            .cabinet-appointment__cell-label Пятница, 24.10.2018, 13:30

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Клиника
            .cabinet-appointment__cell-label ул. Арсения Степанова, д.2а
            %a.map-link.cabinet-appointment__cell-map{href: '#'}
              = render :partial => '/shared/inline-icons/pin.svg'
              Показать на карте

    .cabinet-page__section.cabinet-page__section_indent-b_normal
      %div.cabinet-page__header-actions.cabinet-page__header-actions_indent-b_normal.animation-waypoint
        %h3.cabinet-page__header Прошлые посещения
        .buttons-tabs.cabinet-page__filter-tabs
          .buttons-tabs__tab.buttons-tabs__tab_active За весь год
          .buttons-tabs__tab За все время

      .cabinet-appointment.cabinet-appointment_indent-b_normal.animation-waypoint
        .cabinet-appointment__header
          .pt-icon-plus.cabinet-appointment__doctor-photo
            .pt-icon-plus__icon
              %img{src: image_url("doctors/doctor-04.png")}

            .pt-icon-plus__block Яшмолкина Любовь Сергеевна

          .cabinet-appointment__header-actions
            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/messages.svg'
              .pt-icon-plus__block Оставить отзыв

            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/refresh.svg'
              .pt-icon-plus__block Записаться еще раз

        .cabinet-appointment__content
          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Первичный прием
            .cabinet-appointment__cell-price
              1 200
              %span ₽
            .cabinet-appointment__cell-paid
              Оплачено онлайн

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Дата и время
            .cabinet-appointment__cell-label Пятница, 24.10.2018, 13:30

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Клиника
            .cabinet-appointment__cell-label ул. Арсения Степанова, д.2а
            %a.map-link.cabinet-appointment__cell-map{href: '#'}
              = render :partial => '/shared/inline-icons/pin.svg'
              Показать на карте

      .cabinet-appointment.cabinet-appointment_indent-b_normal.animation-waypoint
        .cabinet-appointment__header
          .pt-icon-plus.cabinet-appointment__doctor-photo
            .pt-icon-plus__block МРТ головного мозга в комплексе с магнитно-резонансной артериографией

          .cabinet-appointment__header-actions
            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/messages.svg'
              .pt-icon-plus__block Оставить отзыв

            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/refresh.svg'
              .pt-icon-plus__block Записаться еще раз

            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/file.svg'
              .pt-icon-plus__block Результаты

        .cabinet-appointment__content
          .cabinet-appointment__cell
            .cabinet-appointment__cell-price
              2 500
              %span ₽
            .cabinet-appointment__cell-paid
              Оплачено онлайн

            %div.cabinet-appointment__details-table-wrapper{'data-expandable' => 'cabinet-appointment__details-table_expanded', 'data-expandable-header'=>'cabinet-appointment__more', 'data-expandable-content' => 'cabinet-appointment__details-table'}
              .cabinet-appointment__details-table
                .cabinet-appointment__details-row
                  .cabinet-appointment__details-label
                    Копия данных на CD

                    .cabinet-appointment__cell-paid
                      Оплачено онлайн

                  .cabinet-appointment__details-price
                    500 ₽

                .cabinet-appointment__details-row
                  .cabinet-appointment__details-label
                    Консультация врача

                  .cabinet-appointment__details-price
                    Бесплатно
              .cabinet-appointment__more.preload
                Дополнительные услуги
                = render :partial => '/shared/inline-icons/arrow-down.svg'


          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Дата и время
            .cabinet-appointment__cell-label Пятница, 24.10.2018, 13:30

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Клиника
            .cabinet-appointment__cell-label ул. Арсения Степанова, д.2а
            %a.map-link.cabinet-appointment__cell-map{href: '#'}
              = render :partial => '/shared/inline-icons/pin.svg'
              Показать на карте

      .cabinet-appointment.cabinet-appointment_indent-b_normal.animation-waypoint
        .cabinet-appointment__header
          .pt-icon-plus.cabinet-appointment__doctor-photo
            .pt-icon-plus__block УЗИ поджелудочной железы

          .cabinet-appointment__header-actions
            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/messages.svg'
              .pt-icon-plus__block Оставить отзыв

            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/refresh.svg'
              .pt-icon-plus__block Записаться еще раз

            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/file.svg'
              .pt-icon-plus__block Результаты

        .cabinet-appointment__content
          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Первичный прием
            .cabinet-appointment__cell-price
              2 500
              %span ₽
            .cabinet-appointment__cell-paid
              Оплачено онлайн

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Дата и время
            .cabinet-appointment__cell-label Пятница, 24.10.2018, 13:30

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Клиника
            .cabinet-appointment__cell-label ул. Арсения Степанова, д.2а
            %a.map-link.cabinet-appointment__cell-map{href: '#'}
              = render :partial => '/shared/inline-icons/pin.svg'
              Показать на карте

      .cabinet-appointment.animation-waypoint
        .cabinet-appointment__header
          .pt-icon-plus.cabinet-appointment__doctor-photo
            .pt-icon-plus__icon
              %img{src: image_url("doctors/doctor-05.png")}

            .pt-icon-plus__block Ширинский Владислав Геннадьевич

          .cabinet-appointment__header-actions
            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/messages.svg'
              .pt-icon-plus__block Оставить отзыв

            .pt-icon-plus.cabinet-appointment__header-action
              .pt-icon-plus__icon.pt-icon-plus__icon_indent-r_normal
                = render :partial => '/shared/inline-icons/refresh.svg'
              .pt-icon-plus__block Записаться еще раз

        .cabinet-appointment__content
          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Первичный прием
            .cabinet-appointment__cell-price
              1 200
              %span ₽
            .cabinet-appointment__cell-paid
              Оплачено онлайн

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Дата и время
            .cabinet-appointment__cell-label Пятница, 24.10.2018, 13:30

          .cabinet-appointment__cell
            .cabinet-appointment__cell-header Клиника
            .cabinet-appointment__cell-label ул. Арсения Степанова, д.2а
            %a.map-link.cabinet-appointment__cell-map{href: '#'}
              = render :partial => '/shared/inline-icons/pin.svg'
              Показать на карте

    -#.cabinet-page__section_indent-b_small -- приписать данный класс для корректного отступа вниз
    .cabinet-page__section
      %h3.cabinet-page__header.cabinet-page__header_indent-b_normal.animation-waypoint Запланированные посещения


      .cabinet-no-appointments.animation-waypoint
        .cabinet-no-appointments__header Пока нет записей.
        .cabinet-no-appointments__text
          %a.cabinet-no-appointments__link{href: '#'} Посмотреть направления
          или
          %a.cabinet-no-appointments__link{href: '#'} врачей


  -# случай пустого профиля
  -#.container.cabinet-page__container.cabinet-page__container_space-t_large
  -#  .cabinet-no-appointments
  -#    .cabinet-no-appointments__header Пока нет записей.
  -#    .cabinet-no-appointments__text
  -#      %a.cabinet-no-appointments__link{href: '#'} Посмотреть направления
  -#      или
  -#      %a.cabinet-no-appointments__link{href: '#'} врачей

.ask-question.ask-question_narrow.animation-waypoint.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Возникли вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом