- @headerBorder = true
- @pageClass = 'cabinetPage'

.page-jumbotron.page-jumbotron_overflow-visible-mobile.animation-waypoint.cabinet-page__page-jumbotron
  .container
    %ul.breadcrumbs
      %li.breadcrumbs-item
        %a.breadcrumbs-item__link{:href => root_path} Главная

      %li.breadcrumbs-item
        %a.breadcrumbs-item__link Мой кабинет

    .page-jumbotron__container
      %h2.page-jumbotron__header Мой кабинет


  .container
    = react_component "Tabs/CabinetTabs", props={active: 3}, html_options={class: 'tabs__wrapper cabinet-page__tabs'}

.page-underlay
  .container.cabinet-offers__container
    .cabinet-offers__offers
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-01.png"),
          duration: "21 января 2019",
          title: "Варикоцеле и его влияние на мужское здоровье",
          newPrice: "8 750",
          oldPrice: "11 600",
          link: "#",
        }, {class: 'cabinet-offers__offer animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-02.png"),
          tag: "Для детей",
          title: "Счастливые часы в МРТ-Эксперт",
          link: "#",
        }, {class: 'cabinet-offers__offer animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-03.png"),
          duration: "до 30 декабря",
          title: "Пусть голова будет светлой!",
          newPrice: "7 990",
          oldPrice: "12 990",
          link: "#",
        }, {class: 'cabinet-offers__offer animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-04.png"),
          duration: "15 января 2019",
          newPrice: "8 750",
          oldPrice: "11 600",
          title: "Камни в почках: что нужно знать",
          link: "#",
        }, {class: 'cabinet-offers__offer animation-waypoint'})

      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-05.png"),
          duration: "18 февраля 2019",
          title: "Приступы тахикардии. В чем скрытая опасность?",
          newPrice: "8 750",
          oldPrice: "11 600",
          link: "#",
        }, {class: 'cabinet-offers__offer animation-waypoint'})
      = react_component("HomepageSlider/Slide", {image: image_url("blog/art-06.png"),
          duration: "1 сентября - 30 ноября",
          title: "Программа «Здоровая спина»",
          newPrice: "8 750",
          oldPrice: "11 600",
          link: "#",
        }, {class: 'cabinet-offers__offer animation-waypoint'})

    .cabinet-offers__button-wrapper
      .button.button_large.cabinet-offers__button.animation-waypoint Загрузить еще

.ask-question.ask-question_narrow.animation-waypoint.ask-question_with-bottom-border
  .container.ask-question__container
    %p.ask-question__header
      Возникли вопросы?
    %p.ask-question__paragraph.ask-question__paragraph_narrow
      Наш специалист подскажет какой врач сможет вам помочь
    %a.button.button_large.ask-question__button{:href => '#'} Чат со специалистом