.page-underlay.auth-page__page-underlay
  .auth-box.auth-box_space-h_normal.auth-box_space-t_normal.auth-box_space-b_normal
    %h3.auth-box__header.auth-box__header_align_center.auth-box__header_indent-b_normal
      Вход в личный кабинет

    .auth-box__form.preload
      .input-group.input-group_indent-b_default
        %label.input-group__label.input-group__label_indent-b_large Номер телефона
        = react_component "PhoneInput/PhoneInput", {className: 'input-group__input_size_large'}

      .input-group
        %label.input-group__label.input-group__label_indent-b_large.input-group__label_with-link
          Пароль
          %a.link.auth-box__form-link{href:'#'} Забыли пароль?
        %input.input-group__input.input-group__input_size_large{type: 'password'}

    .auth-box__controls.preload.auth-box__controls_indent-t_normal
      %a.button.button_large.auth-box__primary-button{href: user_login_url} Войти
      %a.link.auth-box__controls-link{href:user_signup_url} Зарегистрироваться