.page-underlay.auth-page__page-underlay
  .auth-box.auth-box_space-h_normal.auth-box_space-t_normal.auth-box_space-b_medium
    %h3.auth-box__header.auth-box__header_align_center.auth-box__header_indent-b_normal
      Придумайте новый пароль

    .auth-box__form.preload
      .input-group.input-group_indent-b_default
        %label.input-group__label.input-group__label_indent-b_large Новый пароль
        %input.input-group__input.input-group__input_size_large{type: 'password'}
      .input-group.input-group_indent-b_default
        %label.input-group__label.input-group__label_indent-b_large Повторите новый пароль
        %input.input-group__input.input-group__input_size_large{type: 'password'}


    .auth-box__controls.preload.auth-box__controls_indent-t_normal
      %a.button.button_large.auth-box__primary-button{href: user_reset_password_success_url} Сохранить