.page-underlay.auth-page__page-underlay.auth-page__page-underlay_space-v_large
  .auth-box.auth-box_space-h_small.auth-box_space-t_normal.auth-box_space-b_large.auth-box_height_auto
    %h3.auth-box__header.auth-box__header_align_center.auth-box__header_indent-b_small
      Ваш пароль успешно изменен

    .auth-box__message
      Сейчас мы перенаправим вас в личный кабинет