.page-underlay.auth-page__page-underlay
  .auth-box.auth-box_space-h_normal.auth-box_space-t_normal.auth-box_space-b_medium
    %h3.auth-box__header.auth-box__header_align_center.auth-box__header_indent-b_normal
      Восстановление пароля

    .auth-box__form.preload
      .input-group.input-group_indent-b_default
        %label.input-group__label.input-group__label_indent-b_large Номер телефона
        = react_component "PhoneInput/PhoneInput", {className: 'input-group__input_size_large'}
        .input-group__hint.input-group__hint_greyish-brown.auth-box__sms-hint На этот телефон мы вышлем код для восстановления пароля

    .auth-box__controls.preload
      %a.button.button_large.auth-box__primary-button{href: user_reset_password_sms_url} Продолжить