.page-underlay.auth-page__page-underlay
  .auth-box.auth-box_space-h_normal.auth-box_space-t_normal.auth-box_space-b_normal
    %h3.auth-box__header.auth-box__header_align_center.auth-box__header_indent-b_normal
      Регистрация

    .auth-box__form.preload
      .input-group
        %label.input-group__label.input-group__label_indent-b_large.input-group__label_with-link
          Код из смс
        %input.input-group__input.input-group__input_size_large
        %div.input-group__hint.auth-box__sms-hint.input-group__hint_greyish-brown
          Не пришло сообщение?

          %a.link.auth-box__resend-link{href: user_signup_sms_resent_url} Отправить пароль повторно

    .auth-box__controls.preload
      %a.button.button_large.auth-box__primary-button{href: user_signup_password_url} Подтвердить