.page-underlay.auth-page__page-underlay
  .auth-box.auth-box_space-h_normal.auth-box_space-t_normal.auth-box_space-b_normal
    %h3.auth-box__header.auth-box__header_align_center.auth-box__header_indent-b_normal
      Регистрация

    .auth-box__form.preload
      .input-group.input-group_indent-b_default
        %label.input-group__label.input-group__label_indent-b_large.input-group__label_with-link
          Новый пароль
        %input.input-group__input.input-group__input_size_large{type: 'password'}

      .input-group
        %label.input-group__label.input-group__label_indent-b_large.input-group__label_with-link
          Пароль еще раз
        %input.input-group__input.input-group__input_size_large{type: 'password'}


    .auth-box__controls.auth-box__controls_indent-t_medium.preload
      %a.button.button_large.auth-box__primary-button.auth-box__primary-button_m-size_100{href: user_signup_success_url} Зарегистрироваться