.page-underlay.auth-page__page-underlay
  .auth-box.auth-box_space-h_normal.auth-box_space-t_normal.auth-box_space-b_normal
    %h3.auth-box__header.auth-box__header_align_center.auth-box__header_indent-b_normal
      Регистрация

    .auth-box__form.preload
      .input-group.input-group_indent-b_default
        %label.input-group__label.input-group__label_indent-b_large Номер телефона
        = react_component "PhoneInput/PhoneInput", {className: 'input-group__input_size_large'}

      .input-group.input-group_indent-b_default
        %label.input-group__label.input-group__label_indent-b_large.input-group__label_with-link
          ФИО
        %input.input-group__input.input-group__input_size_large

      .input-group
        %label.input-group__label.input-group__label_checkbox
          %input.input-group__checkbox{type: 'checkbox'}
          .input-group__checkbox-state
          Выражаю согласие на обработку персональных данных в соответствии
          с условиями.

    .auth-box__controls.preload.auth-box__controls_indent-t_normal
      %a.button.button_large.auth-box__primary-button{href: user_signup_sms_url} Продолжить
      %a.link.auth-box__controls-link{href:user_signup_url} Войти