.page-underlay.auth-page__page-underlay
  .auth-box.auth-box_space-h_normal.auth-box_space-t_normal.auth-box_space-b_normal
    %h3.auth-box__header.auth-box__header_align_center.auth-box__header_indent-b_normal
      Регистрация

    .auth-box__form.preload
      .input-group
        %label.input-group__label.input-group__label_indent-b_large.input-group__label_with-link
          Код из смс
        %input.input-group__input.input-group__input_size_large
        %div.input-group__hint.auth-box__sms-hint.input-group__hint_greyish-brown
          Мы отправили код еще раз. Если он не пришел в течение 10 минут, пожалуйста,
          %a.link{href: '#'} напишите в чат
          или позвоните нам по номеру +7 (3952) 50-55-55.

    .auth-box__controls.preload
      %a.button.button_large.auth-box__primary-button{href: user_signup_password_url} Подтвердить