.blog-article
  &__container
    max-width: 960px
    box-sizing: border-box

    &_space-l
      &_default
        padding-left: 100px

        @media #{$tablet-media}
          padding-left: 0

  &__info
    display: flex
    margin-top: 31px
    margin-bottom: 35px

    @media #{$phone-media}
      flex-direction: column

      margin-top: get-vw(31px)
      margin-bottom: get-vw(35px)

  &__pt-icon-plus
    &:not(:last-child)
      margin-right: 45px

      @media #{$phone-media}
        margin-right: 0
        margin-bottom: get-vw(17px)

    &_author
      font-weight: 600

      .pt-icon-plus__icon
        background-image: url('./../images/icons/user.svg')


    &_date
      .pt-icon-plus__icon
        background-image: url('./../images/icons/calendar.svg')

    &_tag
      .pt-icon-plus__icon
        background-image: url('./../images/icons/tag.svg')

  &__image
    height: 500px
    width: 960px
    object-fit: cover
    object-position: 50% 50%

    @media #{$tablet-media}
      height: 365px
      width: 700px

    @media #{$phone-media}
      height: get-vw(167px)
      width: get-vw(320px)
      margin-left: get-vw(-20px)
      margin-right: get-vw(-20px)

    &_indent-t
      &_small
        margin-top: 55px

      &_normal
        margin-top: 70px

        @media #{$phone-media}
          margin-top: get-vw(30px)

    &_indent-b
      &_small
        margin-bottom: 55px

      &_normal
        margin-bottom: 70px

        @media #{$phone-media}
          margin-bottom: get-vw(30px)

  &__paragraph
    font-size: 2.3rem
    font-weight: 300
    line-height: 1.57
    color: $dark
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(17px)
      line-height: 1.59

    &_text-size
      &_small
        font-size: 1.8rem
        line-height: 1.72

        @media #{$phone-media}
          font-size: get-vw(14px)
          line-height: 1.64

    &_color
      &_greyish-brown
        color: $greish-brown

    &_indent-b
      &_normal
        margin-bottom: 15px

        @media #{$phone-media}
          margin-bottom: get-vw(15px)

      &_large
        margin-bottom: 60px

        @media #{$phone-media}
          margin-bottom: get-vw(30px)

    &_width
      &_xs
        max-width: 577px

      &_s
        max-width: 714px

      &_m
        max-width: 760px

      &_l
        max-width: 787px

      &_xl
        max-width: 818px

    @media #{$phone-media}
      max-width: none

  &__section
    &_indent-b
      &_normal
        margin-bottom: 60px

        @media #{$phone-media}
          margin-bottom: get-vw(30px)

    &_layout
      &_two-columns
        display: flex

        @media #{$phone-media}
          flex-direction: column

        & > div:first-child
          width: 560px
          flex-shrink: 0
          margin-right: 40px

          @media #{$tablet-media}
            width: 400px

          @media #{$phone-media}
            width: 100%

        & > div:nth-child(2)
          width: 260px
          flex-shrink: 0

          @media #{$phone-media}
            width: 100%
            margin-top: get-vw(30px)


  &__header
    font-size: 2.8rem
    font-weight: 600
    color: $dark
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(18px)

    &_indent-b
      &_normal
        margin-bottom: 17px

        @media #{$phone-media}
          margin-bottom: get-vw(17px)

  &__footer
    margin-top: 50px
    border-top: 1px solid rgba(#a3a3a3, 0.2)
    padding-top: 43px
    padding-bottom: 95px

    display: flex
    align-items: center
    justify-content: space-between

    @media #{$phone-media}
      flex-direction: column

      margin-top: get-vw(30px)
      margin-left: get-vw(-20px)
      margin-right: get-vw(-20px)

      justify-content: flex-start
      align-items: flex-start

      padding: get-vw(15px) get-vw(20px) get-vw(40px)

  &__author
    width: 53px
    height: 53px
    margin-right: 13px
    background: $pale-gray
    border-radius: 50%
    padding-top: 5px
    box-sizing: border-box
    overflow: hidden

    @media #{$phone-media}
      width: get-vw(53px)
      height: get-vw(53px)
      margin-right: get-vw(20px)
      padding-top: get-vw(5px)

    img
      object-fit: contain
      width: 100%
      height: 100%
      object-position: 50% 50%

  &__footer-pt-icon
    @media #{$phone-media}
      margin-bottom: get-vw(20px)

      .pt-icon-plus__block
        font-size: get-vw(13px)
        line-height: 1.54

  &__similar-section
    padding-top: 100px
    padding-bottom: 128px

    @media #{$phone-media}
      padding-top: get-vw(20px)
      padding-bottom: get-vw(40px)

  &__similar-wrapper
    margin-top: 44px
    display: flex

    @media #{$phone-media}
      flex-direction: column

    @media #{$phone-media}
      margin-top: get-vw(20px)

    .blog-article__similar-card:first-child .news-card
      margin-left: 0

    .blog-article__similar-card:last-child .news-card
      margin-right: 0

    .blog-article__similar-card:last-child
      @media #{$tablet-media}
        display: none

      @media #{$phone-media}
        display: block

  &__appointment
    padding-top: 65px
    padding-bottom: 150px
    border-top: 1px solid rgba(#a3a3a3, 0.2)

    @media #{$phone-media}
      padding-top: get-vw(22px)
      padding-bottom: get-vw(40px)

  &__appointment-header
    margin-bottom: 23px

    @media #{$phone-media}
      margin-bottom: get-vw(20px)

.blog-article-share
  display: flex

  @media #{$phone-media}
    justify-content: space-between
    width: 100%

  &__item
    width: 64px
    height: 64px
    display: flex
    cursor: pointer
    border: 1px solid rgba(#a3a3a3, 0.2)
    background-color: white
    box-sizing: border-box

    justify-content: center
    align-items: center

    @media #{$phone-media}
      width: get-vw(64px)
      height: get-vw(64px)
      border-width: get-vw(1px)

    &:not(:last-child)
      margin-right: 9px

      @media #{$phone-media}
        margin-right: 0

    &_vk svg
      width: 25px
      height: 14px

      @media #{$phone-media}
        width: get-vw(25px)
        height: get-vw(14px)

      path
        fill: $light-navy

    &_fb svg
      width: 10px
      height: 20px

      @media #{$phone-media}
        width: get-vw(10px)
        height: get-vw(20px)

      path
        fill: $light-navy

    &_twitter svg
      width: 19px
      height: 16px

      @media #{$phone-media}
        width: get-vw(19px)
        height: get-vw(16px)

      path
        fill: #0094ff


    &_ok svg
      width: 13px
      height: 21px

      @media #{$phone-media}
        width: get-vw(13px)
        height: get-vw(21px)

      path
        fill: #f58121