
.blog-author-info
  display: flex
  align-items: center

  @media #{$phone-media}
    flex-direction: column
    align-items: flex-start


  &_indent-v
    &_normal
      margin-top: 55px
      margin-bottom: 55px

      @media #{$phone-media}
        margin-top: get-vw(21px)
        margin-bottom: get-vw(35px)

  &__photo
    width: 118px
    height: 118px
    background: white
    border-radius: 50%
    overflow: hidden
    box-sizing: border-box
    padding-top: 5px
    flex-shrink: 0

    margin-right: 25px

    @media #{$phone-media}
      width: get-vw(65px)
      height: get-vw(65px)
      padding-top: get-vw(5px)

      margin-right: get-vw(12px)

    img
      width: 100%
      height: 100%
      object-fit: contain
      object-position: center center

  &__profile
    display: flex
    flex-direction: column

  &__name
    color: $light-navy
    font-size: 4rem
    line-height: 1.48
    font-weight: 600
    margin-bottom: 3px

    display: none

    &_desktop
      display: block

      @media #{$phone-media}
        display: none

    &_mobile
      @media #{$phone-media}
        display: block

    @media #{$phone-media}
      font-size: get-vw(23px)
      line-height: 1.35

      span
        display: block

  &__bio
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown
    max-width: 482px

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54
      max-width: none
      color: #6c6c6c

  &__mobile-header
    @media #{$phone-media}
      display: flex
      margin-bottom: get-vw(15px)

.blog-author
  &__articles
    display: flex
    flex-wrap: wrap

    .news-card
      margin: 0

    & > div
      margin-bottom: 40px

      @media #{$tablet-large-media}
        margin-bottom: 30px

      @media #{$tablet-media}
        margin-bottom: 50px

      @media #{$phone-media}
        margin-bottom: get-vw(20px)

      &:not(:nth-child(3n))
        margin-right: 40px

        @media #{$tablet-large-media}
          margin-right: 30px

        @media #{$tablet-media}
          margin-right: 0

      &:not(:nth-child(2n))
        @media #{$tablet-media}
          margin-right: 50px

        @media #{$phone-media}
          margin-right: 0

  &__button
    display: flex
    width: 270px
    margin: 10px auto 0

    @media #{$phone-media}
      margin-top: get-vw(20px)
      width: get-vw(280px)

  &__container
    padding-bottom: 85px

    @media #{$phone-media}
      padding-bottom: get-vw(40px)