.blog-articles-container
  .homepage-blog-article-animation-container
    &:not(:last-child)
      margin-bottom: 62px

      @media #{$phone-media}
        margin-bottom: get-vw(20px)

  .promos-container__more
    @media #{$phone-media}
      margin-top: get-vw(40px)
      padding-bottom: get-vw(40px)

