<svg viewBox="0 0 17 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M14.5815987,6.18765833 L1.37311833,6.18765833 C0.981916636,6.18765833 0.664785,5.8705267 0.664785,5.479325 C0.664785,5.0881233 0.981916636,4.77099167 1.37311833,4.77099167 L14.5815987,4.77099167 L11.5407994,1.7301923 C11.264178,1.45357093 11.264178,1.00507907 11.5407994,0.728457697 C11.8174207,0.451836323 12.2659126,0.451836323 12.542534,0.728457697 L16.792534,4.9784577 C17.0691553,5.25507907 17.0691553,5.70357093 16.792534,5.9801923 L12.542534,10.2301923 C12.2659126,10.5068137 11.8174207,10.5068137 11.5407994,10.2301923 C11.264178,9.95357093 11.264178,9.50507907 11.5407994,9.2284577 L14.5815987,6.18765833 Z" id="path-1" fill="#4A4A4A" fill-rule="nonzero"></path>
    </g>
</svg>