<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <g fill="none" fill-rule="evenodd" stroke="#4A4A4A">
        <circle cx="12" cy="12" r="11"/>
        <path d="M7.667 7.556l8.889 8.888M16.556 7.556l-8.89 8.888"/>
    </g>
</svg>
