<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23 22">
    <g fill="none" fill-rule="evenodd">
        <path d="M-1-1h24v24H-1z"/>
        <g stroke="#A4A4A4" stroke-width="2">
            <path d="M1.5 1.5l19.506 19.506M21.5 1L1.994 20.506"/>
        </g>
    </g>
</svg>
