<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <circle id="a" cx="12" cy="12" r="11"/>
    </defs>
    <g fill="none" fill-rule="evenodd">
        <mask id="b" fill="#fff">
            <use xlink:href="#a"/>
        </mask>
        <use stroke="#D8D8D8" fill="#FFF" xlink:href="#a" class="circle"/>
        <g mask="url(#b)" stroke="#14489A" stroke-linecap="round" stroke-linejoin="round">
            <path d="M10.556 8l4.447 4-4.447 4"/>
        </g>
    </g>
</svg>