<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: sketchtool 53.1 (72631) - https://sketchapp.com -->
    <title>C0CA3581-1D9D-4748-BECD-475975AEB2B5</title>
    <desc>Created with sketchtool.</desc>
    <g id="Symbols---icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icons/Stroke/search-big" stroke="#A4A4A4" stroke-width="2">
            <g id="Group-2" transform="translate(1.000000, 1.000000)">
                <path d="M8,16 C12.418278,16 16,12.418278 16,8 C16,3.581722 12.418278,0 8,0 C3.581722,0 0,3.581722 0,8 C0,12.418278 3.581722,16 8,16 Z M13.5,14.5 L19.3027877,21.3027877" id="Combined-Shape"></path>
            </g>
        </g>
    </g>
</svg>