<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <g fill="none" fill-rule="evenodd">
        <g stroke="#96BAFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
            <path d="M39.159 44.996L60.723 16.38a3.654 3.654 0 1 1 5.836 4.398l-12.6 16.826M35.953 57.632l-1.427 2.317c.533 1.182.845 2.05.935 2.605l-5.492 7.289c-.994 1.318-3.098 2.921-4.572 3.432-3.224 1.118-5.392.8-7.01.434l13.891-18.357"/>
            <path d="M29.787 57.035c-4.602-1.071-1.853-6.054-.69-9.116 1.269-3.345 1.79-7.288 3.13-12.2 1.338-4.911 3.01-6.029 8.84-8.795 5.832-2.766 13.223-7.786 16.487-6.385m7.475 3.885c2.679 1.688 6.378 3.747 11.987 6.113 3.297 1.391 6.344 2.291 9.141 2.822m3.49 24.273c-8.681 3.142-18.011 3.003-27.78-1.374-.735.408-1.83.576-2.669.547-.559-.02-1.236-.257-2.032-.711-1.692.292-2.586 1.83-2.684 4.612-.145 4.174-.262 7.512-4.714 7.243-1.116 3.758-5.452 4.634-6.301-.862-1.889.894-4.457 1.47-5.842-2.531-.923-2.668-1.524-4.858-1.805-6.572"/>
            <path d="M68.282 52.637c-.798-.253-1.978-.693-3.54-1.32-3.099-1.436-6.637-1.374-10.615.186-5.968 2.339-13.494 6.615-17.57 5.963-4.075-.65-6.035-3.63-3.938-7.105 2.097-3.476 13.852-8.69 21.34-12.396M43.064 67.286c2.213-2.039 2.623-5.635 1.23-10.789"/>
            <path d="M49.713 67.959c.876-2.198.598-5.087-.833-8.668.885-1.618 2.353-2.335 2.47-5.696M41.238 41.67c.11-3.155-1.926-6.27-2.82-7.41"/>
            <g opacity=".9">
                <path d="M18.065 14.019a47.255 47.255 0 0 1 28.99-11.87C73.224.776 95.552 20.88 96.924 47.051a47.24 47.24 0 0 1-7.45 28.12M85.91 80.014c-8.165 9.74-20.196 16.193-33.889 16.911C25.848 98.297 3.52 78.192 2.148 52.02c-.657-12.55 3.624-24.218 11.145-33.113"/>
            </g>
        </g>
    </g>
</svg>
