<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <g fill="none" fill-rule="evenodd">
        <g stroke="#96BAFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
            <path d="M55.538 67.566s.013.533.086 1.588a4.672 4.672 0 0 0 4.167 4.324l3.24.345a4.672 4.672 0 0 1 4.131 5.3l.047 4.317M46.394 67.566s-.013.533-.086 1.588a4.672 4.672 0 0 1-4.166 4.324l-3.24.345a4.671 4.671 0 0 0-4.132 5.3l-.047 4.317M64.775 44.93s-1.35-.115-3.892-1.455-4.875-3.902-4.875-3.902m-24.509 9.613s-3.97-5.424-3.589-10.124c.381-4.7 3.303-6.479 3.303-6.479m2.717-1.368c0-.124-.32-1.008-1.16-1.572-.875-.588-2.272-.856-2.272-.856s1.601-.86 2.745-.797c1.143.064 2.275.875 2.275.875M60.77 18.002s-6.316-3.187-14.461.532c-8.146 3.718-10.595 9.739-10.595 9.739m8.424 23.535a1.302 1.302 0 1 1-2.604 0 1.302 1.302 0 0 1 2.604 0m16.863 0a1.302 1.302 0 1 1-2.604 0 1.302 1.302 0 0 1 2.604 0m-11.8 6.2s.894 1.45 2.27 1.45c1.377 0 2.307-1.45 2.307-1.45s-1.562.371-2.288.371c-.725 0-2.288-.372-2.288-.372m1.764 10.146c12.512 0 16.493-12.364 16.493-12.364s3.133-.667 3.133-4.912c0-3.208-2.591-4.319-2.591-4.319s.548-.736.96-2.783c.41-2.048.214-3.157.214-3.157a3.06 3.06 0 0 0 2.411-4.001c-.804-2.365-2.031-5.59-3.585-8.492-2.892-5.4-9.267-7.82-9.267-7.82m-1.93 15.744s-.232 3.998-2.743 6.972c-2.511 2.973-7.054 3.029-7.054 3.029s1.565-1.032 1.735-2.368c.169-1.336-.38-2.883-.38-2.883s-1.524 1.779-5.42 2.88c-3.895 1.1-8.52-1.097-8.52-1.097s-.975-.816-1.61-.306c-.635.51.053 1.77.053 1.77l1.066 2.512s-2.591 1.111-2.591 4.319c0 4.245 3.133 4.912 3.133 4.912s3.98 12.364 16.493 12.364"/>
            <path d="M44.072 73.535c1.548 2.135 3.846 3.202 6.894 3.202s5.525-1.067 7.431-3.202"/>
            <g opacity=".9">
                <path d="M18.065 14.019a47.255 47.255 0 0 1 28.99-11.87C73.224.776 95.552 20.88 96.924 47.051a47.24 47.24 0 0 1-7.45 28.12M85.91 80.014c-8.165 9.74-20.196 16.193-33.889 16.911C25.848 98.297 3.52 78.192 2.148 52.02c-.657-12.55 3.624-24.218 11.145-33.113"/>
            </g>
        </g>
    </g>
</svg>
