<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <g fill="none" fill-rule="evenodd">
        <g stroke="#96BAFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="3">
            <path d="M44.861 44.862a1.34 1.34 0 0 1-1.345 1.333 1.34 1.34 0 0 1-1.345-1.333 1.34 1.34 0 0 1 1.345-1.334 1.34 1.34 0 0 1 1.345 1.334M58.958 44.862a1.34 1.34 0 0 1-1.345 1.333 1.34 1.34 0 0 1-1.345-1.333 1.34 1.34 0 0 1 1.345-1.334 1.34 1.34 0 0 1 1.345 1.334M46.206 55.364s1.623 1.486 4.126 1.486c2.502 0 4.193-1.486 4.193-1.486s-2.84.38-4.16.38c-1.318 0-4.16-.38-4.16-.38M37.322 20.896s-4.428 2.449-6.302 7.767c-1.603 4.553-.188 12.661.621 14.2M68.639 42.606s2.866-6.338 2.267-11.395c-.487-4.115-2.185-8.611-7.275-9.849"/>
            <path d="M61.055 19.262c-1.606-2.01-6.189-4.699-14.62-3.939-8.327.75-12.112 3.982-12.112 3.982s1.247.429 2.012.907c.765.478 1.214.89 1.214.89M59.698 30.36c-1.432.583-3.44.982-6.136 1.131-.27.015-.542.03-.825.041-.02 0-.044 0-.068.003-.303.007-.614.017-.93.019-.212.003-.43.005-.648.005-3.529 0-8.48-.422-11.224.608-2.744 1.03-3.766 2.982-4.295 4.945-.528 1.964-.676 5.494-.64 6.274-.912-.372-2.108-.248-2.776.149-.67.397-.994 1.235-.994 2.044 0 .215.023.43.077.644l1.443 5.733a1.551 1.551 0 0 0 1.496 1.158c.205 0 .403-.042.58-.115l.074 1.599a7.603 7.603 0 0 0 3.071 5.748l5.292 3.938a7.73 7.73 0 0 0 4.61 1.526h5.121a7.73 7.73 0 0 0 4.611-1.526l5.299-3.938a7.582 7.582 0 0 0 3.06-5.748l.077-1.6a1.54 1.54 0 0 0 2.077-1.043l1.443-5.732c.053-.214.085-.43.085-.644 0-1.166-1.16-2.44-1.923-2.52-.763-.078-1.605.369-1.605.369M66.02 43.295s-.719-7.772-4.56-10.165M78 74l-15.355-3.732A2.418 2.418 0 0 1 62 70m-24.381 0c-.3.275-.673.48-1.097.578L21.62 74"/>
            <path d="M62 61v10m-23 0V61m-1.678 9l13.044 13.92 12.168-13.55"/>
            <g opacity=".9">
                <path d="M18.065 14.019a47.255 47.255 0 0 1 28.99-11.87C73.224.776 95.552 20.88 96.924 47.051a47.24 47.24 0 0 1-7.45 28.12M85.91 80.014c-8.165 9.74-20.196 16.193-33.889 16.911C25.848 98.297 3.52 78.192 2.148 52.02c-.657-12.55 3.624-24.218 11.145-33.113"/>
            </g>
        </g>
    </g>
</svg>
