<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
    <g fill="none" fill-rule="evenodd">
        <g stroke="#96BAFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" opacity=".9">
            <path d="M18.065 14.019a47.255 47.255 0 0 1 28.99-11.87C73.224.776 95.552 20.88 96.924 47.051a47.24 47.24 0 0 1-7.45 28.12M85.91 80.014c-8.165 9.74-20.196 16.193-33.889 16.911C25.848 98.297 3.52 78.192 2.148 52.02c-.657-12.55 3.624-24.218 11.145-33.113"/>
            <g>
                <path d="M49.935 60.325a6.126 6.126 0 0 1-12.25 0 6.126 6.126 0 0 1 12.25 0z"/>
                <path d="M33.99 50.698c0-10.68 8.656-19.334 19.333-19.334 10.68 0 19.337 8.655 19.337 19.334 0 10.68-8.657 19.335-19.337 19.335M48.277 24.191c1.632-.245 3.35-.322 5.048-.322M42.146 26.28c.373-.18.63-.456 1.748-.904 1.118-.447 1.431-.481 2.19-.693M26.495 50.698c0-9.656 5.102-18.122 12.76-22.847M16.146 73.802h31.402M12.892 65.992H31.61a7.975 7.975 0 0 0-7.975-7.975H9.988"/>
            </g>
        </g>
    </g>
</svg>
