<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 25 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 53.1 (72631) - https://sketchapp.com -->
  <title>95728678-37D5-4C0A-9215-74821967C78B</title>
  <desc>Created with sketchtool.</desc>
  <g id="Symbols---icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Elements/social/01" transform="translate(-119.000000, -16.000000)">
      <g id="vk" transform="translate(110.000000, 0.000000)">
        <rect id="Rectangle" x="0" y="0" width="44" height="44"></rect>
        <path d="M22.7260375,29.9414845 C22.7260375,29.9414845 23.1772326,29.8922743 23.4083325,29.6486239 C23.6198685,29.4253778 23.6125319,29.0040907 23.6125319,29.0040907 C23.6125319,29.0040907 23.5844087,27.036884 24.5149221,26.746424 C25.4319853,26.4607649 26.6094945,28.6488172 27.8591459,29.4901912 C28.8031097,30.1263227 29.5196417,29.9870939 29.5196417,29.9870939 L32.8589745,29.9414845 C32.8589745,29.9414845 34.6050629,29.8358626 33.7772605,28.487984 C33.7087864,28.3775612 33.2942739,27.4905778 31.2950761,25.6686012 C29.2005037,23.7614069 29.4817364,24.0698707 32.0030489,20.7703886 C33.538824,18.7611732 34.152645,17.5345197 33.9606731,17.0100112 C33.7784832,16.5083075 32.6486614,16.6415351 32.6486614,16.6415351 L28.889925,16.6643398 C28.889925,16.6643398 28.6111378,16.6271321 28.4044929,16.7483571 C28.202739,16.8671817 28.0719046,17.144439 28.0719046,17.144439 C28.0719046,17.144439 27.4776477,18.6987603 26.6840823,20.0214338 C25.0101363,22.8108104 24.3412915,22.9584409 24.0673953,22.7856052 C23.4303421,22.3811216 23.5892997,21.1628697 23.5892997,20.2974908 C23.5892997,17.5933318 24.0074805,16.4662988 22.7761703,16.1746385 C22.3677715,16.0774184 22.0669748,16.0138053 21.0215227,16.0030031 C19.6801649,15.9898003 18.5454521,16.0078041 17.9022851,16.3162678 C17.4743222,16.5215102 17.1441795,16.980005 17.3459334,17.0064105 C17.5941518,17.0388172 18.1566173,17.1552413 18.4549685,17.5537236 C18.840135,18.0686301 18.8266848,19.2232688 18.8266848,19.2232688 C18.8266848,19.2232688 19.0480027,22.4063268 18.3094611,22.8012084 C17.8032423,23.0724645 17.1087197,22.5191501 15.6157408,19.9878268 C14.8515215,18.6915588 14.2743831,17.2584626 14.2743831,17.2584626 C14.2743831,17.2584626 14.1631127,16.9908073 13.9638043,16.8467775 C13.7229224,16.6727415 13.3866659,16.6187303 13.3866659,16.6187303 L9.81501039,16.6415351 C9.81501039,16.6415351 9.27822273,16.655938 9.08135983,16.8851854 C8.90650644,17.0880274 9.06790957,17.5093145 9.06790957,17.5093145 C9.06790957,17.5093145 11.864341,23.9318421 15.0312659,27.1689113 C17.9352994,30.1359247 21.2318359,29.9414845 21.2318359,29.9414845 L22.7260375,29.9414845 Z"
              id="Shape" fill="#000000"></path>
      </g>
    </g>
  </g>
</svg>