<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 19 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 53.1 (72631) - https://sketchapp.com -->
  <title>555C1AAE-38BF-4D90-B599-7F89A184C42C</title>
  <desc>Created with sketchtool.</desc>
  <g id="Symbols---icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Elements/social/01" transform="translate(-179.000000, -14.000000)" fill="#000000">
      <g id="twitter" transform="translate(165.000000, 0.000000)">
        <path d="M30.467688,16.5295392 C31.2587506,16.0303337 31.8657432,15.2387693 32.1506134,14.2958255 C31.4099509,14.7592084 30.5914969,15.0943233 29.7182603,15.2757475 C29.021424,14.489961 28.025474,14 26.9232455,14 C24.8086322,14 23.0950285,15.8084645 23.0950285,18.0387115 C23.0950285,18.3553373 23.1268024,18.663874 23.1925417,18.958544 C20.0107609,18.789831 17.1894504,17.1835909 15.2994463,14.7384082 C14.9696543,15.3369926 14.7812017,16.0303337 14.7812017,16.7698974 C14.7812017,18.1704463 15.4572206,19.4069045 16.4849445,20.1326015 C15.8571345,20.1118012 15.2665767,19.9280659 14.7494277,19.6276181 L14.7494277,19.6773075 C14.7494277,21.6348404 16.0685958,23.2676585 17.8227387,23.6374404 C17.5006163,23.732197 17.1631547,23.7795753 16.8125452,23.7795753 C16.566023,23.7795753 16.324979,23.7553084 16.0927002,23.7079301 C16.5791708,25.311859 17.9936609,26.4812942 19.6700123,26.5124946 C18.3585138,27.5964177 16.7073624,28.2412249 14.9137759,28.2412249 C14.6048013,28.2412249 14.2991137,28.2238914 14,28.1857576 C15.6949776,29.3309259 17.707695,30 19.8705171,30 C26.9155759,30 30.765706,23.8454427 30.765706,18.5078723 C30.765706,18.3322259 30.7635147,18.1577351 30.7558451,17.9855554 C31.5041772,17.4158602 32.154996,16.70403 32.6666667,15.8939766 C31.9796913,16.2152246 31.2412201,16.4324715 30.467688,16.5295392 Z"
              id="Shape"></path>
      </g>
    </g>
  </g>
</svg>