<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 10 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 53.1 (72631) - https://sketchapp.com -->
  <title>A00D58D1-503D-4742-8B3E-1AAE820AC8C7</title>
  <desc>Created with sketchtool.</desc>
  <g id="Symbols---icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Elements/social/01" transform="translate(-16.000000, -13.000000)" fill="#000000">
      <g id="facebook">
        <path d="M22.3606136,33 L18.1193407,33 L18.1193407,22.9987377 L16,22.9987377 L16,19.5526382 L18.1193407,19.5526382 L18.1193407,17.4837162 C18.1193407,14.6725574 19.3153978,13 22.7156728,13 L25.5457798,13 L25.5457798,16.4473618 L23.776963,16.4473618 C22.4532659,16.4473618 22.365797,16.9289321 22.365797,17.827695 L22.3599657,19.5526382 L25.5652174,19.5526382 L25.1900727,22.9987377 L22.3599657,22.9987377 L22.3599657,33 L22.3606136,33 Z"
              id="Shape"></path>
      </g>
    </g>
  </g>
</svg>