<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 20 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 53.1 (72631) - https://sketchapp.com -->
  <title>3946B392-779D-42EB-AF51-19ECAED358DE</title>
  <desc>Created with sketchtool.</desc>
  <g id="Symbols---icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Elements/social/01" transform="translate(-232.000000, -15.000000)">
      <g id="youtube-play" transform="translate(220.000000, 0.000000)">
        <rect id="Rectangle" x="0" y="0" width="44" height="44"></rect>
        <path d="M32,25.5641799 L32,18.4358201 C32,18.4358201 32,15 28.5533866,15 L15.4454374,15 C15.4454374,15 12,15 12,18.4358201 L12,25.5641799 C12,25.5641799 12,29 15.4454374,29 L28.5533866,29 C28.5533866,29 32,29 32,25.5641799 M25.8828786,22.009964 L19.3353716,25.8431717 L19.3353716,18.175584 L25.8828786,22.009964"
              id="Shape" fill="#000000"></path>
      </g>
    </g>
  </g>
</svg>