<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 13 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 53.1 (72631) - https://sketchapp.com -->
  <title>50689E17-E788-4C0F-A798-497F5E3FBC5F</title>
  <desc>Created with sketchtool.</desc>
  <g id="Symbols---icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Elements/social/01" transform="translate(-70.000000, -12.000000)">
      <g id="ok" transform="translate(55.000000, 0.000000)">
        <rect id="Rectangle" x="0" y="0" width="44" height="44"></rect>
        <path d="M21.1111336,15.1759526 C22.3573307,15.1759526 23.3710088,16.1820762 23.3710088,17.4193845 C23.3710088,18.6557201 22.3573307,19.6624922 21.1111336,19.6624922 C19.8659162,19.6624922 18.8512584,18.6557201 18.8512584,17.4193845 C18.8512584,16.1820762 19.8659162,15.1759526 21.1111336,15.1759526 L21.1111336,15.1759526 Z M21.1111336,22.8371479 C18.1011235,22.8371479 15.6531431,20.4069524 15.6531431,17.4193845 C15.6531431,14.430844 18.1011235,12 21.1111336,12 C24.1217968,12 26.569124,14.430844 26.569124,17.4193845 C26.569124,20.4069524 24.1217968,22.8371479 21.1111336,22.8371479 Z M23.3333707,27.2602641 L26.3845288,30.2899835 C27.0095867,30.9092861 27.0095867,31.9150855 26.3845288,32.5350367 C25.7601239,33.1549878 24.7480787,33.1549878 24.124327,32.5350367 L21.1244407,29.5578445 L18.1271669,32.5350367 C17.8146379,32.844688 17.4051172,32.9996758 16.9955964,32.9996758 C16.5867289,32.9996758 16.1778613,32.844688 15.8653323,32.5350367 C15.2409275,31.9150855 15.2409275,30.9099346 15.8646791,30.2899835 L18.9161638,27.2602641 C17.8051673,27.0089764 16.7336861,26.5718979 15.7467868,25.9571346 C14.9999176,25.4895774 14.775563,24.5100416 15.2461526,23.7678511 C15.7154359,23.024688 16.7023352,22.8009608 17.4505106,23.2685181 C19.6849132,24.6640567 22.563315,24.6643809 24.7990238,23.2685181 C25.5471993,22.8009608 26.533772,23.024688 27.004035,23.7678511 C27.4746246,24.5093931 27.2496168,25.4895774 26.5027477,25.9571346 C25.5158484,26.5725464 24.4443671,27.0089764 23.3333707,27.2602641 Z"
              id="Shape" fill="#000000"></path>
      </g>
    </g>
  </g>
</svg>