<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <g fill="none" fill-rule="evenodd" stroke="#4A4A4A">
        <path d="M15.54 21.264a13.971 13.971 0 0 1-4.962.485c-1.912-.149-3.695-.696-5.4-1.553-.753-.38-1.442-.876-2.13-1.364-.488-.343-.521-.52-.224-1.353.693-1.926 1.866-3.481 3.474-4.697.34-.26.62-.278.97.014 1.495 1.25 3.228 1.737 5.126 1.564 1.525-.14 2.882-.75 4.037-1.796.097-.09.194-.178.287-.27 1.253 1.082 1.808 1.667 2.322 2.387a16.698 16.698 0 0 1 1.963 3.6c-1.615 1.405-3.427 2.403-5.462 2.983zM6.75 6.802a4.803 4.803 0 1 1 9.606.001 4.803 4.803 0 0 1-9.605 0"/>
    </g>
</svg>
