.auth-box
  width: 602px
  background: white
  box-sizing: border-box

  min-height: 555px

  margin-left: auto
  margin-right: auto

  display: flex
  flex-direction: column

  @media #{$phone-media}
    margin-left: 0
    margin-right: 0
    width: 100%
    min-height: auto

  &_height
    &_auto
      min-height: auto

  &_space-h
    &_normal
      padding-left: 90px
      padding-right: 90px

    &_small
      padding-left: 73px
      padding-right: 73px

  @media #{$phone-media}
    padding-left: get-vw(20px)
    padding-right: get-vw(20px)

  &_space-t
    &_normal
      padding-top: 62px

      @media #{$phone-media}
        padding-top: get-vw(26px)

  &_space-b
    &_normal
      padding-bottom: 35px

      @media #{$phone-media}
        padding-bottom: get-vw(28px)

    &_medium
      padding-bottom: 60px

      @media #{$phone-media}
        padding-bottom: get-vw(28px)

    &_large
      padding-bottom: 75px

      @media #{$phone-media}
        padding-bottom: get-vw(28px)

  &__header
    color: $light-navy
    font-size: 30px
    font-weight: 600
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(25px)

    &_align
      &_center
        text-align: center

    &_indent-b
      &_normal
        margin-bottom: 66px

        @media #{$phone-media}
          margin-bottom: get-vw(30px)

      &_small
        margin-bottom: 24px

  &__controls
    display: flex
    flex-direction: column
    align-items: center

    margin-top: auto

    &_indent-t
      &_normal
        margin-top: 40px

      &_medium
        margin-top: 70px

      &_large
        margin-top: 120px

    @media #{$phone-media}
      margin-top: get-vw(30px)

  &__primary-button
    width: 238px

    @media #{$phone-media}
      width: get-vw(238px)

      &_m-size
        &_100
          width: 100%

    &:not(:last-child)
      margin-bottom: 22px

      @media #{$phone-media}
        margin-bottom: get-vw(20px)

  &__controls-link
    font-size: 1.7rem
    line-height: 1.59

    @media #{$phone-media}
      font-size: get-vw(17px)

  &__form-link
    font-size: 1.7rem
    line-height: 1.59

    @media #{$phone-media}
      font-size: get-vw(17px)
      line-height: 1.59

  &__sms-hint
    font-size: 1.7rem
    line-height: 1.59
    margin-top: 15px

    @media #{$phone-media}
      font-size: get-vw(17px)
      margin-top: get-vw(25px)

  &__message
    text-align: center
    font-size: 2.2rem
    line-height: 1.59
    max-width: 433px

    @media #{$phone-media}
      max-width: none
      font-size: get-vw(22px)

  &__resend-link
    @media #{$phone-media}
      display: block
      margin-top: get-vw(10px)