.auth-page
  &__page-underlay
    padding-top: 115px
    padding-bottom: 135px

    &_space-v
      &_large
        padding-top: 235px
        padding-bottom: 315px

    @media #{$phone-media}
      padding-top: 0
      padding-bottom: 0
      border-top: 1px solid rgba(161, 161, 161, 0.3)
      border-bottom: 1px solid rgba(161, 161, 161, 0.3)