.date-selector
  display: flex
  align-items: center
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)

  @media #{$tablet-media}
    box-shadow: none
    flex-direction: column

  @media #{$phone-media}
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)

  &__calendar-wrapper
    background-color: white
    width: 380px

    @media #{$tablet-media}
      width: 100%
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)

    @media #{$phone-media}
      box-shadow: none

    .DayPicker-Caption
      line-height: 1.44

    .expert-day-picker
      margin: 0 auto
      display: flex
      padding-bottom: 10px

      @media #{$tablet-large-media}
        padding-bottom: 0

    .DayPicker-Month
      border-spacing: 12px 3px
      margin: 0 6px

      @media #{$tablet-large-media}
        border-spacing: 3px

      @media #{$tablet-media}
        border-spacing: 12px 3px

      @media #{$phone-media}
        border-spacing: get-vw(5px)

    .DayPicker-Weekday
      padding-top: 8px
      padding-bottom: 15px

    .year
      text-transform: capitalize

    .DayPicker-Body
      padding-top: 10px

  &__slots-wrapper
    background-color: white
    width: 380px
    box-sizing: border-box
    padding: 20px 21px
    border-left: 1px solid rgba(#a3a3a3, 0.4)
    align-self: stretch

    @media #{$tablet-media}
      width: 100%
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)
      border-left: none
      margin-top: 20px

    @media #{$phone-media}
      box-shadow: none
      margin-top: 0
      border-top: get-vw(1px) solid rgba(#a3a3a3, 0.4)

    &_space-v
      &_none
        padding-top: 0
        padding-bottom: 0

    &_space-h
      &_none
        padding-left: 0
        padding-right: 0

  &__header
    opacity: 0.9
    color: #6c6c6c
    font-size: 1.3rem
    margin-bottom: 14px

  &__slots-group
    display: flex
    flex-wrap: wrap

  &__slot
    width: 60px
    margin-right: 9px
    user-select: none

    &_disabled
      opacity: 0.4

    .doctor-slots-column__slot:not(:last-child)
      margin-bottom: 0

    &:not(:last-child)
      margin-bottom: 10px

    &:nth-child(5n)
      margin-right: 0

  &__tooltip
    font-size: 1.5rem
    color: #6c6c6c
    line-height: 1.53
    padding: 13px 8px 14px 15px
    left: 0
    max-width: 207px

    &:before
      left: 15px