.appointment-form
  &__container
    padding-top: 20px
    padding-bottom: 45px

    @media #{$phone-media}
      padding-top: 0
      padding-bottom: get-vw(35px)

  &__header
    font-size: 2.8rem
    font-weight: 600
    color: $light-navy
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(23px)
      line-height: 1.35

    &_indent-b
      &_small
        margin-bottom: 25px

        @media #{$phone-media}
          margin-bottom: get-vw(20px)

      &_large
        margin-bottom: 35px

        @media #{$phone-media}
          margin-bottom: get-vw(25px)

  &__subheader
    font-size: 2rem
    line-height: 1.5
    font-weight: 600
    color: $dark
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(15px)
      line-height: 1.53

    &_indent-b
      &_normal
        margin-bottom: 15px

        @media #{$phone-media}
          margin-bottom: get-vw(20px)

  &__section
    padding-top: 40px
    padding-bottom: 40px

    @media #{$phone-media}
      padding-top: get-vw(30px)
      padding-bottom: get-vw(30px)

    &_border
      &_bottom
        border-bottom: 1px solid rgba(#a3a3a3, 0.4)

        @media #{$phone-media}
          border-bottom-width: get-vw(1px)

  &__radiobutton-container
    margin-bottom: 50px

    &_indent-b
      &_small
        margin-bottom: 25px

        @media #{$phone-media}
          margin-bottom: get-vw(20px)

  &__date-selector
    margin-top: 15px

    @media #{$phone-media}
      margin-top: get-vw(20px)

  &__note
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown

    @media #{$phone-media}
      font-size: get-vw(14px)
      line-height: 1.64

    &_max-width
      &_narrow
        max-width: 446px

        @media #{$phone-media}
          max-width: none

    &_indent-t
      &_normal
        margin-top: 23px

        @media #{$phone-media}
          margin-top: get-vw(20px)

      &_large
        margin-top: 30px

        @media #{$phone-media}
          margin-top: get-vw(20px)

    &_sidebar
      @media #{$phone-media}
        max-width: get-vw(240px)
        line-height: 1.54
        font-size: get-vw(13px)
        margin-left: auto
        margin-right: auto


  &__input-group
    max-width: 490px

    @media #{$tablet-large-media}
      max-width: none

    @media #{$phone-media}
      &:not(:last-child)
        margin-bottom: get-vw(20px)

  &__comment-textarea
    height: 191px

    @media #{$phone-media}
      height: get-vw(80px)

  &__comment-note
    margin-top: 10px
    color: #6c6c6c
    font-size: 1.5rem
    line-height: 1.53

    @media #{$phone-media}
      margin-top: get-vw(10px)
      font-size: get-vw(13px)
      line-height: 1.64

  &__radiobutton-price
    font-size: 2rem
    line-height: 1.4
    color: $dark
    flex-shrink: 0

    @media #{$phone-media}
      font-size: get-vw(17px)
      line-height: 1.65

  &__radiobutton-diagnostics-label
    display: flex
    flex-grow: 1
    justify-content: space-between
    align-items: center

  &__radiobuttons-payment
    @media #{$tablet-large-media}
      display: flex
      flex-direction: column

    .radiobutton
      @media #{$tablet-large-media}
        width: 100%
        height: 90px

      @media #{$phone-media}
        height: auto

    .radiobutton_indent-r_normal
      @media #{$tablet-large-media}
        margin-right: 0
        margin-bottom: 20px

      @media #{$phone-media}
        margin-bottom: get-vw(10px)

  &__diagnostics-label-group
    margin-bottom: 27px

    .radiobutton
      height: auto

    @media #{$phone-media}
      margin-bottom: get-vw(15px)

  &__filter
    height: 90px
    padding-top: 23px

    @media #{$phone-media}
      height: get-vw(72px)
      padding-top: get-vw(12px)

  &__page-header
    margin-bottom: 43px

    @media #{$phone-media}
      display: flex
      flex-wrap: nowrap
      justify-content: space-between
      margin-bottom: get-vw(30px)
      margin-right: get-vw(-10px)
      max-width: none

.appointment-form-layout
  display: flex
  justify-content: space-between

  @media #{$phone-media}
    flex-direction: column
    justify-content: flex-start

  &__content
    width: 760px
    flex-shrink: 0

    @media #{$tablet-large-media}
      width: 547px

    @media #{$tablet-media}
      width: 340px

    @media #{$phone-media}
      width: 100%

  &__sidebar
    width: 359px
    padding-top: 144px

    &_diagnostics
      padding-top: 99px

    @media #{$tablet-media}
      width: 340px

    @media #{$phone-media}
      width: 100%
      padding-top: 0


.appointment-info-card
  background: white
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)

  &__content
    padding: 29px 39px 18px 32px

    @media #{$phone-media}
      padding: get-vw(15px) get-vw(20px) get-vw(20px)

  &__header
    font-size: 20px
    line-height: 1.5
    color: $dark
    font-weight: 600

    @media #{$phone-media}
      font-size: get-vw(15px)
      line-height: 1.53

    &_indent-b
      &_normal
        margin-bottom: 8px

        @media #{$phone-media}
          margin-bottom: get-vw(5px)

  &__label
    color: $greish-brown
    font-size: 1.7rem
    line-height: 1.59
    display: flex
    align-items: center

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54

    &_price
      justify-content: space-between

      span
        font-size: 2rem
        line-height: 1.4
        color: $dark

        @media #{$phone-media}
          font-size: get-vw(17px)
          line-height: 1.65

  &__section
    padding: 20px 0
    border-bottom: 1px solid rgba(#a3a3a3, 0.4)

    @media #{$phone-media}
      padding: get-vw(15px) 0

    &:last-child
      padding-bottom: 0
      border-bottom: none

    &:first-child
      padding-top: 0

  &__footer
    border-top: 1px solid rgba(#a3a3a3, 0.4)
    padding: 36px 32px 33px

    @media #{$phone-media}
      padding: get-vw(20px)

  &__price
    display: flex
    font-size: 2.9rem
    font-weight: 600
    line-height: 0.97
    color: $dark
    align-items: center
    margin-top: 11px
    margin-bottom: 24px

    @media #{$phone-media}
      margin-top: get-vw(12px)
      margin-bottom: get-vw(20px)
      font-size: get-vw(29px)

    span
      font-size: 2.4rem
      line-height: 1.14
      padding-top: 2px
      padding-left: 5px

      @media #{$phone-media}
        font-size: get-vw(24px)
        padding-top: get-vw(2px)
        padding-left: get-vw(5px)

  &__price-old
    opacity: 0.3
    font-size: 2.1rem
    font-weight: normal

    position: relative

    margin-left: 30px

    @media #{$phone-media}
      font-size: get-vw(21px)
      margin-left: get-vw(15px)

    &:after
      height: 1px
      width: 100%
      content: ''
      display: block
      position: absolute
      top: 50%
      transform: translateY(-50%)
      background: $dark

    span
      font-size: 1.8rem
      line-height: normal

      @media #{$phone-media}
        font-size: get-vw(18px)

  &__doctor-info
    display: flex
    align-items: center

    @media #{$phone-media}
      margin-top: get-vw(10px)

  &__doctor-photo
    display: inline-block
    width: 62px
    height: 62px
    box-sizing: border-box
    background: $pale-gray
    border-radius: 50%
    margin-right: 17px
    padding-top: 5px
    overflow: hidden
    user-select: none

    @media #{$phone-media}
      width: get-vw(62px)
      height: get-vw(62px)
      margin-right: get-vw(17px)
      padding-top: get-vw(5px)

    img
      object-fit: contain
      width: 100%
      height: 100%
      object-position: 50% 50%

  &__doctor-name
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown

    @media #{$phone-media}
      font-size: get-vw(17px)

    span
      display: block


.appointment-form-tooltip
  width: 345px
  padding: 20px 29px 35px 30px

  font-size: 1.5rem
  font-weight: normal
  color: $dark
  line-height: 1.53

  @media #{$tablet-media}
    left: unset
    right: -20px
    top: 55px

    &:before
      left: unset
      right: 28px

      @media #{$phone-media}
        right: get-vw(13px)

  @media #{$phone-media}
    width: get-vw(280px)
    right: get-vw(-5px)
    top: get-vw(55px)
    padding: get-vw(20px) get-vw(40px) get-vw(28px) get-vw(26px)

  &__header
    font-size: 1.7rem
    line-height: 1.59
    margin-bottom: 18px

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.57
      margin-bottom: get-vw(10px)

  &__paragraph
    font-size: 1.5rem
    line-height: 1.53

    @media #{$phone-media}
      font-size: get-vw(14px)
      line-height: 1.57

    &:not(:last-child)
      margin-bottom: 16px

      @media #{$phone-media}
        margin-bottom: get-vw(10px)