.appointment-success
  &__container
    padding-top: 106px
    padding-bottom: 123px

    @media #{$phone-media}
      padding-top: get-vw(40px)
      padding-bottom: get-vw(40px)

  &__page-header
    color: $light-navy
    margin: 0
    font-size: 5.6rem
    font-weight: 600
    text-align: center

    &_indent-b
      &_normal
        margin-bottom: 14px

        @media #{$phone-media}
          margin-bottom: get-vw(30px)

    @media #{$phone-media}
      font-size: get-vw(30px)
      text-align: left

  &__page-hint
    max-width: 603px
    margin: 0 auto
    font-size: 2.2rem
    color: $dark
    text-align: center
    line-height: 1.59

    @media #{$phone-media}
      line-height: 1.53
      font-size: get-vw(17px)
      text-align: left

  &__actions
    display: flex
    align-items: center
    justify-content: center

    @media #{$phone-media}
      flex-direction: column

    .button
      width: 295px

      @media #{$phone-media}
        width: 100%

    * + *
      margin-left: 17px

      @media #{$phone-media}
        margin-top: get-vw(10px)
        margin-left: 0

.appointment-success-page
  &__card
    margin-top: 40px
    margin-bottom: 50px

    @media #{$phone-media}
      margin-top: get-vw(25px)
      margin-bottom: get-vw(40px)

.appointment-success-card
  background: $pale-gray
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)

  padding: 66px 90px 48px
  box-sizing: border-box
  margin-left: auto
  margin-right: auto

  @media #{$phone-media}
    padding: get-vw(15px) get-vw(20px)

  display: flex

  &__content
    flex-grow: 1

  &__photo
    width: 363px
    margin-right: 10px
    height: 366px
    align-self: flex-end
    display: none
    flex-shrink: 0

    @media #{$tablet-media}
      width: 218px
      margin-right: 20px

    @media #{$phone-media}
      margin-right: get-vw(12px)

    &_desktop
      display: block

      @media #{$tablet-media}
        display: none

    &_mobile
      display: none
      width: 100px
      height: 100px
      border-radius: 50%
      box-sizing: border-box
      background: white
      overflow: hidden
      margin-left: get-vw(-3px)

      @media #{$tablet-media}
        display: block

      @media #{$phone-media}
        width: get-vw(64px)
        height: get-vw(64px)

    img
      width: 100%
      height: 100%
      object-fit: contain
      object-position: left bottom

      @media #{$tablet-media}
        margin-top: 10px
        object-position: center bottom

      @media #{$phone-media}
        margin-top: get-vw(8px)

  &_space-h
    &_none
      padding-top: 0
      padding-bottom: 0

    &_small
      padding-top: 40px
      padding-bottom: 22px

      @media #{$phone-media}
        padding-top: 0
        padding-bottom: 0

  &_space
    &_photo
      padding-left: 26px
      padding-bottom: 0
      padding-top: 62px
      align-self: end

      @media #{$tablet-media}
        padding-left: 40px
        padding-right: 40px

        .appointment-success-card__content
          padding-bottom: 50px

      @media #{$phone-media}
        padding: get-vw(15px) get-vw(20px)

        .appointment-success-card__content
          padding-bottom: 0

  &_width
    &_wide
      width: 960px

      @media #{$tablet-large-media}
        width: 100%

    &_narrow
      width: 760px

      @media #{$tablet-media}
        width: 100%

  &__title-wrapper
    margin-bottom: 30px

    @media #{$tablet-media}
      display: flex
      align-items: center

    @media #{$phone-media}
      margin-bottom: get-vw(15px)

  &__title
    font-size: 2.8rem
    font-weight: 600
    color: $dark

    @media #{$tablet-media}
      span
        display: block

    @media #{$phone-media}
      font-size: get-vw(18px)
      width: get-vw(135px)


.appointment-success-table
  &__row
    display: flex

    @media #{$phone-media}
      flex-direction: column

    &_border
      &_top
        border-top: 1px solid rgba(#a3a3a3, 0.2)

        @media #{$phone-media}
          border-top-width: get-vw(1px)

      &_bottom
        border-bottom: 1px solid rgba(#a3a3a3, 0.2)

        @media #{$phone-media}
          border-bottom-width: get-vw(1px)

    &_space-v
      &_normal
        padding-top: 20px
        padding-bottom: 20px

        @media #{$phone-media}
          padding-top: get-vw(15px)
          padding-bottom: get-vw(15px)

      &_large
        padding-top: 25px
        padding-bottom: 25px

        @media #{$phone-media}
          padding-top: get-vw(15px)
          padding-bottom: get-vw(15px)

    &_doctor
      @media #{$tablet-media}
        border-top: none

    &_total
      @media #{$phone-media}
        margin: 0 get-vw(-20px)
        padding-right: get-vw(20px)
        padding-left: get-vw(20px)

        .appointment-success-table__title
          margin-bottom: get-vw(12px)

  &__title
    width: 200px
    font-size: 1.8rem
    line-height: 1.56
    color: $dark
    font-weight: 600
    margin-right: 32px

    &_width
      &_small
        width: 170px

    @media #{$phone-media}
      width: get-vw(200px)
      margin-right: 0
      font-size: get-vw(15px)
      line-height: 1.53
      margin-bottom: get-vw(5px)

  &__content
    font-size: 1.7rem
    color: $greish-brown
    line-height: 1.59

    @media #{$phone-media}
      font-size: get-vw(17px)

  &__map-link
    margin-top: 10px

  &__payment-method
    color: #6c6c6c
    opacity: 0.9
    margin-top: 10px

    @media #{$phone-media}
      margin-top: get-vw(12px)

    &_size
      &_small
        font-size: 1.3rem
        line-height: normal

        @media #{$phone-media}
          font-size: get-vw(13px)

      &_normal
        font-size: 1.5rem
        line-height: 1.53

        @media #{$phone-media}
          font-size: get-vw(13px)

