.promos-page
  &__tabs
    margin-top: 18px
    margin-bottom: 50px
    position: relative

    @media #{$phone-media}
      margin-top: get-vw(20px)
      margin-bottom: get-vw(40px)

  &__news-card
    &-large
      height: 449px

      @media #{$phone-media}
        height: get-vw(440px)

      .news-card__image
        width: 760px

        @media #{$tablet-large-media}
          width: 560px

        @media #{$tablet-media}
          width: 350px

        @media #{$phone-media}
          width: 100%
          height: get-vw(189px)

      .news-card__description
        @media #{$phone-media}
          display: none

      .news-card__content
        max-width: 345px
        padding-top: 35px
        padding-bottom: 35px

        @media #{$phone-media}
          padding-top: get-vw(24px)
          padding-bottom: get-vw(24px)

    &-small
      margin-bottom: 40px

      .news-card
        margin-left: 0
        margin-right: 0
        margin-bottom: 0

        &, .news-card__image, .news-card__footer:before
          @media #{$tablet-media}
            width: 330px

          @media #{$phone-media}
            width: get-vw(280px)

        .news-card__image
          @media #{$phone-media}
            height: 189px

        @media #{$phone-media}
          height: get-vw(440px)

      @media #{$tablet-large-media}
        margin-bottom: 30px

      @media #{$tablet-media}
        margin-bottom: 40px

      &:not(:nth-child(3n))
        margin-right: 40px

        @media #{$tablet-large-media}
          margin-right: 30px

        @media #{$tablet-media}
          margin-right: 0

      &:not(:nth-child(2n))
        @media #{$tablet-media}
          margin-right: 40px

        @media #{$phone-media}
          margin-right: 0

      @media #{$phone-media}
        margin-bottom: get-vw(20px)


.promos-container
  &__cards
    display: flex
    margin-top: 40px
    flex-wrap: wrap

    @media #{$tablet-large-media}
      margin-top: 30px

    @media #{$tablet-media}
      margin-top: 40px

    @media #{$phone-media}
      margin-top: get-vw(20px)

  &__more
    margin-top: 15px
    padding-bottom: 75px

    display: flex
    justify-content: center

    @media #{$phone-media}
      margin-top: get-vw(15px)
      padding-bottom: get-vw(30px)

    .button
      width: 270px

      @media #{$phone-media}
        width: get-vw(280px)

