.promo-page
  &__jumbotron-container
    min-height: 504px

  &__book-button
    width: 215px

    @media #{$phone-media}
      width: get-vw(280px)

  &__tick-list

    .tick-list__item
      font-size: 2.2rem
      line-height: 1.5

      &:before
        top: 7px

      &:not(:last-child)
        margin-bottom: 36px

      @media #{$phone-media}
        font-size: get-vw(13px)
        line-height: 1.54

        &:before
          top: get-vw(-1px)

        &:not(:last-child)
          margin-bottom: get-vw(17px)

  &__note
    font-size: 1.7rem
    line-height: 1.59
    color: #464646
    max-width: 1045px
    padding-bottom: 0

    @media #{$phone-media}
      font-size: get-vw(13px)
      line-height: 1.54

  &__image
    @media #{$phone-media}
      height: get-vw(278px)

  &__content
    padding-bottom: 80px

    @media #{$tablet-media}
      padding-bottom: 50px

    @media #{$phone-media}
      padding-bottom: get-vw(30px)

  &__desktop-text
    @media #{$phone-media}
      display: none

  &__mobile-text
    display: none

    @media #{$phone-media}
      display: block

      &_indent-t
        &_normal
          margin-top: get-vw(20px)

  &__shadow-text-header
    @media #{$phone-media}
      margin-bottom: 0
