.cabinet-doctors
  &__doctor
    padding-top: 0
    padding-bottom: 0
    display: flex
    flex-direction: row
    height: 300px

    &:not(last-child)
      margin-bottom: 35px

      @media #{$phone-media}
        margin-bottom: get-vw(20px) !important

    @media #{$tablet-media}
      padding-left: 190px

    @media #{$phone-media}
      padding-left: 0
      flex-direction: column
      height: auto

    .doctor-photo
      left: 0
      width: 250px
      height: 250px

      @media #{$tablet-large-media}
        left: -45px

      @media #{$tablet-media}
        width: 230px
        height: 230px

      @media #{$phone-media}
        left: get-vw(10px)
        top: get-vw(13px)
        width: get-vw(105px)
        height: get-vw(105px)

        img
          width: 100%
          height: 100%

    .doctor-info
      @media #{$phone-media}
        margin-bottom: get-vw(10px)
        padding-top: get-vw(15px)

    .doctor-info__name
      font-size: 2.8rem

      @media #{$tablet-media}
        width: 235px
        font-size: 2.4rem
        margin-bottom: 0

      @media #{$phone-media}
        padding-left: get-vw(128px)
        font-size: get-vw(18px)
        padding-top: get-vw(18px)

    .doctor-info__description
      line-height: 1.59
      font-size: 1.7rem
      width: 340px
      margin-bottom: 0

      @media #{$tablet-media}
        width: 216px
        margin-top: 0

      @media #{$phone-media}
        width: auto
        padding-left: get-vw(20px)
        padding-right: get-vw(20px)
        margin-top: get-vw(38px)
        font-size: get-vw(14px)
        line-height: 1.7
        color: #6c6c6c

  &__container
    padding-top: 60px
    padding-bottom: 95px

    @media #{$phone-media}
      padding-top: get-vw(40px)
      padding-bottom: get-vw(40px)

  &__doctor-actions
    border-left: 1px solid rgba(#a3a3a3, 0.4)
    width: 390px
    box-sizing: border-box
    flex-shrink: 0
    margin-left: auto
    padding: 30px
    display: flex
    flex-direction: column

    @media #{$tablet-large-media}
      width: 330px
      padding-left: 0

    @media #{$tablet-media}
      width: 270px
      padding-right: 20px

    @media #{$phone-media}
      border-top: get-vw(1px) solid rgba(#a3a3a3, 0.4)
      border-left: none
      margin-left: 0
      width: auto
      padding: get-vw(20px)

  &__doctor-links
    display: flex
    margin-left: 60px
    flex-direction: column
    margin-top: auto

    @media #{$tablet-media}
      margin-left: 30px

    &:last-child
      margin-bottom: auto

    @media #{$phone-media}
      margin-left: 0

  &__doctor-link
    color: $greish-brown
    text-decoration: none

    @media #{$phone-media}
      .pt-icon-plus__block
        font-size: get-vw(14px)

    &:not(:last-child)
      margin-bottom: 25px

      @media #{$phone-media}
        margin-bottom: get-vw(10px)

  &__doctor-note
    border: 1px solid $pale-gray
    border-radius: 6px
    padding: 10px 18px
    font-size: 1.5rem
    line-height: 1.54
    color: #6c6c6c
    margin-top: auto

    @media #{$tablet-large-media}
      margin: 30px 40px

    @media #{$tablet-media}
      margin-top: 25px
      margin-bottom: 10px
      margin-right: 15px
      margin-left: 30px

      padding: 4px 10px

    @media #{$phone-media}
      font-size: get-vw(14px)
      padding: get-vw(10px) get-vw(18px)
      border-radius: get-vw(6px)
      border-width: get-vw(1px)
      margin: get-vw(10px) 0 0
