.cabinet-page
  &__container
    padding-top: 60px
    padding-bottom: 90px

    @media #{$phone-media}
      padding-top: get-vw(35px)
      padding-bottom: get-vw(45px)

    &_space-t
      &_large
        padding-top: 90px

        @media #{$phone-media}
          padding-top: get-vw(45px)

  &__container-profile
    padding-top: 72px
    padding-bottom: 88px
    max-width: 641px
    padding-right: 120px

    @media #{$tablet-media}
      padding-right: 0
      max-width: none

    @media #{$phone-media}
      padding-top: get-vw(25px)
      padding-bottom: get-vw(40px)

  &__filter-tabs
    @media #{$phone-media}
      margin-top: get-vw(20px)
      justify-content: space-between
      width: 100%

      .buttons-tabs__tab
        padding-left: 0
        padding-right: 0
        border: none

        &_active
          font-weight: 600
          color: $dark

  &__header
    font-size: 2.8rem
    font-weight: 600
    color: $light-navy
    margin: 0

    @media #{$phone-media}
      font-size: get-vw(21px)

    &_indent-b
      &_normal
        margin-bottom: 25px

        @media #{$phone-media}
          margin-bottom: get-vw(25px)


  &__section
    &_indent-b
      &_normal
        margin-bottom: 130px

        @media #{$phone-media}
          margin-bottom: get-vw(45px)

      &_small
        margin-bottom: 60px

  &__header-actions
    display: flex
    justify-content: space-between
    align-items: center

    @media #{$phone-media}
      align-items: flex-start
      flex-direction: column

    &_indent-b
      &_normal
        margin-bottom: 25px

        @media #{$phone-media}
          margin-bottom: get-vw(25px)

  &__page-jumbotron
    @media #{$phone-media}
      background: $pale-gray

  &__logout-link
    @media (min-width: $tablet-min-width)
      font-weight: normal
      color: #6c6c6c
      margin-left: auto
      font-size: 1.5rem
      line-height: 1.53

    @media #{$tablet-large-media}
      margin-left: 0

    @media #{$phone-media}
      display: flex
      align-items: center

    svg
      width: 24px
      height: 24px
      margin-right: 10px

      @media #{$phone-media}
        width: get-vw(16px)
        height: get-vw(16px)
        margin-right: get-vw(10px)

      path
        transition: stroke $animation-easing

    &:hover
      @media #{$animation-media}
        svg path
          stroke: $light-navy

    a
      display: inline-flex
      align-items: center
      color: #6c6c6c

  &__tabs
    @media #{$phone-media}
      margin-top: get-vw(20px)

    .tabs__tab:not(:last-child)
      @media #{$tablet-large-media}
        margin-right: 0

      @media #{$tablet-media}
        margin-right: 60px

      @media #{$phone-media}
        margin-right: 0

    .tabs
      justify-content: space-between

      @media #{$phone-media}
        .cabinet-page__logout-link
          display: none

.cabinet-appointment
  display: flex
  background: white
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15)
  flex-direction: column

  &_indent-b
    &_normal
      margin-bottom: 36px

      @media #{$phone-media}
        margin-bottom: get-vw(20px)

  &__header
    padding: 20px 40px 20px 30px


    width: 100%
    box-sizing: border-box

    display: flex

    justify-content: space-between
    align-items: center

    border-bottom: 1px solid rgba(#a3a3a3, 0.2)

    @media #{$phone-media}
      flex-direction: column
      align-items: flex-start
      padding: get-vw(20px) 0
      border-bottom-width: get-vw(1px)

  &__content
    display: flex

    @media #{$phone-media}
      flex-direction: column

  &__cell
    flex: 1
    padding: 35px 30px 26px 30px

    @media #{$phone-media}
      padding: get-vw(20px)

    &:not(:last-child)
      border-right: 1px solid rgba(#a3a3a3, 0.2)

      @media #{$phone-media}
        border-right: none
        border-bottom: get-vw(1px) solid rgba(#a3a3a3, 0.2)


  &__doctor-photo
    max-width: 558px

    @media #{$tablet-media}
      max-width: 375px

    @media #{$phone-media}
      max-width: none
      padding-left: get-vw(20px)
      padding-right: get-vw(20px)
      padding-bottom: get-vw(20px)

      border-bottom: get-vw(1px) solid rgba(#a3a3a3, 0.2)


    .pt-icon-plus__icon
      height: 65px
      width: 65px
      background-color: $pale-gray
      margin-right: 19px
      border-radius: 50%
      box-sizing: border-box
      padding-top: 5px
      overflow: hidden
      flex-shrink: 0

      @media #{$phone-media}
        padding-top: get-vw(5px)
        height: get-vw(65px)
        width: get-vw(65px)
        margin-right: get-vw(16px)

      img
        width: 100%
        height: 100%
        object-fit: contain

    .pt-icon-plus__block
      font-size: 2.4rem
      font-weight: 600
      line-height: 1

      @media #{$phone-media}
        font-size: get-vw(18px)

  &__header-actions
    display: flex

    @media #{$tablet-large-media}
      flex-direction: column

    @media #{$phone-media}
      margin-top: get-vw(20px)
      padding-left: get-vw(20px)

  &__header-action
    cursor: pointer
    white-space: nowrap

    &:not(:last-child)
      margin-right: 26px

      @media #{$tablet-large-media}
        margin-right: 0
        margin-bottom: 10px

      @media #{$phone-media}
        margin-bottom: get-vw(10px)

    .pt-icon-plus__block
      font-size: 1.5rem
      line-height: 1.53
      color: #6c6c6c

      @media #{$phone-media}
        font-size: get-vw(15px)

      transition: color $animation-easing

    svg
      &, g, path
        stroke: #6c6c6c
        stroke-width: 1.3
        transition: stroke $animation-easing


    &:hover
      @media #{$animation-media}
        .pt-icon-plus__block
          color: $light-navy

        svg
          path
            stroke: $light-navy

  &__cell-header
    font-size: 1.8rem
    line-height: 1.56
    color: $dark
    font-weight: 600

    @media #{$phone-media}
      font-size: get-vw(15px)
      line-height: 1.53

  &__cell-label
    font-size: 1.7rem
    line-height: 1.59
    color: $greish-brown

    @media #{$phone-media}
      font-size: get-vw(17px)

  &__cell-price
    font-size: 2.9rem
    line-height: 0.97
    font-weight: 600
    color: $dark
    margin-top: 4px

    @media #{$phone-media}
      font-size: get-vw(29px)
      margin-top: get-vw(4px)

    span
      font-size: 2.4rem
      line-height: 1.17
      font-weight: normal

      @media #{$phone-media}
        font-size: get-vw(24px)

  &__cell-paid
    color: #6c6c6c
    margin-top: 6px
    opacity: 0.9
    font-size: 1.3rem

    @media #{$phone-media}
      margin-top: get-vw(6px)
      font-size: get-vw(13px)

  &__cell-map
    margin-top: 7px

    @media #{$phone-media}
      margin-top: get-vw(7px)

  &__details-table
    margin-top: 20px
    max-height: 0
    overflow: hidden
    transition: max-height 0.5s ease

    @media #{$phone-media}
      margin-top: 0

    &:after
      display: block
      content: ''
      padding-bottom: 50px

      @media #{$phone-media}
        padding-bottom: 0


  &__details-row
    padding-top: 18px
    padding-bottom: 18px

    display: flex
    justify-content: space-between

    border-bottom: 1px solid rgba(#a3a3a3, 0.2)

    @media #{$phone-media}
      padding-top: get-vw(18px)
      padding-bottom: get-vw(18px)
      border-bottom-width: get-vw(1px)

    &:first-child
      border-top: 1px solid rgba(#a3a3a3, 0.2)

      @media #{$phone-media}
        border-top: 0
        padding-top: 0

    &:last-child
      @media #{$phone-media}
        border-bottom: none

    .cabinet-appointment__cell-paid
      margin-top: 1px

      @media #{$phone-media}
        margin-top: get-vw(1px)

    @media #{$tablet-media}
      flex-direction: column

  &__details-label
    color: $greish-brown
    font-size: 1.7rem
    line-height: 1.59

    max-width: 160px

    @media #{$phone-media}
      max-width: none
      font-size: get-vw(17px)

  &__details-table-wrapper
    @media #{$phone-media}
      margin: get-vw(20px) get-vw(-20px) 0
      padding-left: get-vw(20px)
      padding-right: get-vw(20px)
      padding-top: get-vw(20px)
      border-top: get-vw(1px) solid rgba(#a3a3a3, 0.2)


  &__details-price
    line-height: 1.65
    font-size: 1.7rem
    color: $dark

    @media #{$tablet-media}
      margin-top: 10px

    @media #{$phone-media}
      font-size: get-vw(17px)
      margin-top: get-vw(10px)


  &__more
    font-size: 1.5rem
    letter-spacing: 0.21px
    color: $greish-brown
    cursor: pointer

    display: flex
    align-items: center

    @media #{$phone-media}
      font-size: get-vw(15px)

    svg
      width: 24px
      height: 24px
      transform: scale(0.5)
      object-fit: contain
      object-position: center
      transition: transform $animation-easing

      @media #{$phone-media}
        width: get-vw(24px)
        height: get-vw(24px)

      path
        stroke-width: 3
        stroke: $greish-brown

  &__details-table_expanded
    .cabinet-appointment__more svg
      transform: scale(0.5) rotate(180deg)


.cabinet-no-appointments
  &__header
    font-size: 2.4rem
    font-weight: 600
    color: $dark
    margin-bottom: 13px

    @media #{$phone-media}
      font-size: get-vw(19px)
      margin-bottom: get-vw(6px)

  &__text
    font-size: 1.8rem
    line-height: 1.72
    color: $greish-brown

    @media #{$phone-media}
      line-height: 1.64
      font-size: get-vw(14px)

  &__link
    text-decoration: none
    display: inline-block
    color: $greish-brown
    position: relative
    transition: color $animation-easing

    &:after
      display: block
      content: ''
      bottom: 0
      left: 0
      width: 100%
      height: 1px
      background: #a3a3a3
      transition: background-color $animation-easing

    &:hover
      @media #{$animation-media}
        color: $light-navy

        &:after
          background-color: $light-navy

