.cabinet-offers
  &__button-wrapper
    width: 100%
    display: flex
    justify-content: center
    margin-top: 10px

    @media #{$phone-media}
      margin-top: get-vw(20px)

  &__button
    width: 270px

    @media #{$phone-media}
      width: get-vw(280px)

  &__container
    padding-top: 60px
    padding-bottom: 95px

    @media #{$phone-media}
      padding-top: get-vw(30px)
      padding-bottom: get-vw(40px)

  &__offers
    display: flex
    flex-wrap: wrap

    .news-card
      margin: 0

    & > div
      margin-bottom: 40px

      @media #{$tablet-large-media}
        margin-bottom: 30px

      @media #{$tablet-media}
        margin-bottom: 50px

      @media #{$phone-media}
        margin-bottom: get-vw(20px)

      &:not(:nth-child(3n))
        margin-right: 40px

        @media #{$tablet-large-media}
          margin-right: 30px

        @media #{$tablet-media}
          margin-right: 0

      &:not(:nth-child(2n))
        @media #{$tablet-media}
          margin-right: 50px

        @media #{$phone-media}
          margin-right: 0