.cabinet-profile
  &__name
    font-size: 4rem
    line-height: 1.48
    color: $dark
    font-weight: 600
    margin-bottom: 1px

    @media #{$phone-media}
      font-size: get-vw(26px)
      line-height: 1.12
      margin-bottom: get-vw(17px)

  &__date
    font-size: 1.5rem
    line-height: 1.53
    color: #6c6c6c

    @media #{$phone-media}
      font-size: get-vw(15px)

  &__header
    padding-bottom: 13px
    border-bottom: 3px solid $light-navy

    @media #{$phone-media}
      padding-bottom: get-vw(19px)
      border-bottom-width: get-vw(3px)

  &__form
    padding-top: 41px
    padding-bottom: 41px

    @media #{$phone-media}
      padding-top: get-vw(26px)
      padding-bottom: get-vw(26px)

  &__actions
    border-top: 1px solid rgba(#a3a3a3, 0.3)
    padding-top: 36px

    @media #{$phone-media}
      padding-top: get-vw(30px)
      border-top-width: get-vw(1px)

  &__button
    @media #{$phone-media}
      width: get-vw(280px)

  &__input-group
    &:not(:last-child)
      margin-bottom: 20px

      @media #{$phone-media}
        margin-bottom: get-vw(26px)

    display: flex
    align-items: center
    justify-content: space-between

    @media #{$phone-media}
      flex-direction: column
      align-items: flex-start
      justify-content: flex-start

    .input-group__input
      width: 358px

      @media #{$phone-media}
        width: get-vw(280px)
        margin-top: get-vw(5px)