.footer
  padding-top: 92px
  padding-bottom: 64px
  background: white

  @media #{$tablet-large-media}
    padding-top: 35px

  @media #{$phone-media}
    padding-top: get-vw(23px)
    padding-bottom: 0

  &_border-top
    border-top: 1px solid rgba(#a1a1a1, 0.3)

    @media #{$phone-media}
      border-top-width: get-vw(1px)

  &-links
    display: flex
    justify-content: space-between
    padding-bottom: 65px
    @media #{$tablet-large-media}
      padding-bottom: 45px

    @media #{$tablet-media}
      flex-wrap: wrap
      padding-bottom: 25px

    @media #{$phone-media}
      flex-direction: column
      padding: 0 0 get-vw(14px) 0

    &-block
      display: flex
      flex-direction: column
      justify-content: space-between

      @media #{$tablet-media}
        padding-top: 31px

      @media #{$phone-media}
        padding-left: get-vw(20px)
        padding-right: get-vw(20px)
        box-sizing: border-box
        padding-top: get-vw(30px)

      &_contacts
        @media #{$tablet-media}
          order: -1
          width: 100%

          display: flex
          flex-direction: row
          justify-content: flex-start

          padding-bottom: 25px
          border-bottom: 1px solid rgba(161, 161, 161, 0.3)

          .footer-links-block__title_small
            max-width: 136px
            margin-right: 126px

            @media #{$phone-media}
              max-width: unset
              margin-right: 0

        @media #{$phone-media}
          flex-direction: column
          padding-top: 0
          padding-bottom: get-vw(30px)

      &__title
        font-size: 21px
        font-weight: 600
        color: $greish-brown
        margin-bottom: 30px

        @media #{$tablet-large-media}
          margin-bottom: 20px

        @media #{$phone-media}
          margin-bottom: get-vw(20px)
          font-size: get-vw(21px)

        &_small
          font-weight: normal
          color: #545454
          font-size: 1.6rem

          @media #{$phone-media}
            font-size: get-vw(16px)

        &_socials
          margin-bottom: 16px

          @media #{$phone-media}
            margin-bottom: get-vw(9px)

      &__link
        text-decoration: none
        font-size: 17px
        line-height: 1.59
        color: rgba(70, 70, 70, 0.8)
        transition: color $animation-easing

        &:hover
          @media #{$animation-media}
            color: $light-navy

        @media #{$phone-media}
          font-size: get-vw(17px)

        &:not(:last-child):not(.footer-links-block__link_contact)
          margin-bottom: 14px

          @media #{$tablet-large-media}
            margin-bottom: 7px

          @media #{$phone-media}
            margin-bottom: get-vw(9px)

        &_contact
          font-size: 1.9rem
          color: $greish-brown
          margin-bottom: 0

          @media #{$phone-media}
            font-size: get-vw(19px)

          &:first-of-type
            margin-bottom: 15px

            @media #{$tablet-large-media}
              margin-bottom: 2px
            @media #{$phone-media}
              margin-bottom: get-vw(9px)

      &__socials
        padding-top: 68px

        @media #{$tablet-large-media}
          padding-top: 53px

        @media #{$tablet-media}
          padding-top: 40px

        @media #{$phone-media}
          border-top: get-vw(1px) solid rgba(161, 161, 161, 0.3)
          margin-top: get-vw(30px)
          padding-top: get-vw(16px)
          padding-bottom: 0

        &_desktop
          display: block

          @media #{$tablet-media}
            display: none

        &_mobile
          display: none

          @media #{$tablet-media}
            display: block

          @media #{$phone-media}
            padding-left: get-vw(20px)
            padding-right: get-vw(20px)

        &-links
          transform: translateX(-13px)
          display: flex
          justify-content: space-between

          @media #{$phone-media}
            transform: translateX(get-vw(-13px))

      &__social
        display: flex
        width: 44px
        height: 44px
        align-items: center
        justify-content: center

        svg
          flex-shrink: 0
          display: block
          width: 100%
          height: 100%

          path
            opacity: 0.3
            transition: fill $animation-easing, opacity $animation-easing

        &:hover
          @media #{$animation-media}
            svg path
              opacity: 1
              fill: $light-navy

        @media #{$phone-media}
          height: get-vw(44px)
          width: get-vw(44px)

        &_vk svg
          width: 25px
          height: 25px

          @media #{$phone-media}
            width: get-vw(25px)
            height: get-vw(25px)

        &_odnoklassniki svg
          width: 13px
          height: 21px

          @media #{$phone-media}
            width: get-vw(13px)
            height: get-vw(21px)

        &_facebook svg
          width: 10px
          height: 20px

          @media #{$phone-media}
            width: get-vw(10px)
            height: get-vw(20px)

        &_twitter svg
          width: 18px
          height: 16px

          @media #{$phone-media}
            width: get-vw(18px)
            height: get-vw(16px)

        &_youtube svg
          width: 20px
          height: 14px

          @media #{$phone-media}
            width: get-vw(20px)
            height: get-vw(14px)

      &__contacts
        display: flex
        flex-direction: column


  &-copyrights
    border-top: 1px solid rgba(161, 161, 161, 0.3)
    display: flex
    justify-content: space-between
    padding-top: 60px
    font-size: 1.6rem
    color: #545454

    @media #{$tablet-large-media}
      padding-top: 45px

    @media #{$phone-media}
      flex-direction: column
      padding: get-vw(25px) get-vw(20px)
      border-top: get-vw(1px) solid rgba(161, 161, 161, 0.3)
      font-size: get-vw(16px)

  &-copyright
    &:last-child
      @media #{$phone-media}
        margin-top: get-vw(21px)

    &_redis
      text-decoration: none
      color: #9b9b9b
      transition: color $animation-easing

    &:hover
      @media #{$animation-media}
        .footer-copyright_redis
          color: #545454
    span
      white-space: nowrap

  &__container
    @media #{$phone-media}
      width: get-vw(320px)