.navigation
  z-index: 250
  position: relative
  background: white

  .navigation-container
    margin: 0 auto
    padding-left: 45px
    padding-right: 45px

    @media #{$tablet-media}
      padding-left: 25px
      padding-right: 25px

    @media #{$phone-media}
      max-width: get-vw(292px)

      padding-left: 0
      padding-right: 0

  &-top-row
    display: flex
    justify-content: space-between
    padding: 14px 0 10px 0
    font-size: 1.5rem
    color: $greish-brown

    @media #{$phone-media}
      padding: 0
      height: get-vw(34px)
      align-items: center
      font-size: get-vw(15px)

  &-links
    display: flex

    &__link
      color: $greish-brown
      text-decoration: none
      display: flex
      align-items: center
      transition: color $animation-easing

      &:not(:last-child)
        margin-right: 20px

      svg
        display: block
        width: 20px
        height: 20px
        object-fit: contain
        object-position: center
        margin-right: 5px

        path
          transition: stroke $animation-easing

        @media #{$phone-media}
          display: none

      &:hover
        @media #{$animation-media}
          color: $light-navy

          svg path
            stroke: $light-navy

      &_phone
        margin-right: 30px !important

      &_addresses
        margin-right: 20px

      &_phone, &_addresses
        @media #{$phone-media}
          display: none

      &_user
        @media #{$phone-media}
          display: block

          svg
            display: block
            width: get-vw(24px)
            height: get-vw(24px)

      &_search
        display: none

        @media #{$phone-media}
          display: flex
          padding-right: 15px
          border-right: #a1a1a1 1px solid
          margin-right: get-vw(13px) !important

        &:before
          width: get-vw(16px)
          height: get-vw(16px)
          opacity: 0.7
          display: block
          content: ''
          background: no-repeat center
          background-size: contain
          margin-right: get-vw(5px)
          flex-shrink: 0

          @media #{$phone-media}
            background: url("./../images/icons/search.svg") no-repeat center
            background-size: contain

      &_user
        span
          @media #{$phone-media}
            display: none

        &:before
          background-image: url("./../images/icons/user.svg")

    &__arrow
      svg
        width: 11px
        height: 11px
        margin-left: 5px
        flex-shrink: 0
        object-fit: contain
        object-position: center

        @media #{$phone-media}
          width: get-vw(11px)
          height: get-vw(11px)
          margin-left: get-vw(5px)

  &-bottom-row
    border-top: 1px solid rgba(#a1a1a1, 0.3)

    @media #{$phone-media}
      border-bottom: none

    &_border-bottom
      border-bottom: 1px solid rgba(#a1a1a1, 0.3)

    .navigation-container
      display: flex
      justify-content: space-between

      @media #{$phone-media}
        align-items: center

  &-logo
    display: block
    width: 328px
    height: 52px
    background: url("./../images/logo.svg") no-repeat center
    background-size: contain
    margin-right: 26px
    padding: 26px 0
    flex-shrink: 0

    @media #{$tablet-large-media}
      width: 255px
      height: 57px
      padding-top: 20px
      padding-bottom: 27px
      margin-right: 21px

    @media #{$tablet-media}
      margin-right: 0
      width: 219px
      height: 49px

    @media #{$phone-media}
      order: 1
      width: get-vw(185px)
      height: get-vw(29px)
      margin-right: 0

    &_search-expanded
      @media #{$tablet-media}
        width: 0

  &-search
    flex-grow: 1
    display: flex
    padding: 26px 10px
    align-items: center
    position: relative

    @media #{$tablet-media}
      padding-left: 19px
      padding-right: 19px

    @media #{$phone-media}
      display: none

    &__inner
      flex-grow: 1
      height: 100%
      align-items: center
      background: $pale-gray
      display: flex
      padding: 0 26px
      justify-content: space-between
      border-radius: 27px
      position: relative

      &:before
        width: calc(100% - 52px)
        content: ''
        position: absolute
        bottom: 0
        opacity: 0
        left: 50%
        z-index: 201
        transform: translateX(-50%)
        height: 3px
        background: $light-navy
        transition: opacity $animation-easing

      &-icon
        display: block
        width: 23px
        height: 23px
        z-index: 201
        content: ''
        flex-shrink: 0
        cursor: pointer

        path
          transition: stroke $animation-easing

        &:hover
          @media #{$animation-media}
            path
              stroke: $light-navy

    &-container
      flex-grow: 1
      display: flex

      @media #{$phone-media}
        display: none

    &-dropdown
      &-container
        position: absolute
        width: 100%
        background-color: $pale-gray
        border-bottom-right-radius: 27px
        border-bottom-left-radius: 27px
        box-sizing: border-box
        padding-bottom: 20px
        padding-top: 40px
        transform: translateY(100%)
        left: 0
        bottom: 25px
        z-index: 200

        &__inner
          max-height: 260px

        .rcs-inner-handle
          width: 5px
          background-color: $very-light-pink !important
          border-radius: 0 !important

        &__section
          &:not(:first-child)
            margin-top: 20px

      &-animation
        &-enter
          opacity: 0

          &-active
            opacity: 1
            transition: opacity 0.3s ease

        &-exit
          opacity: 0
          transition: opacity 0.3s ease


      &-exit
        opacity: 0
        transition: opacity 0.3s ease

      &__title
        display: block
        font-size: 1.3rem
        font-weight: 600
        line-height: 1.77
        padding: 10px 0 2px 0
        margin: 0 26px 10px 26px
        color: $greish-brown

        &:first-of-type
          padding-top: 0

        &:not(:last-child)
          border-bottom: 1px solid rgba(#979797, 0.2)


      &__link
        display: block
        color: $brownish-gray
        text-decoration: none
        font-size: 1.5rem
        line-height: 1.53
        padding: 3px 26px
        transition: background-color $animation-easing

        &:hover
          background: white

    &__input
      width: 100%
      height: 29px
      box-sizing: border-box
      -webkit-appearance: none
      border: none
      color: $greish-brown
      font-size: 1.7rem
      outline: none
      z-index: 201
      background: $pale-gray

    &_expanded
      filter: drop-shadow(0 5px 8px rgba(0, 0, 0, .10))

      .navigation-search__inner
        &:before
          opacity: 1

        &-icon
          path
            stroke: $light-navy


  &-menu
    display: flex
    padding-left: 30px
    padding-right: 0
    align-items: center

    @media #{$tablet-large-media}
      padding-left: 19px
      padding-right: 0

    @media #{$phone-media}
      order: 0
      padding: 0

    &__navigation-hamburger
      margin-right: 25px

      @media #{$tablet-media}
        margin-right: 0

    &__button
      @media #{$phone-media}
        display: none

  &-hamburger
    display: flex
    align-items: center
    cursor: pointer
    opacity: 0.7

    @media #{$animation-media}
      transition: opacity $animation-easing

    &__icon
      display: block
      width: 24px
      height: 24px
      margin-right: 19px
      position: relative
      transform: scale(1.5)

      svg
        width: 100%
        height: 100%

        path
          transition: stroke $animation-easing

      @media #{$tablet-large-media}
        margin-right: 11px

      @media #{$tablet-media}
        margin-right: 25px

      @media #{$phone-media}
        transform: none
        margin-right: 0
        width: get-vw(24px)
        height: get-vw(24px)

    &:hover
      @media #{$animation-media}
        svg path
          stroke: $light-navy

    &__title
      font-size: 2rem
      color: $greish-brown

      @media #{$tablet-large-media}
        font-size: 1.7rem

      @media #{$tablet-media}
        display: none

      @media #{$animation-media}
        transition: color $animation-easing

    &:hover
      opacity: 1

      .navigation-hamburger__title
        color: $light-navy

      .navigation-hamburger__icon:before, .navigation-hamburger__icon:after, .navigation-hamburger__icon-inner
        background: $light-navy

  &-call
    display: none
    order: 3
    width: get-vw(41px)
    height: get-vw(41px)
    flex-shrink: 0
    background: url("./../images/icons/phone-circle.svg") center no-repeat
    background-size: contain
    position: relative
    cursor: pointer

    @media #{$phone-media}
      display: block

  &-city-selector
    display: flex
    align-items: center
    cursor: pointer
    transition: color $animation-easing


    svg
      width: 11px
      height: 11px
      margin-left: 5px
      flex-shrink: 0
      object-fit: contain
      object-position: center

      path
        transition: stroke $animation-easing

      @media #{$phone-media}
        width: get-vw(11px)
        height: get-vw(11px)
        margin-left: get-vw(5px)

    &:hover
      @media #{$animation-media}
        color: $light-navy

        svg path
          stroke: $light-navy