.mobile-search
  display: none
  position: absolute
  padding-right: 15px
  box-sizing: border-box
  margin-right: 8px
  left: get-vw(179px)
  background: white
  width: get-vw(100px)
  height: get-vw(34px)

  transition: width 0.5s ease, left 0.5s ease

  &-component
    display: flex
    align-items: center

  @media #{$phone-media}
    display: flex
    align-items: center


  &:before
    display: block
    content: ''
    width: get-vw(19px)
    height: get-vw(19px)
    margin-right: get-vw(8px)
    flex-shrink: 0
    background-size: contain
    background: url('./../images/icons/search.svg') no-repeat center

  &:after
    display: block
    content: ''
    height: get-vw(20px)
    width: get-vw(1px)
    background: #a1a1a1
    opacity: 0.3
    transition: opacity 0.2s ease


  &__input
    border: none
    outline: none
    font-size: get-vw(15px)
    color: $greish-brown
    width: 100%

    &::placeholder
      color: $greish-brown



  &_opened
    left: get-vw(14px)
    border-right: none
    width: calc(100% - #{get-vw(14px)})

    &:after
      opacity: 0

  &__close
    position: relative
    width: get-vw(17px)
    height: get-vw(17px)
    flex-shrink: 0
    margin-left: get-vw(5px)
    transform: rotate(45deg)
    cursor: pointer

    &:before, &:after
      content: ''
      position: absolute
      background: #A4A4A4

    &:before
      width: 100%
      height: get-vw(1px)
      left: 0
      top: 50%
      transform: translateY(-50%)

    &:after
      height: 100%
      width: get-vw(1px)
      top: 0
      left: 50%
      transform: translateX(-50%)