!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Expert
    = csrf_meta_tags
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/

  %body{:class => @pageClass}
    = render :partial => '/shared/layout/header'
    = yield
    = render :partial => '/shared/layout/footer'
    = render :partial => '/shared/city_select_popup'